body {
  color: #86939e;
}
a {
  color: #2e71f0;
}
a:hover {
  color: #1056db;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  background: #2e71f0;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  color: #2e71f0 !important;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #2e71f0 !important;
}
#offcanvas-toggler >i:hover {
  color: #2e71f0;
}
.btn:hover,
.btn:focus,
.sppb-btn:hover,
.sppb-btn:focus {
  background-color: #1056db !important;
}
ul.social-icons >li a:hover {
  color: #2e71f0;
}
.sp-page-title {
  background: #2e71f0;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #86939e;
}
.sp-module ul >li >a:hover {
  color: #2e71f0;
}
.sp-module .latestnews >div >a {
  color: #86939e;
}
.sp-module .latestnews >div >a:hover {
  color: #2e71f0;
}
.sp-module .tagscloud .tag-name:hover {
  background: #2e71f0;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #2e71f0;
}
.search .btn-toolbar button {
  background: #2e71f0;
}
.post-format {
  background: #2e71f0;
}
.voting-symbol span.star.active:before {
  color: #2e71f0;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #1056db;
}
.entry-link,
.entry-quote {
  background: #2e71f0;
}
blockquote {
  border-color: #2e71f0;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #2e71f0;
}
#sp-footer {
  background: #2e71f0;
}
.pagination>li>a,
.pagination>li>span {
  color: #86939e;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #86939e;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #2e71f0;
  background-color: #2e71f0;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #2e71f0;
  background-color: #2e71f0;
}
body {
  background-color: #ffffff;
}
.major-color,
.sp-my-account ul.nav > li > a:hover,
.btn.btn-default,
.sppb-btn.btn-default,
.btn.sppb-btn-default,
.sppb-btn.sppb-btn-default,
.sppb-addon-accordion .sppb-addon-content .sppb-panel-group .sppb-panel-heading .sppb-toggle-direction,
.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .customNavigation a:hover,
.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .customNavigation a:focus,
.simple-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-magnific-popup.sppb-modal-selector i,
.sppb-addon-header.title-line-after:after,
.sppb-addon-header.title-line-before:before,
.sppb-addon-feature:hover .sppb-icon i,
.sppb-testimonial-pro-advanced .sppb-carousel-control:hover,
.sppb-testimonial-pro-advanced .sppb-carousel-control:focus,
.sppb-addon-tab .sppb-tab .sppb-nav-tabs li.active a,
.sppb-addon-pricing-table .sppb-pricing-box .sppb-pricing-price-wrap .sppb-pricing-price,
.reset .form-validate .form-group button,
.icon-top-wrapper:hover i,
article.item-page .tags a:hover,
article.item-page .pager.pagenav li a:hover,
article.item-page .pager.pagenav li a:focus,
article.item-page .pager.pagenav li a:hover span,
article.item-page .pager.pagenav li a:focus span,
.view-article .author-info .author-social-link li a:hover,
#sp-left .sp-module ul.mostread li .category-tag a:hover,
#sp-right .sp-module ul.mostread li .category-tag a:hover,
#sp-left .sp-module ul.mostread li .category-tag a:focus,
#sp-right .sp-module ul.mostread li .category-tag a:focus,
#sp-left .sp-module ul.mostread li a:hover,
#sp-right .sp-module ul.mostread li a:hover,
#sp-left .sp-module ul.mostread li a:focus,
#sp-right .sp-module ul.mostread li a:focus,
#sp-left .sp-module .acymailing_module_form p.acysubbuttons:after,
#sp-right .sp-module .acymailing_module_form p.acysubbuttons:after,
.pagination-wrapper ul.pagination li span:hover,
.pagination-wrapper ul.pagination li a:hover,
.pagination-wrapper ul.pagination li span:focus,
.pagination-wrapper ul.pagination li a:focus,
.pagination-wrapper ul.pagination li.active a,
.blog-variation-2 article.item .article-info-wrap:hover .entry-header h2 a:hover,
.blog-variation-2 article.item .article-info-wrap:hover .entry-header h2 a:focus,
body.header-transparent-black .icon-top-wrapper i:hover,
.sppb-section.title-line-before .sppb-section-title:before,
.sppb-section.title-line-after:after,
.service-page-modal .sppb-magnific-popup.sppb-modal-selector i,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-filter ul li a:hover,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-filter ul li.active a,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info:after,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info-wrap:after,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info .sp-simpleportfolio-title a:hover,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info-wrap .sp-simpleportfolio-title a:hover,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info .sp-simpleportfolio-title a:focus,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info-wrap .sp-simpleportfolio-title a:focus,
.contact-form-section .sppb-addon-raw-html ul li span.single-text,
.sp-simpleportfolio.sp-simpleportfolio-view-item .sp-simpleportfolio-description .sp-simpleportfolio-title-wrap:before,
#sp-bottom .sp-module ul li a:hover,
#sp-bottom .sp-module ul li a:focus,
#sp-bottom .sppb-addon-text-block .bottom-address span.floox-title,
#sp-bottom .sppb-addon-social-media .social-media-text-wrap a:hover,
#sp-bottom .sppb-addon-social-media .social-media-text-wrap a:focus,
#sp-footer #sp-footer2 p a,
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner .sp-module .sp-module-content a:hover,
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner .sp-module .sp-module-content a:focus,
.sp-comingsoon .social-icons li a:hover,
.copyright p a,
.error-page .error-message:before,
.sppb-addon-animated-number .sppb-animated-number {
  color: #2e71f0;
}
.sppb-addon-animated-number:hover {
  background: #2e71f0;
}
.major-gradient,
.sppb-carousel.milestone-slider .sppb-carousel-pro-text .about-company:before,
.sppb-carousel.milestone-slider .sppb-carousel-indicators li.active,
.portfolio-modal-popup .sppb-modal-selector,
.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-magnific-popup.sppb-modal-selector i,
.simple-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg::after,
.sppb-addon-gallery .sppb-gallery li a:before,
.sppb-addon-articles .sppb-addon-article .sppb-addon-article-bgimage:before,
.sppb-addon-persion .sppb-addon-content .sppb-person-image:before,
article.item .article-info-wrap .article-info-bg:before,
.blog-variation-2 article.item .entry-image.intro-image > a:after,
.home-portfolio-modal .sppb-magnific-popup i,
.home-portfolio-project-section .sppb-addon-header.title-line-before:before,
.home-portfolio-project-section .sppb-addon-header.title-line-before:after,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-overlay,
.classic-hero-section .sppb-modal-selector.sppb-magnific-popup:before {
  -webkit-background-image: linear-gradient(-180deg,#2e71f0 0%,#0e41ca 100%);
  -moz-background-image: linear-gradient(-180deg,#2e71f0 0%,#0e41ca 100%);
  -ms-background-image: linear-gradient(-180deg,#2e71f0 0%,#0e41ca 100%);
  background-image: linear-gradient(-180deg,#2e71f0 0%,#0e41ca 100%);
}
.home-portfolio-modal .sppb-magnific-popup:hover i,
.portfolio-modal-popup .sppb-modal-selector:hover,
.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-magnific-popup.sppb-modal-selector:hover i {
  -webkit-background-image: linear-gradient(-180deg,#1056db 0%,#0e41ca 100%);
  -moz-background-image: linear-gradient(-180deg,#1056db 0%,#0e41ca 100%);
  -ms-background-image: linear-gradient(-180deg,#1056db 0%,#0e41ca 100%);
  background-image: linear-gradient(-180deg,#1056db 0%,#0e41ca 100%);
}
.major-bgcolor,
.btn.btn-primary,
.sppb-btn.btn-primary,
.btn.sppb-btn-primary,
.sppb-btn.sppb-btn-primary,
.sp-megamenu-parent > li.active > a,
.sp-megamenu-parent > li:hover > a,
.sp-select ul > li.active,
.sp-select ul > li:hover,
.sppb-addon-feature:hover:after,
.sppb-progress-wrap .sppb-progress .sppb-progress-bar,
.com-users.view-login .logout .btn.btn-primary,
.service-feature-section .sppb-addon-feature:hover:after,
.sppb-btn-info.sppb-btn-outline:hover,
.sppb-btn-info.sppb-btn-outline:focus,
.sppb-btn-info.sppb-btn-outline:active,
.sppb-btn-info.sppb-btn-outline.active,
.open > .dropdown-toggle.sppb-btn-info.sppb-btn-outline {
  background-color: #2e71f0;
}
.floox-home-cta,
.sppb-addon-accordion .sppb-addon-content .sppb-panel-group .sppb-panel-heading.active,
.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .owl-carousel .owl-controls .owl-dots .owl-dot.active span,
.sppb-addon-articles .sppb-btn.sppb-btn-default,
article.item .article-info-wrap .readmore a,
article.item-page .sppb-carousel .sppb-carousel-arrow i:hover,
article.item-page .sppb-carousel .sppb-carousel-arrow i:focus,
.helix-social-share .helix-social-share-icon ul li div a:hover,
.helix-social-share .helix-social-share-icon ul li div a:focus,
#sp-left .sp-module .sp-module-title:before,
#sp-right .sp-module .sp-module-title:before,
#sp-left .sp-module .acymailing_module_form,
#sp-right .sp-module .acymailing_module_form,
.blog-variation-2 article.item .article-info-wrap:hover .category-name a:hover,
.blog-variation-2 article.item .article-info-wrap:hover .category-name a:focus,
#sp-bottom .acymailing_module_form .acysubbuttons input {
  background: #2e71f0;
}
.sppb-addon-tab .sppb-tab .sppb-nav-tabs li.active a,
.com-users .reg-login-form-wrap .registration .form-group .btn-primary.btn-block,
.com-users .reg-login-form-wrap .login .form-group .btn-primary.btn-block,
.com-users .reg-login-form-wrap .registration .form-validate .form-group .btn.btn-primary,
.reset .form-validate .form-group button,
article.item-page .sppb-carousel .sppb-carousel-arrow i:hover,
article.item-page .sppb-carousel .sppb-carousel-arrow i:focus,
article.item-page .tags a:hover,
.sppb-btn-info.sppb-btn-outline:hover,
.sppb-btn-info.sppb-btn-outline:focus,
.sppb-btn-info.sppb-btn-outline:active,
.sppb-btn-info.sppb-btn-outline.active,
.open > .dropdown-toggle.sppb-btn-info.sppb-btn-outline {
  border-color: #2e71f0;
}
.top-search-input-wrap .search-wrap .search.floox-top-search input {
  border-bottom-color: #2e71f0;
}
.com-search.view-search .search-results-wrap .result-title:hover,
.com-search.view-search .search-results-wrap .result-title a:hover {
  color: #2e71f0;
}
