.jvtabs{    text-indent: -9999em;     width: 100px;     height: 30px;     background: red;     display: block;     overflow: hidden;     cursor: pointer;	margin:10px;	background:url(tabs.png) no-repeat top center;}
.jvtabs.focus{ background-position:0 -30px;}
.jvtabs.focus:active:hover{cursor: move;}


#jvtabsconfig{width: 640px; height: 90%; top: 5%;}
#jvtabsconfig .modal-footer{
    bottom: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
}


#jvtabsconfig .modal-body {
    bottom: 58px;
    box-sizing: border-box;
    max-height: none;
    position: absolute;
    top: 41px;
    width: 100%;
}
#jvtabsconfig .modal-header{ padding: 0 15px;}