.JVTab-overlay{background:url(../images/loader.gif) no-repeat center center; }
.JVTab-nav .nav-content { transition: all 0.3s ease-out;   -webkit-transition: all 0.3s ease-out;  -moz-transition: all 0.3s ease-out;  -ms-transition: all 0.3s ease-out; }
.JVTab-nav .nav-content ul li a {  
    color: #6A6A6A;
    text-decoration: none;
    outline:none;
    font-weight:bold;   
    background-color: #F8F8F8;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#FBFBFB), to(#F8F8F8));
    background-image: -moz-linear-gradient(top, #FBFBFB, #F8F8F8);
    background-image: -ms-linear-gradient(top, #FBFBFB, #F8F8F8);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FBFBFB), color-stop(100%, #F8F8F8));
    background-image: -webkit-linear-gradient(top, #FBFBFB, #F8F8F8);
    background-image: -o-linear-gradient(top, #FBFBFB, #F8F8F8);
    background-image: linear-gradient(top, #FBFBFB, #F8F8F8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#F8F8F8', GradientType=0);  } 
.JVTab-nav .nav-content ul li.active a {    background: #FFFFFF;   }  
.JVTab-nav .nav-next, .JVTab-nav .nav-prev {  border: 1px solid #CCCCCC; background-color:#fff;}
.JVTab-nav .nav-next.disabled , .JVTab-nav .nav-prev.disabled  { color:#000 !important}
.JVTab-nav .nav-next span, .JVTab-nav .nav-prev span {  background-image:url(../images/arrows.png); background-repeat: no-repeat}

.h-nav .nav-next span { background-position: -15px 0}
.h-nav .nav-prev span { background-position: 0 0}
.v-nav .nav-next span { background-position: -15px -15px}
.v-nav .nav-prev span { background-position: 0 -15px}
.JVTab-nav .nav-next.disabled span, .JVTab-nav .nav-prev.disabled span { opacity:0.2}

.h-nav > .JVTab-nav .nav-content ul li a { border: 1px solid #CCCCCC; border-left-width:0; }
.v-nav > .JVTab-nav .nav-content ul li a {  border: 1px solid #CCCCCC; border-top-width:0; } 
.v-nav > .JVTab-nav .nav-content ul li:first-child a { border-top-width: 1px;  }

.v-nav > .JVTab-nav .nav-next,
.v-nav > .JVTab-nav .nav-prev {  border:none;  border-bottom: 1px solid #CCCCCC;   border-radius: 0;}    
.v-nav > .JVTab-nav .icon-chevron-left2:before { content: "";}
.v-nav > .JVTab-nav .icon-chevron-right2:before { content: "";}
.nav-top > .JVTab-nav .nav-content ul li:first-child a { border-left: 1px solid #CCCCCC;    border-top-left-radius: 5px;}

.nav-top > .JVTab-nav .nav-content ul li:last-child a {  border-top-right-radius: 5px;}
.nav-top > .JVTab-nav .nav-content ul li.active a { border-bottom-color:#fff;}
.nav-top > .JVTab-nav .nav-next{ border-top-right-radius: 5px;}
.nav-top > .JVTab-nav .nav-prev{ border-top-left-radius: 5px;}
.nav-top > .JVTab-content{      border-radius:0 0 5px 5px;  }    
.nav-top.nav-slide > .JVTab-nav .nav-content ul li:first-child a {    border-left-width: 0; border-top-left-radius: 0;}
.nav-top.nav-slide > .JVTab-nav .nav-content ul li:last-child a {    border-right-width: 0;  border-top-right-radius: 0;}
.nav-bottom > .JVTab-nav .nav-content ul li:first-child a { border-left: 1px solid #CCCCCC;    border-bottom-left-radius: 5px;}
.nav-bottom > .JVTab-nav .nav-content ul li:last-child a {  border-bottom-right-radius: 5px;}
.nav-bottom > .JVTab-nav .nav-content ul li.active a { border-top-color:#fff;}
.nav-bottom > .JVTab-nav .nav-next{ border-bottom-right-radius: 5px;}
.nav-bottom > .JVTab-nav .nav-prev{ border-bottom-left-radius: 5px;}
.nav-bottom >    .JVTab-content{      border-radius:5px 5px 0 0;}
.nav-bottom.nav-slide > .JVTab-nav .nav-content ul li:first-child a {    border-left-width: 0; border-bottom-left-radius: 0;}
.nav-bottom.nav-slide > .JVTab-nav .nav-content ul li:last-child a {    border-right-width: 0;  border-bottom-right-radius: 0;}
.nav-left > .JVTab-nav .nav-content ul li:first-child a {   border-top-left-radius: 5px;}
.nav-left > .JVTab-nav .nav-content ul li:last-child a {  border-bottom-left-radius: 5px;}

.nav-left > .JVTab-nav .nav-content ul li.active a { border-right-width:0;}
.nav-left > .JVTab-nav .nav-next{right: 0; border-right: 1px solid #CCCCCC;}
.nav-left > .JVTab-nav .nav-prev{ left: 0; border-right: 1px solid #CCCCCC; }
.nav-left.nav-slide .JVTab-nav { border: 1px solid #CCCCCC; border-right-width:0;  border-radius: 5px 0 0 5px;}
.nav-left.nav-slide .JVTab-nav .nav-content ul li a { border-left-width:0; }
.nav-left.nav-slide > .JVTab-nav .nav-content ul li:first-child a {   border-radius: 0; border-top-width:0;}
.nav-left.nav-slide > .JVTab-nav .nav-content ul li:last-child a {   border-radius: 0; border-bottom-width:0;}

.nav-right > .JVTab-nav .nav-content ul li:first-child a {  border-top-right-radius: 5px;}
.nav-right > .JVTab-nav .nav-content ul li:last-child a {  border-bottom-right-radius: 5px;}
.nav-right > .JVTab-nav .nav-content ul li.active a { border-left-width:0;}
.nav-right > .JVTab-nav .nav-next{right: 0; border-left: 1px solid #CCCCCC;}
.nav-right > .JVTab-nav .nav-prev{ left: 0; border-left: 1px solid #CCCCCC;}
.nav-right.nav-slide > .JVTab-nav { border: 1px solid #CCCCCC; border-left:none;  border-radius:0 5px 5px 0;}
.nav-right.nav-slide > .JVTab-nav .nav-content ul li a { border-right:none; }
.nav-right.nav-slide > .JVTab-nav .nav-content ul li:first-child a {   border-radius: 0; border-top-width:0;}
.nav-right.nav-slide > .JVTab-nav .nav-content ul li:last-child a {   border-radius: 0; border-bottom-width:0;}

.JVTab-content{    background-color: #FFFFFF;    border: 1px solid #CCCCCC;  }

html[dir="rtl"] .h-nav > .JVTab-nav .nav-content ul li a { border-right-width:0;  border-left-width:1px; }
html[dir="rtl"] .h-nav > .JVTab-nav .nav-next span {background-position:0 0 }
html[dir="rtl"] .h-nav > .JVTab-nav .nav-prev span { background-position: -15px 0  }
html[dir="rtl"] .nav-top > .JVTab-nav .nav-content ul li:first-child a { border-right-width: 1px; border-left-width:1px;    border-top-right-radius: 5px;  border-top-left-radius: 0;}
html[dir="rtl"] .nav-top > .JVTab-nav .nav-content ul li:last-child a {  border-top-left-radius: 5px; border-top-right-radius: 0;}
html[dir="rtl"] .nav-top > .JVTab-nav .nav-next{ border-top-left-radius: 5px; border-top-right-radius: 0;}
html[dir="rtl"] .nav-top > .JVTab-nav .nav-prev{  border-top-left-radius: 0; border-top-right-radius: 5px;}
html[dir="rtl"] .nav-top.nav-slide > .JVTab-nav .nav-content ul li:first-child a {   border-radius: 0; border-right-width:0}
html[dir="rtl"] .nav-top.nav-slide > .JVTab-nav .nav-content ul li:last-child a {    border-left-width: 0; border-right-width: 0;  border-radius: 0;}
html[dir="rtl"] .nav-bottom > .JVTab-nav .nav-content ul li:first-child a {  border-right-width: 1px; border-left-width:1px;  border-bottom-right-radius: 5px;  border-bottom-left-radius: 0;}
html[dir="rtl"] .nav-bottom > .JVTab-nav .nav-content ul li:last-child a { border-bottom-left-radius: 5px; border-bottom-right-radius: 0;}
html[dir="rtl"] .nav-bottom > .JVTab-nav .nav-next{ border-bottom-left-radius: 5px; border-bottom-right-radius: 0;}
html[dir="rtl"] .nav-bottom > .JVTab-nav .nav-prev{  border-bottom-left-radius: 0; border-bottom-right-radius: 5px;}


/* slide */
html[dir="rtl"] .nav-bottom.nav-slide > .JVTab-nav .nav-content ul li:first-child a {    border-radius: 0; border-right-width:0}
html[dir="rtl"] .nav-bottom.nav-slide > .JVTab-nav .nav-content ul li:last-child a {    border-left-width: 0; border-right-width: 0;  border-radius: 0;}
