a.jvtabs{display: none;}

.JVTab{position: relative; margin-bottom:50px; clear: both; visibility: hidden;}

.JVTab-content > div .JVTab,
.JVTab-content .JVTab-content > div .JVTab,
.JVTab-content .JVTab-content .JVTab-content > div .JVTab,
.JVTab-content .JVTab-content .JVTab-content .JVTab-content > div .JVTab,
.JVTab-content .JVTab-content .JVTab-content .JVTab-content .JVTab-content > div .JVTab{z-index: -1;}
.JVTab-content > div.active .JVTab,
.JVTab-content .JVTab-content > div.active .JVTab,
.JVTab-content .JVTab-content .JVTab-content > div.active .JVTab,
.JVTab-content .JVTab-content .JVTab-content .JVTab-content > div.active .JVTab,
.JVTab-content .JVTab-content .JVTab-content .JVTab-content .JVTab-content > div.active .JVTab{z-index: 0;}

.JVTab-overlay { position:absolute; top: 0; left:0; width:100%; height: 100%;}


.JVTab-nav .nav-content {overflow: hidden; position: relative;}
.JVTab-nav .nav-content ul { margin:0; padding:0;  position: relative; overflow:hidden}
.JVTab-nav .nav-content ul li {    display: block;   margin: 0;}
.JVTab-nav .nav-content ul li a {   display: block; line-height:40px; padding:0 20px; }
  
 
.JVTab-nav .nav-next, .JVTab-nav .nav-prev { position:relative; text-decoration:none; outline:none;    display: none;    height: 42px;  position: absolute;     top: 0;    width: 42px; text-align:center;  line-height:40px; }
.JVTab-nav .nav-next span, .JVTab-nav .nav-prev span { position:absolute;  line-height:100%; text-align:center; width:15px; height:15px; left:50%; margin:-6px 0 0 -6px; top:50%;}
.nav-slide > .JVTab-nav .nav-next, .nav-slide > .JVTab-nav .nav-prev{display: block;}

.h-nav > .JVTab-nav .nav-content ul li {  float: left;}

.h-nav.nav-slide > .JVTab-nav .nav-content{margin: 0 42px;}
.h-nav > .JVTab-nav .nav-next{right: 0;}
.h-nav > .JVTab-nav .nav-prev{ left: 0; }

.v-nav > .JVTab-nav{ z-index:10;     overflow: hidden;  position: absolute;  top: 0; bottom: 0; width: 200px; }
.v-nav > .JVTab-nav .nav-content {overflow: hidden;  position: absolute; bottom: 0; left:0; right:0; top: 0; z-index: 1;}
.v-nav > .JVTab-nav .nav-content ul li a {  line-height:20px; padding: 10px;  } 
.v-nav > .JVTab-nav .nav-next,
.v-nav > .JVTab-nav .nav-prev {width:50%; height:40px; line-height:40px;}
.v-nav > .JVTab-nav .icon-chevron-left2:before { content: "<";}
.v-nav > .JVTab-nav .icon-chevron-right2:before { content: ">";}
.v-nav.nav-slide > .JVTab-nav .nav-content { top:40px; }		



/* Tabs Nav Top ---------------------------------------------------------------------------------------- */

/* Tabs nav */
.nav-top > .JVTab-nav{    height: 42px; margin-bottom:-1px; z-index:10;     overflow: hidden;    position: relative;    width: 100% !important;  }
	

/* slide */



/* Tabs Nav bottom ---------------------------------------------------------------------------------------- */

.JVTab.nav-bottom { padding-bottom:42px; margin-bottom:20px;}
/* Tabs nav */
.nav-bottom > .JVTab-nav{    height: 42px; margin-bottom:0; z-index:10;     overflow: hidden;    position: relative;    width: 100% !important; position:absolute; bottom:1px; left:0; right:0  }



/* slide */




/* Tabs Nav Left ---------------------------------------------------------------------------------------- */

/* Tabs nav */
.nav-left > .JVTab-nav{  left: 0; }

.nav-left >	.JVTab-content{      border-radius: 0 5px 5px 0;   margin-left: 199px;}				

/* slide */


/* Tabs Nav Right ---------------------------------------------------------------------------------------- */

/* Tabs nav */
.nav-right > .JVTab-nav{ right: 0; }

.nav-right > .JVTab-content{      border-radius:  5px 0 0 5px;   margin-right: 199px;}				

/* slide */

		

/* Tabs content */

.JVTab-content{ overflow: hidden;    padding: 0 !important;    position: relative;}
.JVTab-content > div{    position: absolute;    width: 100%;    visibility: hidden;    top: 0;    left: 0;     overflow-x: hidden;     overflow-y: auto;  padding: 20px;}
.JVTab-content > div.active{position: relative; visibility: inherit;}
.JVTab-content > .animating{ visibility: inherit;}

html[dir="rtl"] .h-nav > .JVTab-nav .nav-content ul li {  float: right;} 

html[dir="rtl"] .h-nav > .JVTab-nav .nav-next{right: auto; left:0; }
html[dir="rtl"] .h-nav > .JVTab-nav .nav-prev{left: auto; right:0;}



