
/*================ K2 Blog Default Layout ===*/
	#itemListLeading,
	#itemListPrimary,
	#itemListSecondary,
	#itemListLinks {
		margin-bottom: 20px;
	}
	.itemList .blog-item {
		margin-top: 0;
		margin-bottom: 25px;
		position: relative;
	}
	.blog-item-top {
		margin-top: 0 !important;
	}
	.blog.itemListView {
		padding-top: 0;
	}
		.blog-item > div h3 {
			margin-bottom: 0;
			line-height: 1.1;
		}
		.blog-item .catItemRatingBlock {
			font-size: 12px;
			margin-bottom: 10px;
		}
		.blog-item > div > .pull-right {
			margin-right: 10px;
		}
			.post-meta .date h2 {
				line-height: 1.1;
			}
	.blog-item > .blog-item-description {
		border-top: 1px solid #DCDCDC;
		border-radius: 5px;
	}

	.blog-item > .catItemImageBlock + .comment{ position: absolute; bottom: 20px; right: 20px; color: #fff;}
	

	/*Quote*/
	.catItemImageBlock + .blog-item-quote,
	.blog-item > .catItemImageBlock + .blog-item-description  {
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	/*Media*/

	.blog-item .blog-item1-2 {
		overflow: hidden;
	}
	.blog-item .blog-item1-2:after {
		content: "";
		display: block;
		clear: both;
		float: none;
	}
		.blog-item .blog-item1-2 .video,
		.blog-item .blog-item1-2 .catItemImageBlock {
			margin-bottom:0;
			width: 50%;
			float: left;
		}
			.blog-item .blog-item1-2 .video .avPlayerWrapper > div {
				width: auto !important;
			}
				.blog-item .blog-item1-2 img, .blog-item .blog-item1-2 .video iframe {
					width: 100% !important;
				}
		.blog-item .blog-item1-2 .blog-item-description {
			width: 100%;
		}
		.blog-item .blog-item1-2 .video + .blog-item-description,
		.blog-item .blog-item1-2 .catItemImageBlock + .blog-item-description{
			width: 50%;
		}
			.blog-item .blog-item1-2 .blog-item-description .pull-right {
				margin-right: 10px;
			}

	/*gallery*/
	.blog-item .bx-wrapper + .bx-wrapper{
		border: 1px solid #dcdcdc;
		border-width: 0 1px 1px 1px;
		border-radius: 0 0 5px 5px;
		width: 100% !important;
		min-height: 75px;
		overflow: hidden;
		max-width: 100% !important;
		position: relative;
	}
		.blog-item .bx-wrapper + .bx-wrapper .bx-viewport {
			width: auto !important;
			margin: 20px 20px !important;
		}
			.blog-item .bx-wrapper + .bx-wrapper #blog-slider-pager{
				padding: 5px 0 0 0;
			}
			.blog-item .bx-wrapper + .bx-wrapper .testimonials-item img {
				width: 100% !important;
				height: 75px !important;
			}
		.blog-item .bx-wrapper + .bx-wrapper .bx-controls {
			display: block !important;
		}
			.blog-item .bx-wrapper + .bx-wrapper .bx-controls .bx-pager {
				display: none !important;
			}
			
			
/*			.blog-item .bx-wrapper + .bx-wrapper .bx-controls .bx-prev,
			.blog-item .bx-wrapper + .bx-wrapper .bx-controls .bx-next {				left: 5px;				width: 15px;				height: 20px;				background-image: url('../images/slider-small.png');				background-position: 0 0;				font-size: 0px;				text-indent: -99999em;			}
			.blog-item .bx-wrapper + .bx-wrapper .bx-controls .bx-prev:hover{				background-position: 0px -34px;			}
			.blog-item .bx-wrapper + .bx-wrapper .bx-controls .bx-next {				left: auto;				right: 5px;				background-position: -35px 0;			}
			.blog-item .bx-wrapper + .bx-wrapper .bx-controls .bx-next:hover {				background-position: -35px -34px;			}		*/	
			
	.itemList .blog-item .bx-wrapper + .bx-wrapper{
		border-bottom: none;
		border-radius: 0;
		margin-bottom: -20px;
	}
		.itemList .blog-item .bx-wrapper + .bx-wrapper .bx-viewport {
			margin: 20px 28px !important;
		}

	.imageGallery + .blog-item-description {
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

/*================ K2 Blog Masonry Layout ===*/
.itemList .masonry {
	margin-top: 0;
	padding-top: 0;
}
	.masonry .blog-item .blog-item1-2 .video, .masonry .blog-item .blog-item1-2 .catItemImageBlock {
		width: 100%;
		float: none;
	}
	.masonry .blog-item .blog-item1-2 .video + .blog-item-description, .masonry .blog-item .blog-item1-2 .catItemImageBlock + .blog-item-description {
		width: 100%
	}

/*================ K2 Blog Detail Layout ===*/
.itemHeader {
	margin-bottom: 30px;
}
	.itemHeader h2 {
		margin-bottom: 0;
		padding-bottom: 5px;
	}
		.itemfeature sup {
			font-size: 50%;
			color: #ee7b00;
			top: -1em;
		}
	.itemHeader .post-date {
		
		font-size: 16px;
		font-weight: 400;
		display: inline-block;
	}


	.itemHeader .pull-right > .pull-right {
		border-right: 1px solid #eee;
		padding-right: 10px;
		margin-right: 10px;
		margin-left: 0;
	}
		.itemHeader .pull-right > .btn-group {
			background-color: transparent;
			margin-top: -4px;
			padding-right: 0;
			margin-right: 0;
			border-right: none;
		}
			.itemHeader .pull-right > .btn-group .btn {
				background-color: transparent;
				margin-top: -1px;
			}

			.itemHeader .pull-right .dropdown-menu .btn-group {
				margin-left: 20px;
			}

.itemRatingForm {
	line-height: 17px;
}
.itemHeader .itemRatingForm  {
	margin-top: -5px;
}
	.itemRatingList {
		height: 18px;
		width: 90px;
	}
		.itemRatingList a, .itemRatingList .itemCurrentRating {
			height: 18px;
			line-height: 18px;
		}
.itemContentFooter {
	padding: 10px 15px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
}
	.itemContentFooter  + div {
		margin-bottom: 10px;
	}

.itemSocialSharing {
	margin: 20px 0;
}
	.itemSocialSharing > div {
		float: left;
	}

.itemAuthorBlock {
	padding: 15px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
}
	.itemAuthorBlock .itemAuthorDetails {
		margin-left: 120px;
	}
		.itemAuthorBlock .itemAuthorDetails .itemAuthorName {
			margin-bottom: 5px;
		}
		.itemAuthorUrl  {
			margin-right: 10px;
		}
.itemAuthorLatest,
.itemRelated {
	padding-top: 30px;
	padding-bottom: 20px;
}
	.itemAuthorLatest h3, .itemRelated h3 {
		margin-bottom: 0;
	}
.itemExtraFields .features-list {
	padding-top: 0;
}
.itemNavigation {
	padding: 15px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
}
.itemNavigation + div{
	margin-bottom: 30px;
}
	.itemNavigation a {
		background-color: transparent;
		display: inline-block;
		line-height: 17px;
	}

		

.itemCommentsList {
	margin-bottom: 20px;
}
	.itemCommentsList .itemCommentsListContent {
		border: 1px solid #dcdcdc;
		padding: 15px;
		border-radius: 5px;
	}
		.itemCommentsList .itemCommentsListContent  hr {
			margin: 10px 0;
		}
		.commentToolbar a {
			display: inline-block !important;
			position: static !important;
			overflow: inherit !important;
			padding-right: 10px;
			margin-right: 10px;
			border-right: 1px solid #ddd;
		}
		.commentToolbar a:last-child {
			padding-right: 0;
			margin-right: 0;
			border-right: none;
		}
.itemCommentsPagination {
	margin-bottom: 20px;
}
.itemCommentsPagination .pagination-list {
	padding-top: 0;
}	.itemCommentsPagination .page-number > ul {
		text-align: right;
	}
		.itemCommentsPagination .page-number > ul > li > a {
			padding: 1px 10px;
			font-size: 12px;
		}
.itemComments textarea {
	margin-bottom: 0;
	height: 140px !important
}

.itemComments #recaptcha {
	margin-bottom: 20px;
}

.itemView .avPlayerContainer {
	width: 100% !important;
}
	.itemView .avPlayerContainer iframe {
		width: 100% !important;
		height: 500px !important;
	}

.itemView .blog-item .bx-viewport img {
	height: 384px !important;
	border-radius: 5px 5px 0 0;
}

.itemFullText.largerFontSize { font-size: 150%;}

/*================== K2 Tags/K2 User  ================================*/
.tagView .ItemView,
.userView .ItemView {
	padding-bottom: 0;
	margin-bottom: 0;
  	border: 1px solid #dcdcdc;
  	border-radius: 5px;
  	overflow: hidden;
}
.tagView .ItemView + .bottom-border,
.userView .ItemView + .bottom-border{
	margin-bottom: 25px;
}
.tagView .ItemView:last-child,
.userView .ItemView:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
	.tagView .ItemImage,
	.userView .ItemImage {
		background-size: cover;
		background-position: center;
		margin-bottom: 0;
		margin-right: 15px;
	}
		.tagView .ItemImage img,
		.userView .ItemImage img,
    	.genericView .ItemImage img {
			width: 190px;
		}

.userView  .userBlock {
	margin-bottom: 30px;
}
	.userView  .userBlock .thumb {
		float: left;
		margin-right: 15px;
	}
		.userView  .userBlock .thumb img {
			border-radius: 5px;border: 1px solid #dcdcdc;
		}
	.userAdditionalInfo {
		
	}
		.userAdditionalInfo div:first-child {
			margin-bottom: 10px;
			line-height: 24px;
		}
			.userAdditionalInfo div .fa {
				display: block;
				width: 24px;
				height: 24px;
				float: left;
				margin-right: 10px;
				text-align: center;
				line-height: 19px;
				padding: 2px 6px;
				border: 1px solid #000;
				border-radius: 5px;
			}
.tagView .ItemTitle,
.userView .ItemTitle  {
	font-size: 28px !important;
	padding: 10px;
	margin-bottom: 0;
}

.tagView .ItemReadMore a,
.userView .ItemReadMore a {
	
	font-size: 16px;
	font-weight: 300;
}


.tagView .ItemIntroText,
.userView .ItemIntroText,
.genericView .ItemIntroText {
	margin-bottom: 10px;
}


.ItemLinksWork {
	color: #999;
	font-size: 12px;
	margin-bottom: 10px;
}
.ItemLinksWork > * {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #dcdcdc 
}
.ItemLinksWork > *:first-child {
	margin-left: 0;
	padding-left: 0;
	border-left: none
}

/*================ k2FrontendContainer  =======*/
#k2FrontendContainer {
	padding: 0px !important;
	margin: 0 -20px !important;
}
	#k2FrontendEditToolbar {

	}
	div#k2Frontend table.k2FrontendToolbar td.button,
	.k2AdminTableFiltersSearch #k2SubmitButton,
	.k2AdminTableFiltersSearch #k2ResetButton {
		display: inline-block;
		color: #fff !important;
		
		font-weight: 500;
		text-align: center;
		padding: 5px 15px 5px 15px;
		font-size: 13px;
		border: 0 none;
		cursor: pointer;
		margin-left: 1px;
	}
	div#k2Frontend table.k2FrontendToolbar td.button:hover,
	.k2AdminTableFiltersSearch #k2SubmitButton:hover,
	.k2AdminTableFiltersSearch #k2ResetButton:hover {
		color: #fff !important;
		text-shadow: 1px 1px 1px #8b9700 !important;
		box-shadow: 0 2px 0 0 #809112;
		background: #afc122;
		background: -moz-linear-gradient(bottom, #c7dc25 0%, #afc122 100%);
		background: -webkit-linear-gradient(bottom, #c7dc25 0%, #afc122 100%);
		background: -o-linear-gradient(bottom, #c7dc25 0%, #afc122 100%);
		background: -ms-linear-gradient(bottom, #c7dc25 0%, #afc122 100%);
		background: linear-gradient(to bottom, #c7dc25 0%, #afc122 100%);
	}
		div#k2Frontend table.k2FrontendToolbar td.button a {
			color: #fff;
		}
		div#k2Frontend table.k2FrontendToolbar td.button:first-child {
			border-radius: 3px 0 0 3px;
		}
		div#k2Frontend table.k2FrontendToolbar td.button:last-child {
			border-radius: 0 3px 3px 0;
		}

		div#k2Frontend table.k2FrontendToolbar td.button#toolbar-unpublish {
			background: #ff9c00;
			box-shadow: 0 2px 0 0 #df8800;
			text-shadow: 1px 1px 1px #df8800 !important;
		}
		div#k2Frontend table.k2FrontendToolbar td.button#toolbar-unpublish:hover{
			background: #ef9200;
			box-shadow: 0 2px 0 0 #df8800;
			text-shadow: 1px 1px 1px #df8800 !important;
		}
		div#k2Frontend table.k2FrontendToolbar td.button#toolbar-delete,
		div#k2Frontend table.k2FrontendToolbar td.button#toolbar-Link,
		.k2AdminTableFiltersSearch #k2ResetButton{
		  background: #43474d;
		  box-shadow: 0 2px 0 0 #161718 !important;
		  text-shadow: none !important;
		}
		div#k2Frontend table.k2FrontendToolbar td.button#toolbar-delete:hover,
		div#k2Frontend table.k2FrontendToolbar td.button#toolbar-Link:hover,
		.k2AdminTableFiltersSearch #k2ResetButton:hover {
			background: #43474d;
			text-shadow: none!important;
		}
	table.k2AdminTableFilters tr td.k2AdminTableFiltersSearch,
	table.k2AdminTableFilters tr td.k2AdminTableFiltersSelects {
		padding: 10px 0;
	}
		.k2AdminTableFiltersSearch input[type="text"],
		.k2AdminTableFiltersSelects select,
		.k2CommentsPagination #limit {
			border: 1px solid #dcdcdc;
			border-radius: 5px;
			float: left;
			padding: 6px 10px;
			margin-right: 5px;
		}
		.k2AdminTableFiltersSearch #k2SubmitButton,
		.k2AdminTableFiltersSearch #k2ResetButton {
			margin-right: 5px;
			font-size: 14px;
			float: left;
			padding-top: 6px;
			padding-bottom: 6px;
		}
		.k2AdminTableFiltersSelects select {
			float: right;
			margin-right: 0;
			margin-left: 5px;
		}
	#k2FrontendContainer .adminlist  {
		border: 1px solid #dcdcdc;
		font-size: 13px;
	}
	#k2FrontendContainer .adminlist th{
		vertical-align: middle !important;
	}
	#k2FrontendContainer .adminlist.table td:last-child,
	#k2FrontendContainer .adminlist.table th:last-child {
		border-right: 1px solid #dcdcdc;
	}
		#k2FrontendContainer .adminlist input[type="checkbox"] {
			display: inline-block !important;
			opacity: 1;
		}

		#k2FrontendContainer .adminlist div.commentToolbar span.k2CommentsLog {
			font-weight: normal;
			color: #ee7602;
		}

		#k2FrontendContainer .adminlist .commentToolbar a {
			padding: 3px 10px;
			border: 1px solid #dcdcdc;
			
			font-weight: 500;
			border-radius: 4px;
			background-color: #fff;
			margin-right: 5px;
		}
		#k2FrontendContainer .adminlist .commentText textarea{
			border: 1px solid #dcdcdc;
			border-radius: 5px;
			padding: 10px;
			font-size: 13px;
		}

/*================ K2 Module ================*/

	/*  K2 Module - Categories list*/
	.categories ul {
		list-style: none;
		padding: 0;
	}
		.categories ul li a:before {
			content: "\f105";
			padding-right: 10px;
		}
			.categories ul li a:hover::before {
				color: #fff;
			}
	/*  K2 Module - Categories Select box*/
	.k2CategorySelectBlock:after {
		display: block;
		content: "";
		border: 1px solid #dcdcdc;
		border-top: none;
		border-radius: 0 0 5px 5px; 
		height: 8px;
		margin-top: -4px;
	}
	.k2CategorySelectBlock select {
		border: 1px solid #dcdcdc;
		width: 100%;
		border-radius: 5px;
	}
	/*  K2 Module - Search*/
	.sidebar-search-form button {
		border: none;
		background: none;
	}
	.searchK2 {
		position: relative;
	}
	.searchK2-form {
		z-index: 1;
	}
	.k2LiveSearchResults {
		position: absolute;
		left: 0;
		right: 0;
		
	}
		.k2LiveSearchResults ul {
			border: 1px solid #dcdcdc !important;
			border-top: none !important;
			border-radius: 0 0 5px 5px;
			margin-top: -5px;
			padding: 20px 15px 15px 15px;
			background: #fff;
			list-style: none;
			box-shadow: 0 0 5px rgba(0,0,0,0.1);
		}
		.k2LiveSearchResults ul li a,
		.k2LiveSearchResults ul li {
			display: block;
			padding: 2px 0;
		}
	/*  K2 Module - Tag*/
	/*  K2 Module - Content*/
	.k2ItemsBlock ul li:first-child .pop-products {
		margin-top: 0 !important;

	}
	.k2ItemsBlock .pop-products {
		background-color: #fff;
		cursor: pointer;
		min-height: 96px;
		border: 1px solid #dcdcdc;
		border-radius: 5px;
		padding: 10px;
		display: block;
		margin-top: 20px;
	}
	.k2ItemsBlock .pop-products-img {
		background-size: cover;
		max-width: 76px;
		position: relative;
		display: block;
		float: left;
		border-radius: 5px;
	}
	.k2ItemsBlock .pop-products-img > img {
		width: 76px;
		display: block;
		max-width: 100%;
		border-radius: 5px;
	}
	.k2ItemsBlock .pop-products .moduleItemReadMore {
		border-top: 1px solid #ddd;
		padding-top: 10px;
		margin-top: 10px;
	}
	.pop-products .pop-products-description {
		padding-left: 0;
	}
	.pop-products .pop-products-img + .pop-products-description {
		padding-left: 96px;
		display: block;
	}
	/*  K2 Module - Users*/
	.k2UsersBlock { margin-bottom: 10px;}
		.k2UsersBlock > ul {
			list-style:none;
			padding: 0;
			margin:0;
		}
		.k2UsersBlock > ul > li {
			margin-bottom: 15px;
		}

		.k2UsersBlock > ul > li.lastItem {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: none;
		}
			.k2UsersBlock > ul > li .content {
				border: 1px solid #dcdcdc;
				border-radius: 5px;
				padding: 15px;
			}
				.k2Avatar {
					float: left;
					margin: 0 10px 5px 0;
				}
				.ubUserName {
					
					font-weight: 500;
				}
				.ubUserAdditionalInfo a{
					color: #888;
				}
				.ubUserEmail a {
					font-size: 0;
				}
					.ubUserEmail a:before{
						font-size: 14px;
						content: "\eb07";
						font-family: icomoon !important;
						speak: none;
						font-style: normal;
						font-weight: 400;
						font-variant: normal;
						text-transform: none;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				.ubUserDescription {
					margin-bottom: 10px;
				}
				.k2UsersBlock > ul > li h5 {
					margin-bottom: 5px;
				}
				.ubUserItems {
					padding-left: 18px;
				}

	/*  K2 Module - User*/
	.k2LoginBlock { margin-bottom: 10px;}
	  .k2LoginBlock .inputbox {
	    width: 100%;
	    border-radius: 2px;
	  }
	  .k2LoginBlock label {

	  }
	  .k2LoginBlock label input {
	    float: left;
	    margin: 4px 4px 0 0;
	    margin-top: 1px \9;
	    line-height: normal;
	  }
	    .k2LoginBlock ul {
	      margin: 0;
	      list-style: none;
	      border-top: 1px dotted #ddd;
	      padding-top: 5px;
	      margin-top: 5px;
	    }

	    .k2LoginBlock [type="checkbox"]:checked + label {
	    	left: 0;
	    }
	.k2UserBlock { margin-bottom: 20px;}
		.k2UserBlock .content {
			padding: 15px 15px 15px 15px;
			border: 1px solid #dcdcdc;
			border-radius: 5px;
		}
			.k2UserBlock .k2Avatar {
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
			}
			.k2UserBlock .ubName,
			.abAuthorName  {
				
				font-weight: 500;
			}
			.k2UserBlock .ubCommentsCount {
				color: #999;
			}
			.k2UserBlock .modal {
				position: static;
				top: 0;
				left: 0;
				width: auto;
				display: inline;
				margin-left: 0;
				background-color: transparent;
				border: none;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				outline: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
			}
			.k2UserBlockActions {
				list-style: none;
				margin: 0;
				padding: 0;
			}
			.k2UserBlockActions li a:before {
				content: "";
				display: inline-block;
				width: 10px;
				height: 10px;
				border: 1px solid #afc122;
				border-width: 1px 1px 1px 1px;
				margin-right: 7px;
				border-radius: 100%;
			}
			.k2UserBlockRenderedMenu {
				list-style: none;
				margin: 5px 0 0;
				padding: 5px 0 10px;
				border: 1px dotted #ddd;
				border-width: 1px 0;
			}
			.k2UserBlock .button-green {
				margin-top: 10px;
			}
	/*  K2 Module - Calendar*/
	.k2CalendarBlock {
	  overflow-y: auto; 
	}
		.k2CalendarBlock .calendar {
			width: 100%;
			box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);
			border-radius: 5px;
			overflow: hidden;
			min-height: 204px;
		}
			.k2CalendarBlock .clr {
				height: 8px;
				margin-top: -4px;
				border: 1px solid #dcdcdc;
				border-top: none;
				border-radius: 0 0 5px 5px;
				margin-right: 1px;
			}
			.k2CalendarBlock .calendar td {
				text-align: center;
				padding: 4px 3px;
			}
			.k2CalendarBlock .calendar td.calendarNavMonthPrev,
			.k2CalendarBlock .calendar td.calendarCurrentMonth,
			.k2CalendarBlock .calendar td.calendarNavMonthNext,
			.k2CalendarBlock .calendar td.calendarDayName {
				color: #fff;
			}
			.k2CalendarBlock .calendar td.calendarDayName{
				padding: 5px 3px;
				border-bottom: 2px solid #809112;
			}
				.k2CalendarBlock .calendar td a {
					display: inline-block;
				}
				.k2CalendarBlock .calendar td.calendarDateLinked a {
					display: block;
					border: 1px solid #dcdcdc;
					border-radius: 3px;
					font-size: 13px;
					position: relative;
					z-index: 1;
					background-color: #fff;
				}
				.k2CalendarBlock .calendar td.calendarDateLinked:after {
					content: "";
					display: block;
					height: 4px;
					border-radius: 0 0 3px 3px;
					margin-top: -2px;
					border: 1px solid #dcdcdc;
					border-top: none !important;
					-webkit-transition: all .4s ease;
					-moz-transition: all .4s ease;
					transition: all .4s ease;
					position: relative;
					z-index: 0;
				}
					.k2CalendarBlock .calendar td.calendarDateLinked:hover a {
						border: 1px solid #000;
						color: #fff;

					}
					.k2CalendarBlock .calendar td.calendarDateLinked:hover::after {
						border: 1px solid #809112;
						background-color: #809112;
						border-top: none;
					}

					.k2CalendarBlock .calendarNavLink {
						width: 24px;
						height: 24px;
						border: 1px solid #FFF;
						border-radius: 100%;
						margin: 0 4px;
						color: #fff;
					}

	/*  K2 Module - Archive*/
	/*  K2 Module - Authors List*/
	.k2AuthorsListBlock ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
		.k2AuthorsListBlock ul li {
			margin-bottom: 20px;
		}
		.k2AuthorsListBlock ul li.lastItem {
			margin-bottom: 10px;
		}
			.abAuthorAvatar span {
				display: block;
			}
			.abAuthorAvatar img {
				border-radius: 5px;
				border: 1px solid #dcdcdc;
			}
			.abAuthorLatestItem {
				font-size: 90%;
			}
	/*  K2 Module - Breadcrumbs*/
	.k2BreadcrumbsBlock > * {
		display: inline-block;
		margin-right: 5px;
	}

	/*  K2 Module - Topcomment*/
	.k2TopCommentersBlock ul{
	  list-style: none;
	  padding: 0;
	  margin: 0;
	  line-height: 18px;
	}
	  .k2TopCommentersBlock ul li,
	  .k2LatestCommentsBlock ul li{
	      margin-bottom: 15px;
	  }
	  .k2TopCommentersBlock ul li .content,
	  .k2LatestCommentsBlock ul li .content{
	      border: 1px solid #dcdcdc;
	      border-radius: 5px;
	      padding: 15px;
	  }
	  .k2TopCommentersBlock ul p {
	    margin-bottom: 8px;
	    font-weight: bold;
	  }
	    .tcLatestCommentDate {
	      color: #999;
	      font-style: italic;
	    }
	    .k2TopCommentersBlock ul li .tcLink {
	    	
			font-weight: 500;
	    }
	 .k2TopCommentersBlock ul li .k2Avatar,
	  .k2LatestCommentsBlock ul li .k2Avatar{
	      display: block;
	      float: left;
	      margin-right: 10px;
	  }
	  .k2TopCommentersBlock ul li .lcCommentWrap,
	  .k2LatestCommentsBlock ul li .lcCommentWrap {
	  	display: block;
	  }
	/*  K2 Module - Latest Commenters*/
	.k2LatestCommentsBlock ul{
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}
	  .k2LatestCommentsBlock .lcUsername,
	  .k2LatestCommentsBlock .lcCommentDate {
	    font-style: italic;
	    color: #999;
	    font-size: 12px;
	  }





	@media (min-width: 768px) {
		.k2AccountPage .form-horizontal .controls {
			width: 83.33333333%;
			float: left;
			padding: 0 15px;
		}
	}
	.k2AccountPage .form-horizontal .controls input[type="radio"] {
		display: block;
	}


	.k2AccountPage .form-horizontal input[type="file"]  {
		line-height: inherit;
	}
	.k2AccountPage #del_image {
		display: none;
	}
	.k2AccountPage .user-name {
		text-align: left !important;
	}

	.core-form select {
		border: 1px solid #dcdcdc;
		border-radius: 5px;
		display: block;
		width: 100%;
	}
	select#jform_params_helpsite {
		width: 80%;
		float: left;
		border-radius: 5px 0 0 5px;
		border-right: none;
	}
	#helpsite-refresh {
		width: 20%;
		border-radius: 0 5px 5px 0;
		padding: 6px 12px;
		color: #fff !important;
		
		font-weight: 500;
		text-align: center;
		font-size: 1.2em;
		border: 0 none;
	}




/*=================== BLOG LAYOUT ============*/
.blog .category-desc {
	border: 1px solid #dcdcdc;
	border-radius: 5px;
}
	.blog .category-desc img {
		float: left;
		width: 150px;
		border-radius: 5px 0 0 5px;
		margin: -1px 15px -1px -1px; 
	}
	.blog .category-desc-content {
		padding: 15px 15px 0;
	}
.blog .category-desc + .bottom-border {
	margin-bottom: 25px;
}
.blog .page-header h2,
.blog .item > h2 {
	margin-bottom: 0px;
}
	.blog .icons .btn-group{margin-top: -8px;}
	.article-info {
		margin-top: 5px;
		color: #999;
		margin-bottom: 12px;
	}
	.article-info:after {content: ""; display: block; clear: both; float: none;}
	.article-info .article-info-term{
		display: none;
	}
	.article-info > div {
		display: block;
		float: left;
		padding-right: 10px;
		margin-right: 10px !important;
		border-right: 1px solid #eee;
		line-height: 14px;
	}
	.article-info > div:last-child {
		margin-right: 0;
		padding-right: 0;
		border: none;
	}
	.blog .img-intro {
		clear: both;
	}
	.blog .img-intro,
	.detail-article .item-image,
	.detail-article .img_caption,
	.detail-article img {
		border-radius: 5px;
		overflow: hidden;

	}
		.blog .img-intro + .bottom-border,
		.detail-article .item-image {
			margin-bottom: 15px;
		}
	.blog .img-intro div.img_caption,
	.detail-article div.img_caption {
		position: relative;
		width: 100% !important;
		max-width: 100% !important;
	}
		.blog .img-intro p.img_caption,
		.detail-article div.img_caption p.img_caption{ 
			position: absolute;
			background-color: rgba(0,0,0,0.4);
			bottom: 0;
			left: 0;
			right: 0;
			display: block;
			margin: 0;
			padding: 10px 15px;
			text-align: left !important;
			color: #fff !important;
		}
		.blog .readmore a 	{
			
				font-size: 16px;
				font-weight: 300;
		}
/*=================== List Layout ============*/
.category-list .table.category .list-hits {
	text-align: center;
}
	.category-list .table.category .badge,
	.categories-list-item .badge,
	.page-search .badge {
		position: static;
		width: auto;
		height: auto;
		font-weight: normal;
		display: inline-block;
		background-image: none;
		background-color: #43474d
	}
.category-list .filters {
	margin-bottom: 15px;
}
	.category-list .filters .element-invisible {
		margin-bottom: 0;
		line-height: 36px;
	}
	.category-list .filters select,
	.archive .filter-search select {
		padding: 6px 12px;
		border: 1px solid #dcdcdc;
		border-radius: 5px;
	}

.archive #archive-items h3 {
	margin-bottom: 0;	
}
	.archive #archive-items .article-info {
		margin-bottom: 5px;
	}
	.archived-item {
		margin-bottom: 25px;
	}

.categories-list > div {
	overflow: hidden;
	margin-bottom: 25px;
}
	.categories-list .item-title { margin-bottom: 10px;}
	.categories-list img {
		width: 150px;
		border-radius: 5px;
	}

.detail-article .img_caption {
	border-radius: 0 0 5px 5px;
}

.detail-article .pager li>a, .detail-article .pager li>span {
	
	font-weight: 300;
}

/*============ contact-category =============*/
.contact-category .filters {
	margin-bottom: 25px;
}
	.contact-category .filters .input-group {
		float: none;
		margin: 0;
	}
		.contact-category .filters .input-group .filter-search-lbl {
			margin: 0;
		}
			.contact-category .filters .input-group .filter-search-lbl  .label {
				font-weight: 300;
				padding: 3px 10px;
				margin-right: 5px;
			}
.contact-category ul.category {
	list-style: none;
	margin: 0;
	padding: 0;
}
	.contact-category ul.category li {
		margin-bottom: 25px;
	}
		.contact-category ul.category .contact-category-item {
			border: 1px solid #dcdcdc;
			padding: 15px;
			border-radius: 5px;
		}
			.contact-category ul.category .contact-category-item  .list-title {
				margin-bottom: 5px;
			}
/*============ Edit Articler =============*/
.modal_jform_contenthistory {
	font-size: 18px !important;
}

.edit.item-page .control-group {
	margin-bottom: 15px;
}
.edit.item-page .control-group  .inputbox, .edit.item-page .control-group  select, .edit.item-page .control-group .input-small, .edit.item-page .control-group input[type="url"]{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.mce-edit-area.mce-container.mce-panel.mce-stack-layout-item {border-width: 1px 1px 0 0 !important; border-color: #dcdcdc;}
#editor-xtd-buttons .btn { margin-left: 0;}

.edit.item-page .control-group .input-prepend {position: relative; }
.edit.item-page .control-group .input-prepend .add-on {
	display: block;
	padding: 8px 12px 9px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border-right: none;
	border-radius: 4px 0 0 4px;
	float: left;
}
.edit.item-page .control-group .input-small {
	display: block;
	position: relative;
	z-index: 2;
	float: left;
	width: auto;
	margin-bottom: 0;
	border-radius: 0;
	border-right: none;
}
.edit.item-page .control-group .modal {
	position: static;
	overflow: hidden;
	display: inline-block;
}
.edit.item-page .control-group .btn {
	font-size: 16px;
	border-right: 1px solid #bbb;
	border-radius: 0;
	margin-right: 0;
}
.edit.item-page .control-group .btn:last-child {
	border-radius: 0 3px 3px 0;
	border-right: none;
}
#jform_publish_up,
#jform_publish_down {
	width: auto;
	float: left;
	border-radius: 4px 0 0 4px;
}
.calendar table { width: 100%;}
.chzn-container .chzn-container-multi .chzn-choices{ border-radius: 3px;}
#recaptcha{ float: none;}
/*============ contact =============*/
.panel-collapse.collapse {
	overflow: hidden;
}

	.contact .thumbnail {
		width: 150px;
		margin-bottom: 0;
	}
	.contact  .contact-address dt{
		margin-bottom: 5px;
		width: 30px;
	}
	.contact  .contact-address dd	{
		line-height: 28px;
		margin-bottom: 5px;
		margin-left: 50px;
	}
		.contact  .contact-address dd address {
			margin-bottom: 0;
		}
		.contact  .contact-address .fa{
			display: inline-block;
			width: 26px;
			height: 26px;
			line-height: 20px;
			text-align: center;
			padding: 2px 6px;
			
			border: 1px solid #000;
			border-radius: 5px;
		}

.contact .contact-form input {
	margin-top: 0;
}

.contact .contact-form [type="checkbox"]:checked + label {
	left: 0;
	font-weight: 300 !important;
}

/*============ Search =============*/
.page-search .panel-heading .input-group {
	float: none;
	margin: 0;
}
.page-search .panel-heading .button-green {
	font-size: 14px;
	padding: 7px 14px;
	box-shadow: none !important;
	border-radius: 0 5px 5px 0;
}
.page-search legend {
	margin-bottom: 5px;
}
	.page-search input[type="checkbox"]{
		display: none;
	}
	.page-search  input[type="radio"] {
		display: inline-block;
	}

	.page-search  [type="checkbox"]:checked + label,
	.page-search  [type="radio"]:checked + label {
		left: 0 !important;
		font-weight: 300 !important;
	}
.page-search .ordering-box label {
	line-height: 40px;
	margin: 0;
	margin-right: 10px;
}
.page-search .ordering-box select,
.page-search .panel-footer .form-limit select{
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	padding: 5px 7px;
}
.page-search .panel-footer .form-limit select {
	width: 100%;
}
.page-search .list-group hr {
	margin: 6px 0
}
.page-search span.highlight {
	background-color: #FFFFCC;
font-weight: normal;
padding: 1px 4px;
border-radius: 3px;
background-color: #FFFFCC;
}
 /*Module Categories*/
.sidebar .categories-module h1,
.sidebar .categories-module h2,
.sidebar .categories-module h3,
.sidebar .categories-module h4,
.sidebar .categories-module h5,
.sidebar .categories-module h6 {
	margin: 0;
	text-transform: none;
}
.categories-module.categories ul li a:before {	display: none;}
.categories li ul { margin-left: 15px;}
	.categories li:hover ul li a{		color: #43474d !important;		background-color: transparent;	}
	.categories li:hover ul li:hover a {		background-color: transparent;	}

/*Module category*/
.category-module.features-list {	padding: 0;}


.blog-discussed {    font-family: "Oswald";    font-size: 18px;    list-style: none outside none;    padding: 0;}
.blog-discussed li {    padding-bottom: 20px;}
.blog-discussed li a.moduleItemTitle { display:block; margin:0}
.blog-discussed li a span { position:relative;    background:#000; display:inline-block;    color: #fff;    font-family: "Oswald";    font-size: 14px;    margin-right: 5px;    position: relative;    min-width: 40px; padding:0 10px; line-height:26px; text-align:center; border-radius:3px;}
.blog-discussed li a span:after {    border-left: 5px solid transparent !important;    border-right: 0 solid transparent !important;    border-top: 5px solid #000;    height: 0;    width: 0;	position:absolute; bottom:-5px; right:3px;	content:"";	display:block;}


/* Fix Attachments*/
.itemAttachmentsBlock { padding: 20px 0 0; margin: 30px 0; border: 1px solid #eee; border-width: 1px 0 0; position: relative;}
.itemAttachmentsBlock > span {	font-size:  16px;}
.itemAttachmentsBlock ul { padding: 0 20px;}
.itemAttachmentsBlock ul li { padding: 5px 0;}
.itemAttachmentsBlock ul li span { color: #999;}
.itemList .itemAttachmentsBlock { margin: 20px 0;}
.itemList .itemAttachmentsBlock > .fa { font-size: 18px; position: absolute; top: -8px; background: #fff; display: inline-block; padding-right: 10px;}
.itemList .itemAttachmentsBlock > a { display: inline-block; background-color: #f8f8f8; border-radius: 2px; margin: 0 2.5px; line-height: 27px; padding: 0 9px;}