/*---------------------------------------------------------------
# Package - Joomla Template based on Helix Framework   
# ---------------------------------------------------------------
# Author - JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
# license - PHP files are licensed under  GNU/GPL V2
# license - CSS  - JS - IMAGE files  are Copyrighted material 
# Websites: http://www.joomshaper.com
-----------------------------------------------------------------*/
#hornav li.menu-item li,
#sublevel li.menu-item li,
a.readmore, .comments, input.button, a.details, .adminform button, #adminForm button, .button, button[type="submit"], input[type="submit"], input[type="button"], div.itemCommentsForm form input#submitCommentButton{
	-webkit-transition: background-color 300ms, color 300ms;
	-moz-transition: background-color 300ms, color 300ms;
	-o-transition: background-color 300ms, color 300ms;
	-ms-transition: background-color 300ms, color 300ms;
	transition: background-color 300ms, color 300ms;
}

a,
img.share_img,
img.sp_simple_gallery,
img.border,
.ns2-sponsor img.ns2-image,
.nssp2.ns2-speaker img.ns2-image,
input,select,textarea,.inputbox {
	-webkit-transition: all 600ms ease-in-out;
	-moz-transition: all 600ms ease-in-out;
	-o-transition: all 600ms ease-in-out;
	-ms-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out;
}

input,select,textarea,.inputbox{
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,.1);
	box-shadow: inset 0 0 20px rgba(0,0,0,.1);
}