#mainsite,#block-mainnav-mobile,.fxmenu-touch{transition:all .3s ease-out;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out}
body.showmenu #wrapper,body.hidemenu #wrapper{position:fixed;top:0;left:0;bottom:0;right:0}
.index-2 #block-header{top:40px!important}
a.flexMenuToggle{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;position:relative;background-color:#43474d;color:#FFF!important;display:inline-block!important;font-size:18px;padding:6px 35px 4px 10px;height:33px;width:auto;text-align:center;z-index:1000}
a.flexMenuToggle span{background:#FFF;display:block;height:2px;margin:3px 0 0}
a.flexMenuToggle span:first-child{margin-top:0}
span.flexMenuToggle{display:none!important;background:#000;background-color:rgba(0,0,0,0.1);bottom:0;cursor:pointer;display:none;position:absolute;top:0;width:100%;z-index:999999999999}
body.showmenu span.flexMenuToggle{display:block!important}
.touch-btnBack{box-shadow:0 -1px 0 0 #1C1C1C inset,0 -2px 0 0 #4E4E4E inset;-webkit-box-shadow:0 -1px 0 0 #1C1C1C inset,0 -2px 0 0 #4E4E4E inset;-moz-box-shadow:0 -1px 0 0 #1C1C1C inset,0 -2px 0 0 #4E4E4E inset;display:block;text-align:center;line-height:40px;text-transform:uppercase;color:#fff!important;font-weight:700;position:relative}
.touch-btnBack:after{border-radius:100%;height:20px;line-height:20px;text-align:center;position:absolute;left:10px;top:10px;width:20px;font-family:icomoon!important;font-style:normal;font-variant:normal;font-weight:400;text-transform:none;content:"";color:#fff}

/* mainsite */
#mainsite{position:relative;left:0;z-index:1001;box-shadow:0 -11px 10px rgba(0,0,0,0.9);-webkit-box-shadow:0 -11px 10px rgba(0,0,0,0.9);-moz-box-shadow:0 -11px 10px rgba(0,0,0,0.9);transform:translateX(0);-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0)}
body.showmenu #mainsite{transform:translateX(-280px);-webkit-transform:translateX(-280px);-moz-transform:translateX(-280px);-ms-transform:translateX(-280px)}
body.showmenu.hidemenu #mainsite{transform:translateX(0);-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0)}
/* block-mainnav */
#block-mainnav-mobile {width:280px;   position: absolute  !important; margin:0 !important; padding:0 !important; top:0;  background:url(../img/bg_menu.png); right:0; top:0; bottom:0; -moz-box-sizing:border-box;     -webkit-box-sizing:border-box;    box-sizing:border-box; transform: translateX(280px);	-webkit-transform: translateX(280px);	-moz-transform: translateX(280px);	-ms-transform: translateX(280px);}
body.showmenu #block-mainnav-mobile{transform:translateX(0);-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0)}
body.hidemenu #block-mainnav-mobile{transform:translateX(280px);-webkit-transform:translateX(280px);-moz-transform:translateX(280px)}
#block-mainnav-mobile > div , #block-mainnav-mobile  div.position-menu  {   position: absolute  !important;  margin:0 !important; padding:0 !important; top:0;  left:0; right:0; top:0; bottom:0;  overflow: hidden; }

/*fxmenu-touch*/
.fxmenu-touch{-webkit-overflow-scrolling:touch;overflow-scrolling:touch;-o-overflow-scrolling:touch;-ms-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar;position:absolute;top:0;bottom:0;left:0;right:0;margin:0;transform:translateX(0);-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0)}
body.showmenu #block-mainnav-mobile .fxmenu-touch{overflow:auto}
#block-mainnav-mobile ul.fxmenu-touch{padding-top:40px}
ul.fxmenu-touch:before{content:"Main Menu";position:absolute;top:0;left:0;right:0;font-size:18px;color:#fff;text-transform:uppercase;height:40px;text-align:center;line-height:40px;box-shadow:0 -1px 0 0 #1C1C1C inset,0 -2px 0 0 #4E4E4E inset}

.fx-subitem.fxmenu-touch{transform:translateX(280px);-webkit-transform:translateX(280px);-moz-transform:translateX(280px);-ms-transform:translateX(280px)}
.fxmenu-touch.show-item{transform:translateX(-280px);-webkit-transform:translateX(-280px);-moz-transform:translateX(-280px);-ms-transform:translateX(-280px)}
.fxmenu-touch.show{transform:translateX(0);-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0)}
.fxmenu-touch.show.show-item{transform:translateX(-280px);-webkit-transform:translateX(-280px);-moz-transform:translateX(-280px);-ms-transform:translateX(-280px)}

/*item*/
#block-mainnav-mobile ul li {  width:auto !important; list-style-type:none; box-shadow: 0 -1px 0 0 #1C1C1C inset, 0 -2px 0 0 #4E4E4E inset; -webkit-box-shadow: 0 -1px 0 0 #1C1C1C inset, 0 -2px 0 0 #4E4E4E inset;-moz-box-shadow: 0 -1px 0 0 #1C1C1C inset, 0 -2px 0 0 #4E4E4E inset;}
#block-mainnav-mobile ul li .level1, #block-mainnav-mobile  ul li .levelsub  { display:block;  color: #999; text-shadow:-1px -1px rgba(0, 0, 0, 0.8);  line-height: 20px;     padding:15px 10px; font-size: 16px;  }
#block-mainnav-mobile ul li.active .level1, #block-mainnav-mobile  ul li.active > .levelsub   { background-color:rgba(0,0,0,0.3);   }

#block-mainnav-mobile ul li > .iconImage { padding-right:50px; position:relative;}
#block-mainnav-mobile ul li > .iconImage img.icon  { position:absolute; top:15px; right:10px; max-width:40px; max-height:36px; }
#block-mainnav-mobile ul li > .fx-desc { line-height:18px; padding-top:7px; padding-bottom:7px;}
#block-mainnav-mobile ul li > .fx-desc .fx-desc { font-size:92%; font-weight:normal; display:block;}

#block-mainnav-mobile .container { background:none !important;  width: auto !important;}	
#block-mainnav-mobile  ul { margin:0; padding:0;  }
#block-mainnav-mobile .position  { color:#fff; padding:10px;}
#block-mainnav-mobile .jv-module { color:#333;}
#block-mainnav-mobile div.themecolor { text-align:center}
#block-mainnav-mobile div.themecolor a {   float: none;   display:inline-block;	    margin: 10px !important;}

#block-mainnav-mobile .hide-item > ul {display: none;}
#block-mainnav-mobile ul li .group-title.levelsub,#block-mainnav-mobile ul .jv-module h3.title-module{color:#000;padding:0 0 0 15px !important;line-height:40px;font-size:16px;text-shadow:-1px -1px rgba(255,255,255,0.5);background-color:#ababab!important;background-repeat:repeat-x!important;background-position:0 0;background-image:-khtml-gradient(linear,left top,left bottom,from(#fff),to(#ababab))!important;background-image:-moz-linear-gradient(top,#fff,#ababab)!important;background-image:-ms-linear-gradient(top,#fff,#ababab)!important;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ababab))!important;background-image:-webkit-linear-gradient(top,#fff,#ababab)!important;background-image:-o-linear-gradient(top,#fff,#ababab)!important;background-image:linear-gradient(top,#fff,#ababab)!important}
/*iconsubmenu*/
#block-mainnav-mobile ul li.hasChild .iconsubmenu {    cursor: pointer;  position: absolute;   width: 80px; z-index: 10;  height:50px; left:0;  z-index: 10; -webkit-tap-highlight-color: none; }
#block-mainnav-mobile ul li.hasChild .iconsubmenu:after { position: absolute; top:50%; margin-top:-10px; left:10px; width:20px; height:20px; line-height:20px; text-align:center; border-radius:20px;      font-family: icomoon !important;    font-style: normal;    font-variant: normal;    font-weight: 400;    text-transform: none;	   content: "";	 color:#fff;}
#block-mainnav-mobile ul li.hasChild.li-group-title  > .iconsubmenu { height:40px;}
#block-mainnav-mobile ul li.hasChild.li-group-title  > .iconsubmenu:after { content: ""; color:#000; }
#block-mainnav-mobile ul li.hasChild.li-group-title.hide-item > .iconsubmenu:after{ content: "";}	



/* add style  */
	#block-mainnav-mobile{background: rgba(58,58,58,1);}

	ul.fxmenu-touch:before,.touch-btnBack {font-family: 'Oswald';font-weight: 500 !important;font-size: 14px;box-shadow:  0 1px 0 0 #4d4d4d, 0 -1px 0 0 #202020 inset;border-bottom: 2px solid #292929;line-height: 40px;height: 40px;z-index: 0}
	#block-mainnav-mobile ul li {box-shadow:  0 1px 0 0 #4d4d4d;border-bottom: 1px solid #292929;position: relative;z-index: 1}
	#block-mainnav-mobile ul li .level1, #block-mainnav-mobile ul li .levelsub {text-shadow: none;color: #eee;font-size: 14px;font-family: inherit;}
	#block-mainnav-mobile ul li.active .level1, #block-mainnav-mobile ul li.active > .levelsub {background-color: #292929;}
	.btnsearchtop {font-family: 'Open Sans',sans-serif;font-size: 14px;font-weight: 300;color: #eee;}
	#block-mainnav-mobile ul li .group-title.levelsub, #block-mainnav-mobile ul .jv-module h3.title-module {background: rgba(255,255,255,0.04)!important;text-shadow: none;color: #8B8B8B;font-size: 12px !important;text-transform: uppercase;font-family: 'Oswald';font-weight: 500 !important;border-bottom: 2px solid #292929;box-shadow: 0 -1px 0 #292929, 0 -1px 0 #3D3D3D inset, 0 1px 0 0 #4d4d4d;padding: 0 10px !important;line-height: 35px;margin-bottom: 0 !important}
	#block-mainnav-mobile ul li.hasChild.li-group-title > .iconsubmenu {line-height: 35px;}
	#block-mainnav-mobile ul li.hasChild.li-group-title > .iconsubmenu:after {color: #efefef;}
	#block-mainnav-mobile ul .hikashop_categories_listing_main {margin: 0;}
	#block-mainnav-mobile ul .hikashop_categories_listing_main .hikashop_category_list {width: 100%}
	#block-mainnav-mobile ul .hikashop_categories_listing_main .hikashop_category_list .hikashop_category_list_item a {color: #eee;text-decoration: none;padding: 15px 10px;display: block;}
	#block-mainnav-mobile ul .k2ItemsBlock {padding: 10px;color: #efefef;font-size: 12px;}
	#block-mainnav-mobile ul .k2ItemsBlock .moduleItemReadMore {display: inline-block;padding: 6px 0;margin-bottom: 10px;color: #efefef;font-family: 'Oswald';font-weight: 300;}
	#block-mainnav-mobile ul .k2ItemsBlock li {box-shadow: none;border: none;}
	#block-header {	margin-bottom: 0; top: 0 !important;}
	#block-mainnav-mobile ul li  [class^=icon-]:before, #block-mainnav-mobile ul li  [class*=" icon-"]:before { margin-right: 6px;display: inline-block;}
	#block-mainnav-mobile a { color: #eee;}
	#block-mainnav-mobile .VMmenu li a {line-height: 20px; padding: 15px 10px; color: #eee; display: block;}
	#block-mainnav-mobile .bannerMenu p { height: auto !important;}
	#block-mainnav-mobile .bannerMenu.custom { padding: 15px;}
	#block-mainnav-mobile .fxsubmenu .vmImageCat { max-width: 100%; padding: 12px 12px 0;}

