.owl-theme .owl-controls{margin-top:10px;text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-controls .owl-nav [class*=owl-]{color:#fff;font-size:14px;margin:5px;padding:4px 7px;background:#d6d6d6;display:inline-block;cursor:pointer;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{background:#869791;color:#fff;text-decoration:none}.owl-theme .owl-controls .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1;*display:inline}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#d6d6d6;display:block;-webkit-backface-visibility:visible;-webkit-transition:opacity 200ms ease;-moz-transition:opacity 200ms ease;-ms-transition:opacity 200ms ease;-o-transition:opacity 200ms ease;transition:opacity 200ms ease;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}
.nssp2.ns2-speaker .ns2-art-prev, .nssp2.ns2-speaker .ns2-art-next
{position:absolute;top:50%;margin:0 -20px;text-indent:-9999em;height:86px;width:42px;z-index: 999;}
.nssp2.ns2-speaker .ns2-art-next {right:0;background: url(images/speaker_arrow_right.png) no-repeat}
.nssp2.ns2-speaker .ns2-art-prev {left:0;background: url(images/speaker_arrow_left.png) no-repeat}
.nssp2.ns2-speaker {text-align:right}
.nssp2.ns2-speaker img.ns2-image {border-radius:100px;cursor:pointer;box-shadow:0 0 0 5px rgba(255,255,255,.5)}
.nssp2.ns2-speaker .ns2-column:hover img.ns2-image {margin-top:50px!important}

