/*============================= Max 1500px ===========================*/
@media (max-width: 1500px) {
	.index-6 #block-header #block-mainnav ul.fxmenu li.level1 > .level1 {font-size: 16px;padding: 0px 10px;}
}
@media (min-width: 1401px) {
	.body-boxed.index-6 #block-header #block-mainnav ul.fxmenu li.level1 > .level1,
	.body-framed.index-6 #block-header #block-mainnav ul.fxmenu li.level1 > .level1,
	.body-rounded.index-6 #block-header #block-mainnav ul.fxmenu li.level1 > .level1 {
	  font-size: 14px;
	  padding: 0px 10px;
	}
}
/*============================= Max 1400px ===========================*/
@media (max-width: 1400px) {
	.index-6 #block-header #block-mainnav { left: 20px;}
	.index-6 #block-header #block-mainnav ul.fxmenu li.level1 > .level1 {font-size: 14px; padding: 0px 8px;}
	.btn-offcanvas { right: 15px;}
	.index-6 .topbanner { right: 65px;}
	.fullwidth.portfolio .pfo-item .pfo-title { font-size: 26px;}
}
/*============================= Max 1200px ===========================*/
@media (max-width: 1199px) {
	#block-header .font-size, #block-header .timer,.skype-name { display:none}
	.top-bar ul.top-bar-nav  li#lang {padding: 0;margin: 0;}
	.sectionCallout {height: 210px;}
	.hikashop_products_pagination ul.pagination-list a.pagenav {margin-bottom: 6px;}
	#block-mainnav ul.fxmenu li.level1[class*="cols"] > .fx-subitem {width: 940px;}
	.avatar li > .bottom-border {clear: both;}
	.fullwidth > h3.title-module {max-width: 970px;padding: 0 15px;}
	.portfoliomasonry .col-md-masonry {width: 25%;}
	
	.control-custom{margin-top: 0;opacity: 1;}
	.gridItem .content-item-description .hikashop_product_vote_row{height:auto !important}
	#block-topb .col-md-3 { width: 50%;}
	.green-line {display: none;}
	
	.owl-carousel .owl-controls .owl-buttons .owl-prev {    left: -25px;}
	.owl-carousel .owl-controls .owl-buttons .owl-next {	right: -25px;}	
	.sectionCallout, .sectionAboutNumbers, .sectionCallout2, .callout-2, .team-of-prof-bg { background-attachment: initial !important;}

	.orderlistcontainer:nth-child(2) { display: none;}
	.orderby-displaynumber .view-layout { margin-left: 15px;}
	.vm-product-thumb,
	.browse-view.list .product.vm-col .vm-image-box .vm-product-thumb {margin-top: -37px;}

	.index-6 #block-header #logo:before, .index-6 #block-header #logo:after { display: none;}
	.fullwidth.portfolio .pfo-item .pfo-title { font-size: 22px;}

	.index-7 .hot-banners .banner-1 h3 { font-size: 16px; margin-top: -10px;}
}
@media (min-width: 1024px) {
	.open > .dropdown-menu,.open > .dropdown-menu > .dropdown-submenu > .dropdown-menu{
		animation-name:slidenavAnimation;animation-duration:200ms;animation-iteration-count:1;animation-timing-function:ease-out;animation-fill-mode:forwards;-webkit-animation-name:slidenavAnimation;-webkit-animation-duration:200ms;-webkit-animation-iteration-count:1;-webkit-animation-timing-function:ease-out;-webkit-animation-fill-mode:forwards;-moz-animation-name:slidenavAnimation;-moz-animation-duration:200ms;-moz-animation-iteration-count:1;-moz-animation-timing-function:ease-out;-moz-animation-fill-mode:forwards}
	}
	@keyframes slidenavAnimation {
	from{margin-top:25px;opacity:0}
	to{margin-top:0;opacity:1}
	}
	@-webkit-keyframes slidenavAnimation {
	from{margin-top:25px;opacity:0}
	to{margin-top:0;opacity:1}
}
/*============================= Min 768px ===========================*/
@media (min-width: 768px) {
	.col-md-12 .col-sm-4 .vm-product-thumb {margin-top: -39px;}
	.col-md-12 .col-sm-6 .vm-product-thumb {margin-top: -70px;}
}
/*============================= Min 992px ===========================*/
@media (min-width: 992px) {
	.div_hikashop_products > div:nth-child(3n+1){clear: both;}
	.col-md-12 .col-sm-4 .vm-product-thumb { margin-top: -57px;}
	.col-md-12 .col-sm-6 .vm-product-thumb {margin-top: -97px;}
}
/*============================= Min 1200px ===========================*/
@media (min-width: 1200px) {
	.col-md-12 .col-sm-4 .vm-product-thumb {margin-top: -74px;}
	.col-md-12 .col-sm-6 .vm-product-thumb {margin-top: -122px;}
}
/*============================= Min 992 & Max 1200px ===========================*/
@media (min-width: 992px) and (max-width: 1200px) {
	.jvnewsletter-group .button-green {display: none;}
	.our-banners-border {padding-top: 0 !important;}
	.our-banners-description > .our-banners-border > .banners-header { font-size: 18px !important;line-height: 20px; margin-bottom: 0;}
		/*v2.2*/
	.photo-news .big .post-2 h3 { max-width: 270px}	
}
/*============================= Min 768px & Max 992px ===========================*/
@media (min-width: 768px) and (max-width: 992px) {  /* Tablet small */
	#block-mainnav ul.fxmenu li .level1 {padding: 0 8px;}
	.jvnewsletter-group .button-green {display: none;}
	.post-slider {width: 100%;}
	.posts-container {width: 100%;}
	.contenttop .block > div { width: 100%;}
}
/*============================= Max 992 ===========================*/
@media (max-width: 992px) { /* Mobile */

	#block-mainnav { display: none;}
	.showmenu #switcher,.btnsearchtop:before,.row-full > label {display: none;}

	.top-bar {position: relative;z-index: 999999;}
	.top-bar-nav:hover #lang .lang {box-shadow: 0px 5px 10px rgba(149, 149, 149, 0.21); display: block !important;}
	.div_hikashop_products > div:nth-child(2n+1){clear: both;}
	.fullwidth > h3.title-module {max-width: 750px;	padding: 0 15px;}
	.our-banners-inner h3 { font-size: 18px !important; padding-bottom: 0 !important;}
	.portfoliomasonry .col-md-masonry {width: 33.33%;}
	#block-topb .col-md-3 { width: 50%; float: left;}
	#block-topb .col-md-3:nth-child(2n+1) { clear: both;}
	#block-mainnav ul.fxmenu li.level1[class*="cols"] > .fx-subitem {width: 720px;}
	.topbanner, .mainnav-5 { display: none;}
	.index-5 #block-header { padding-bottom: 15px !important;}
	.sectionCallout, .sectionAboutNumbers, .sectionCallout2, .callout-2, .team-of-prof-bg { background-position: center !important; background-attachment: initial !important;}
	.browse-view.list .product.vm-col .vm-image-box,
	.browse-view.list .vm-product-body-list { width: 50%;}
	.vm-product-thumb, .browse-view.list .product.vm-col .vm-image-box .vm-product-thumb { margin-top: -39px;}
	.browse-view.list .product.vm-col .vm-image-box .vm-product-thumb { margin-top: -69px;}

	.index-6 #block-header #block-mainnav { display: none;}
	.index-6 a.flexMenuToggle { margin: 0; position: absolute; left: 20px; top: 50%; margin-top: -16px;}
	.index-6 #block-header #logo:before, .index-6 #block-header #logo:after { display: inline-block;}
	.uk-panel .menu { list-style: none;}
	.index-6 a.btnsearchtop { display: none;}
	.index-6 .topbanner { display: block;}
	.index-6 #searchtop {  padding-top: 67px; height: 132px;}
	.index-6 .topbanner .jv-module { margin-left: 10px;}
	.index-6 .topbanner ul.social-top li {  margin-right: 14px;}

	.index-7 .slider-1 { margin-top: -50px;}
	.index-7 .hot-banners .banner-1 { margin-bottom: 30px;}
	.index-7 .offer-banners > div { margin-bottom: 25px;}

}


/*============================= Max 767px ===========================*/
@media (max-width: 767px) { /* Mobile */
	.fullwidth > h3.title-module{padding:0 15px}
	.table-responsive{margin-bottom:0}
	.jvresslide .nav,#block-header .font-size,#block-header .timer{display:none}
	div.item-image{float:none;margin:0 0 10px}
	div.pagination p.counter{display:none}
	.sectionCallout{text-align:center;height:260px;background-size:cover;background-position:center!important}
	.moduleCallout .button-green{float:none}
	.wrapinput span{display:block;margin-top:10px}
	.dl-horizontal dd,.contact .contact-address dd{margin-left:0}
	.itemHeader .dropdown-toggle,.top-bar-nav,.filter .title,.table .pagination .list-footer .limit{display:none}
	.tagView .ItemImage img,.userView .ItemImage img{width:100px}
	.tagView .ItemView,.userView .ItemView{padding:10px}
	.tagView .ItemTitle,.userView .ItemTitle{padding:0;font-size:22px!important}
	.tagView .ItemTags,.userView .ItemTags{display:none}
	#searchtop input{font-size:30px;margin-top:28px}
	#search-beack{top:40px}
	.show-switcher-icon,.show-switcher .show-switcher-icon{width:33px;height:33px;top:31px}
	.top-bar-nav-shop-card,.top-bar-nav-wishlist{display:block!important}
	.post-meta h2:after{-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);top:auto;bottom:-18px;left:50%;margin-left:-6px}
	#hikashop_search{width:100px}
	.filter .button-green,.filter .button-dark{padding:4px 10px}
	form.filter{margin-bottom:15px!important}
	.hikashop_checkout_login_left_part,.hikashop_checkout_login_right_part,.hikashop_checkout_address_left_part,.hikashop_checkout_address_left_part{width:100%;float:none}
	.our-banners{padding-top:0}
	.our-banners-border{padding-top:5px!important}
	.our-banners-inner h3{font-size:14px!important;padding-bottom:0!important;padding-top:0!important}
	.our-banners-inner{width:100%}
	.portfoliomasonry .col-md-masonry{width:50%}
	.hikashop_cart_product_quantity_value{min-width:95px}
	#block-footer .container > div{float:none}
	#helpsite-refresh{width:30%}
	select#jform_params_helpsite{width:70%}
	.price .last-price{font-size:15px}
	.price span{font-size:12px}
	.text-field .col-xs-12{text-align:center}
	.text-field .button-green{float:none!important}
	.jvhikashop_popup .jv_ajax_content_hikashop{max-width:100%}
	.post-slider{width:100%}
	.posts-container{width:100%}
	.contenttop .block > div{width:100%}
	.photo-news .big{width:100%}
	.photo-news .small{width:50%}
	.contentbottom .block > div{width:33.33%;float:left;margin-bottom:25px}
	#tooltip_min,#tooltip_max{display:none}
	.jvajax_shop_search_popup .jvajax_shop_search_content{max-width:100%}
	.orderlistcontainer{display:none}
	.vm-product-thumb{display:none}
	#block-bottomb .position{margin-bottom:35px}

	.portfolioContainer .overaly { display: none;}
	.overaly { opacity: 1;  height: 80px;  text-align: left; padding: 15px; bottom: 0;}
	.overaly p { margin-bottom: 0; font-size: 14px; font-style: italic;color: #43474d;}
	.overaly .likeheart,
	.fullwidth.portfolio .pfo-item .overaly .likeheart { bottom: 0; right: 35px;}
	.pfo-title,
	.fullwidth.portfolio .pfo-item .pfo-title { font-size: 16px;}

	.index-6 .social-top { display: none;}
	.index-6 a.flexMenuToggle {padding: 6px 35px 4px 2px !important;}
	.index-6 a.flexMenuToggle:before { display: none;}
	.index-6 #block-header {padding: 15px 0 !important;}


}
@media (min-width: 480px){
	.our-servise-content .JVTab-nav .nav-content ul {width: auto !important;}
}
/*============================= max 480px ===========================*/
@media (max-width: 480px) {
	.top-banner .col-xs-6{width:100%!important}
	#block-bottomb .about,#block-bottomb .latest-posts{max-width:100%!important;margin:0!important}
	.sectionCallout{text-align:center;height:340px}
	.itemHeader > .pull-right > div.pull-right,.hikashop_cart_step_work span,.itemNavigation,.itemNavigation + .bottom-border{display:none}
	.tagView .ItemImage img,.userView .ItemImage img{width:50px}
	#searchtop input{font-size:18px;margin-top:40px}
	.archive .filters .filter-search > *{margin-bottom:4px}
	#content .hikashop_header_buttons{float:left!important;width:100%;margin-bottom:10px}
	div.toolbar.hikashop_header_buttons a{margin-bottom:10px!important;text-align:left;float:left;margin-left:0!important;margin-right:5px!important}
	.hikashop_cart_step_work{height:20px}
	#hikashop_checkout_address td{border-bottom:none;border-left:1px solid #ddd}
	.table_checkout_address tr.table_checkout_address_item td.first-child{border-radius:5px 5px 0 0}
	.table_checkout_address tr.table_checkout_address_item td.last-child{border-radius:0 0 5px 5px;border-bottom:1px solid #ddd!important}
	.hikashop_checkout_additional_info .hikashop_contentpane td{display:block;width:100%}
	.our-banners-inner h3{font-size:24px!important;padding-top:15px!important}
	.our-servise-content .ui-rating a{padding:0!important}
	.nav-tabs > li > a{font-size:16px}
	.portfoliomasonry .col-md-masonry,.box-portfolio .pfo-item{width:100%}
	.bx-viewport ul li a.zoom-item{display:none}
	#block-topb .col-md-3{width:100%}
	.hikashop_product_vote_form h4.hikashop_form_comment{display:none}
	.post-slider{width:100%}
	.posts-container{width:100%}
	.contenttop .block > div{width:100%}
	.post-slider{padding-bottom:25px}
	.post-slider a.comment,.photo-news .big .post-2 h3,.photo-news .big .post-2 a.comment,.photo-news .big .post-2 h5{display:none}
	#owl-demo-9 .post-slide .post-slide-header{left:15px;right:15px}
	#owl-demo-9 .post-slide .post-slide-header span{font-size:22px}
	.tab-pane .post-2 h3 a{padding:0!important}
	.owl-demo-11,.owl-demo-10,.owl-demo-7{padding:0!important}
	.JVTab.our-servise-content .nav-tabs li a{line-height:18px!important}
	.JVTab.our-servise-content .nav-tabs li.border{display:none}
	.JVTab-nav .nav-next,.JVTab-nav .nav-prev{height:40px;border-width:0 0 2px;border-radius:0!important;background-color:#F8F8F8}
	.contentbottom .block > div{width:50%;float:left;margin-bottom:25px}
	#owl-demo-9 .owl-controls .owl-pagination span{width:30px}
	.browse-view .product.vm-col{float:none;width:100%}
	div.product .spacer .vm-product-body .vm-product-rating-container{display:none}
	.browse-view.list .product.vm-col .vm-image-box,.browse-view.list .vm-product-body-list{width:100%;padding:0!important}
	.browse-view.list .product.vm-col .vm-image-box{margin-bottom:15px}
	div.product .spacer .vm-product-body .vm-product-name{padding-top:0}
	div.product .spacer .vm-product-body{padding-top:10px}

	.index-6 #block-header #logo img { max-height: 50px;}
	.index-6 #block-header #logo:before, .index-6 #block-header #logo:after,
	.btn-offcanvas { display: none;}
	.index-6 .topbanner { right: 15px;}

	.index-7 .hot-banners .banner-1 h3 { margin-top: -20px; padding-right: 100px;}
	.index-7 .tp-bullets { display: none;}
 }
/*============================= Max 420px ===========================*/
@media (max-width: 420px) {
	.blog-item .blog-item1-2 .video,.blog-item .blog-item1-2 .catItemImageBlock {width: 100%;float: none;}
	.blog-item .blog-item1-2 .video + .blog-item-description,.blog-item .blog-item1-2 .catItemImageBlock + .blog-item-description{width: 100%;}
	.rowform > label {float: none;margin: 0 0 5px;}
	#btl-content #btl-content-login,#btl-content #btl-content-profile {left: 0 !important;top: 36px !important;width: 100% !important;}
	.top-bar .btl-panel {font-size: 0;text-indent: -99999em;}
	.top-bar .btl-panel .singin{display: block;padding: 2px 10px;}
	.top-bar .btl-panel .singin:before,.top-bar .btl-panel .btl-dropdown .fa{font-size: 14px;text-indent: 0;font-family: FontAwesome;margin-right: 0;}
	.top-bar .btl-panel .btl-dropdown.active {padding: 10px;margin-top: -9px;display: block;margin-bottom: -12px;}
	.top-bar .btl-panel .singin.active {padding: 12px 10px;margin-top: -10px;display: block;margin-bottom: -11px;}
	.top-bar .btl-panel .btl-dropdown .fa-angle-down {margin-left: 4px;margin-top: 2px;}
	div.btl-buttonsubmit {text-align: left !important;}
	div.btl-buttonsubmit .button-dark {margin-left: 15px;}
	#hikashop_add_to_cart_checkout_div { float: none; clear: both;}
	#hikashop_add_to_cart_checkout_div  .hikashop_cart_input_button { margin: 10px 0 0 0 !important;}

	.index-7 .main-banners .col-xs-6 { width: 100%; float: none;}
}
/*============================= Max 400 ===========================*/
@media (max-width: 400px) { /* Mobile small */
	input.search-query { padding: 0 5px;width: 70px;}
	input.search-query:focus { width:150px}
	.hikashop_products_pagination_top .shop-content-header form:first-child {font-size: 12px;}
	.shop-content-header .shop-item-grid { margin-left: 2px; margin-right: 2px;}
	.shop-item-detail { margin-left: 2px;}
	.hikashop_products_pagination_top .shop-content-header .pull-left .pull-left  { margin-right: 2px;}
	.our-servise-content .tab-pane .pane-img { max-width: 100%;}
	.our-servise-content .tab-pane .pane-img img { float: none;}
	.our-servise-content .tab-pane .pane { width: 100%; float: none;}

	.index-7 .hot-banners .banner-1 h3 { font-size: 14px;}

}
/*============================= Max 360 ===========================*/
@media (max-width: 360px) { /* Mobile small */
	.nav-tabs > li > a {font-size: 13px;}
	.contentbottom .block > div { width: 100%%; float: none; margin-bottom: 25px;}
	#owl-demo-9 .post-slide .post-slide-header { bottom: 35px;}
	#owl-demo-9 .post-slide .post-slide-header span { font-size: 14px}
}

/*============================= Max 320 ===========================*/
@media (max-width: 320px) { /* Mobile small */
	.hikashop_products_pagination_top .shop-content-header form:first-child { display: none;}
}

/*Fix Hikashop Checkout*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
	#hikashop_checkout_cart table td{padding-left:0;width:100%!important}
	#hikashop_checkout_cart table td:before{position:static;padding:0 15px;float:left;min-width:120px}
	#hikashop_checkout_cart .hikashop_product_price_full{padding-left:0}
	#hikashop_checkout_cart .hikashop_product_quantity_field{margin-left:0!important}
}