 /*================= float left =========================*/
#block-mainnav,
.k2FeedIcon,
.shop-card-close,
.gridItem .item .moduleItemComments,
.our-servise-content .tab-pane .pane-mobile-item,
.moduleCallout .button-green,
.blog-item-description .comment, 
.blog-item-quote .comment,
.shop-card-products-description > .price,
.hikashop_field_required , 
.table .pagination .list-footer .pagination,
.top-bar-nav-shop-card .shop-card .cart-subtotal .price, 
#hikashop_checkout_next_button,.itemCommentsList li .commentLink,
#block-footer .position-footer,.our-servise-content .tab-pane .pane,
.jv_ajax_content_hikashop .form_add_to_cart,
.index-5 #block-mainnav ul.fxmenu li.level1:last-child,
.post-1 .comment,
.post-2 .comment,
.categories li a .catCounter,
.page-title-address i {float: left;}
/*================= float right =========================*/
#logo,
.features-list,
h3.title-module span,
.k2ItemsBlock .pop-products-img,
.our-servise-content .tab-pane .pane-mobile-item-img,
.avatar li .avatar-img,
.shop-card-products-img,
div.toolbar a,
.filter > *,
.hikashop_cart_product_quantity_value .hikashop_product_quantity_field, 
.hikashop_cart_product_quantity_value .hikashop_cart_product_quantity_refresh, 
.hikashop_cart_product_quantity_value .hikashop_cart_product_quantity_delete,
.table .pagination .list-footer .limit,
.hikashop_address_form_span_iframe .hikashop_field_dropdown, 
.hikashop_address_form_span_iframe .inputbox,
#block-footer .copyright, .our-servise-content .tab-pane .pane-img img, #hikashop_add_to_cart_continue_div,
.jv_ajax_content_hikashop .item .price,
.img-revievs,
.latest-news .itemRatingList,.owl-carousel .owl-item { float: right;}

/*============================================================*/

body { overflow-x: hidden }
.position-search {right: auto;	left:15px}
#block-header .timer { left: 100px;	right:auto;}
#block-header .font-size {left: 0;	right:auto;}
.follow-us li a {padding: 8px 40px 8px 0;}
.follow-us .facebook a {background-position: right  0;}
.follow-us .twitter a {background-position: right -50px;}
.follow-us .rss a {background-position: right -100px;}
.follow-us .people a { background-position: right -150px;}
a.flexMenuToggle {float: right;margin:0 0 0 10px;}
.fa-angle-right:before {content: "\f104";}
.fa-angle-left:before {content: "\f105";}
.pull-right {margin-right: 0;}

#search-beack { right: auto; left: 10px;}
.layout-mobile #logo { float: right; position: static;}
/*Top bar*/
#block-panel .position-panel-1 .jv-module {float: right;border-right: none;border-left: 1px solid #616469;margin: 0 0 0 10px;padding: 0 0 0 10px;}
.top-bar i {margin: 0 0 0 8px;}
.singin:before { margin-right: 0; margin-left: 8px;}
.lang { top: 30px}
#lang > a.lang-active {padding: 11px 15px 12px 0;}
/*modul login*/
.rowform > label { float: right; margin-right: 0; margin-left: 20px;}
[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {padding-left: 0; padding-right: 25px; text-align: right;}
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before { left: auto; right: 0}
#btl-content-login ul { float: right; text-align: right;}

.top-bar-nav-wishlist {margin-left: 0; margin-right: 5px;}
.top-bar-nav-wishlist > a {padding: 11px 12px 12px 0;}
.top-bar ul.social-small li {margin: 0 0 0 10px;}	
/*show-switcher*/
#switcher {border-style: solid; border-width: 1px 0 1px 1px; left:auto; right:-210px; }
#switcher.show-switcher { right:0; left: auto;}
.show-switcher-icon { left: auto; right: 100%;-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}
#switcher .themecolor:after { right: auto; left: 30px;}
.switcher-box { text-align: right;}
.radio-labels {left: auto;right: -45px;}
input[type="radio"] + label { left: auto;right: -45px;padding: 0 25px 0 0;}
#switcher input[type="radio"] + label::before { left: auto; right: 26px;}
/*main nav*/
#block-mainnav ul.fxmenu li.hasChild .level1:after {margin: 0 10px 0 -5px;}
#block-mainnav ul.fxmenu .fx-subitem { padding:0; text-align: right;}
#block-mainnav ul.fxmenu .fx-subitem .fxcolumn { width: 100%;}
#block-mainnav ul.fxmenu .fx-subitem li.hasChild > .iconsubmenu { right: auto; left: 10px;}
#block-mainnav ul.fxmenu { position: relative;}
#block-mainnav ul.fxmenu li.level1.cols5,
#block-mainnav ul.fxmenu li.level1.cols4,
#block-mainnav ul.fxmenu li.level1.cols3  { position: static !important;}
#block-mainnav ul.fxmenu li.level1.cols5 > .fx-subitem,
#block-mainnav ul.fxmenu li.level1.cols4 > .fx-subitem,
#block-mainnav ul.fxmenu li.level1.cols3 > .fx-subitem { left: 0 !important; right: auto !important}
#block-mainnav ul.fxmenu .fx-subitem {padding: 20px 10px;}
#block-mainnav ul.fxmenu .fx-subitem .fxcolumn,#block-mainnav .fx-subitem .fxcolumn {float: right;padding: 0 10px; margin-right: 0;}
#block-mainnav ul.fxmenu .fx-subitem .group-content > li > .levelsub, #block-mainnav .hikashop_categories_listing_main a { text-align: right;}
#block-mainnav .fx-subitem.cols4 > .insubitem > ul > li.fxcolumn { width: 25%; float: right;}
#block-mainnav ul.fxmenu li.level1.cols4 { position: static;}
#block-mainnav ul.fxmenu .cols4 > .fx-subitem { left: 0; }
#block-mainnav ul.fxmenu .fx-subitem {text-align: right;background-color: #fff;border-radius: 5px;box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.13);}
#block-mainnav .group:not(.cols1) .group-content > ul > .fxsubmenu { float: right !important;}
#block-mainnav ul.fxmenu .fx-subitem .levelsub.iconImage { padding-left:7px; padding-right: 40px;}
/*#block-mainnav ul.fxmenu .fx-subitem.cols1,#block-mainnav ul.fxmenu .fxcolumns.cols1 > .insubitem ,#block-mainnav ul.fxmenu .fxcolumns.cols1 > .insubitem  > .fxcolumn{width: 250px;padding: 0;}*/
h3.title-module:after { content: ""; display: block; clear: both; width: 100%;}
h3 > small { margin-right: 10px; margin-left: 0;}
ul.fxmenu [class*="icon-"]:before {margin-right: 0 !important;float: right !important;margin-left: 5px !important;margin-top: 3px;}
/*Home */
/*Recent post*/
.corner {  border-color: #363839 transparent  transparent  transparent;border-width: 80px 80px 0  0;right: auto; left: 0;}
.pluss { right: auto; left: 15px;}
.gridItem .item { text-align: right;}
.gridItem .dateItem {padding: 10px 60px 10px 20px; text-align: right;}
.gridItem .dateItem .d { left: auto; right: 0;}
.gridItem .dateItem:after { left: auto; right: 20px;}
/*Features*/
.features-list-left {margin-right: 0; margin-left: 20px;}
.features-list i {margin-right: 0;margin-left: 10px;}
.features-list i.fa-angle-right:before { content: "\f104";}
/*Our services*/
/*Mobile custom*/
.toggle-content {padding: 25px 45px 0 0;}
.toggle h4 i {margin-right: 0; margin-left: 10px; float: right;display: inline-block;font-family: FontAwesome;font-style: normal;font-weight: normal;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
/*customCallout*/
#block-bottomb h3.title-module { overflow: hidden;}
#block-bottomb .jvnewsletter-group button { right: auto; left: 3px;}
#block-bottomb input { padding-right: 10px;}
/*Home2*/
.portfolioFilter > .filter-link {float: right; margin-right: 5px; margin-left: 0;}
.service-2 .ico-1, .service-2 .ico-2, .service-2 .ico-3, .service-2 .ico-4 {float: right;margin-right: 0;margin-left: 15px;	}
.page-number > ul > li > a > i { margin-right: 0; margin-left: 10px;}
.shipping span.number {margin-right: 0; margin-left: 15px;}
#block-breadcrumb .page-title-address > * {float: right !important;}
#block-breadcrumb .page-title-address .fa-angle-right:before {content: "\f104";}
.blog-item1 {padding-left: 0; padding-right: 120px;}
.post-meta { left: auto; right: 0;}
.post-meta h2:after { right: auto; left: -10px;-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}
.blog-item > .catItemImageBlock + .comment { left: 20px; right: auto;}
.blog-item-quote,.team .blog-item-quote {background-position: 5% 10%;}
.categories li a {padding: 10px 0 10px 10px;}
.categories li a i {padding-right: 0; padding-left: 10px; }
.categories li a i.fa-angle-right:before { content: "\f104";}
.categories ul li a:before { padding-right: 0; padding-left: 10px; float: right; margin-top: 3px; content: "\f104";}
.tag-cloud a {margin-right: 0;margin-left: 5px;float: right;}
.searchK2-form > input { margin-right: 0; margin-left: -28px;}
.searchK2-form button { position: relative; z-index: 1;}
.jvTwitterTweets .avatar {float: right;	margin: 5px 0 0 10px;}
.pop-products .pop-products-img + .pop-products-description { padding-left: 0; padding-right: 96px;}
.avatar li .avatar-img img { margin-right: 0; margin-left: 25px;}
.active .avatar-corner {float: left;right: auto;left: -8px;border-bottom: 12px solid transparent !important;border-left: none;border-right: 12px solid green;border-top: 12px solid transparent !important;}
.animate-img {max-height: 220px;padding: 0 0 10px 30px;}
.profile .button-green {margin-right: 0;margin-left: 10px;}
select#jform_params_helpsite { float: right; border-radius: 0 5px 5px 0; border-left: none; border-right: 1px solid #dcdcdc;}
#helpsite-refresh { border-radius: 5px 0 0 5px;}
.blog .category-desc img { float: right; border-radius: 0 5px 5px 0; margin: -1px -1px -1px 15px;}
.article-info > div { float: right; padding-right: 0;padding-left: 10px; margin-right: 0 !important; margin-left: 10px !important; border-right:none; border-left: 1px solid #eee;}
.our-servise-content { overflow: hidden; padding-right: 1px;}
.our-servise-content > .nav-tabs > li {margin: 0 0 0 3px;}
.our-servise-content .input-append { overflow: hidden;}
.our-servise-content .input-append > *, #jform_publish_up, #jform_publish_down,.edit.item-page .control-group .input-prepend .add-on,.edit.item-page .control-group .input-small { float: right;}
.edit.item-page .control-group .btn { border: none;}
.edit.item-page .control-group .btn:last-child {border-radius: 3px 0 0 3px; border-right: 1px solid #bbb;}
#jform_publish_up, #jform_publish_down { border-radius: 0 4px 4px 0;}
.edit.item-page .control-group .input-prepend .add-on { border-radius: 0 4px 4px 0; border-right: 1px solid #ccc}
.contact .contact-address .fa {margin: 2px 0 0 10px;}
.contact .contact-address dd { margin-right: 50px;}
.page-search .panel-heading .button-green { border-radius: 5px 0 0 5px;}
.blog-item > div > .pull-right,.itemAuthorUrl { margin-right: 0; margin-left: 10px;}
.itemNavigation .itemNext span { background-position: 0 0;}
.itemNavigation .itemNext:hover span{background-position: 0 bottom;}
.itemNavigation .itemPrevious span	{ background-position: right 0;}
.itemNavigation .itemPrevious:hover span	{ background-position: right bottom;}
#recaptcha{ float: none;}
.userView .userBlock .thumb {float: right;margin-right: 0; margin-left: 15px;}
.userAdditionalInfo div .fa { float: right; margin-right: 0; margin-left: 10px;}
.ItemLinksWork > * {margin-left: 0;padding-left: 0;border-left: none; margin-right: 10px;padding-right: 10px;border-right: 1px solid #dcdcdc;}
.ItemLinksWork > *:first-child {margin-right: 0;padding-right: 0;border-right: none; float: right;}
.itemHeader .pull-right > .pull-right,.commentToolbar a {border-right: none;padding-right: 0;margin-right: 0;border-left: 1px solid #eee;padding-left: 10px;margin-left: 10px;}
.itemHeader .pull-right > .pull-right.btn-group  { padding: 0; margin: 0; border: none;}
.k2Avatar {float: right;margin: 0 0 5px 10px;}
.k2TopCommentersBlock ul li .k2Avatar, .k2LatestCommentsBlock ul li .k2Avatar,.k2UserBlock .k2Avatar {float: right; margin-right: 0; margin-left: 10px;}
.k2UserBlockActions li a:before {margin-right: 0;margin-left: 7px;}
.k2AdminTableFiltersSearch input[type="text"], .k2AdminTableFiltersSelects select, .k2CommentsPagination #limit,.k2AdminTableFiltersSearch #k2SubmitButton, .k2AdminTableFiltersSearch #k2ResetButton {float: right;margin-right: 0; margin-left: 5px;}
table.k2AdminTableFilters tr td.k2AdminTableFiltersSelects select,.k2CommentsPagination #limit { float: left;}
.ubUserItems {padding-left: 0;padding-right: 18px;}
.k2CalendarBlock .calendar td.calendarDateLinked a { display: block;}
.k2LoginBlock [type="checkbox"]:checked + label { right: 0; left: auto;}
[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after,[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before { left: auto; right: 0;}
.tagView .ItemImage, .userView .ItemImage { margin-left: 10px; margin-right: 0;}
.top-bar-nav-wishlist span.fa.fa-angle-down { padding-left: 10px; padding-right: 10px;}
.shop-card-products-description { padding-left: 0;padding-right: 96px;}
.shop-card-products-img,.top-bar .shop-card-products-description-header,.shop-card-products-features { float: right;}
.top-bar .shop-card-products-description span.work-price { right: auto; left: 0;}
.top-bar .shop-card-products-description > span.price * { float: right; margin-right: 5px;}
.wishlist,.shop-card { right: auto; left: 15px;}
.top-bar-nav-wishlist ul.wishlist li,.top-bar-nav-wishlist ul.wishlist li:last-child,.top-bar-nav-shop-card ul.shop-card li {padding: 20px 0 5px 0;}
.top-bar-nav-wishlist ul.wishlist li:last-child { padding-top: 0px;}
.top-bar-nav-shop-card ul.shop-card li:last-child { padding-right: 0;}
.top-bar .wishlist, .top-bar .shop-card { padding: 15px 20px;}
.shop-card li .button-gray { float: left; margin-top: 0}
.shop-card li .button-green { float: right; margin-top: 0}
div.toolbar.hikashop_header_buttons a { margin-left: 0 !important; margin-right: 5px !important}
#content .hikashop_header_buttons { float: left !important;}
div.toolbar.hikashop_header_buttons a .fa { margin-right: 0 !important; margin-left: 10px !important; }
.filter .title { margin-right: 0; margin-left: 5px;}
.filter .button-green, .filter .button-dark { margin-left: 0; margin-right: 5px;}
.pagination .inputbox { margin-left: 0; margin-right: 10px;}
.hikashop_address_listing_table tr.hikashop_address_listing_item td.hikashop_address_listing_item_default, .table_checkout_address tr.table_checkout_address_item td.first-child {border-top-left-radius: 0;border-bottom-left-radius: 0;border-left:none;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-right: 1px solid #dcdcdc;}
.hikashop_address_listing_table tr.hikashop_address_listing_item td.hikashop_address_listing_item_actions, .table_checkout_address tr.table_checkout_address_item td.last-child {border-top-right-radius: 0;border-bottom-right-radius: 0;	border-top-left-radius: 5px;border-bottom-left-radius: 5px;border-left: 1px solid #dcdcdc;}
.shipping_item label.button-green { right: 0;left: auto;padding-right: 35px;padding-left: 10px;}
.shipping_item label.button-green:before {left: auto !important; right: 8px !important}
#hikashop_checkout_page .hikashop_checkout_coupon .hikashop_cart_input_button {border-radius: 3px 0 0 3px !important;}
a.flexMenuToggle { float: left; margin: 17px 5px 0px;}
.contact-page .share a { float: right;}
.contact-classic .title { clear: both;}
.shop-item-grid .bottom-border, .shop-item-detail .bottom-border{ width: auto; margin-right: -1px}
.our-services i { float: right; margin-right: 0; margin-left: 20px;}
.itemNavigation a span {-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}
.hikashop_cart_step_finished:after { margin-left: -6px;}
#btl-content #btl-content-profile #module-in-profile ul { margin: 0 15px 0 0;}
#btl-content-profile ul.menu li {background-position: 172px;padding: 0 20px 0 0!important;text-align: right;}
.blog-item .blog-item1-2 .video, .blog-item .blog-item1-2 .catItemImageBlock { float: right;}
.item .content-item-description .hikashop_cart_input_button { float: right;  margin-right: 0;}
.cols_list_1 .item:before { left: auto; right: -10px;}
.cols_list_1 .moduleItemImage { float: right; margin-right: 0; margin-left: 20px;}
.hikashop_module .price span { margin-right: 0;}
.index-3 #block-bottom .news h3 span, #block-bottomb h3.title-module span{ float: none;}
.back-to-top { right: auto; left: 0;}
.itemContentFooter .pull-right > * { float: right;}
.itemContentFooter .fa {float: right;margin-left: 5px;margin-top: 3px;margin-right: 5px;}
.shop .quantity span { margin-left: 15px; margin-right: 0;}
.description th {border-right: 1px solid transparent; border-left: 1px solid #dcdcdc;}
.hikashop_vote_form .button-green { margin-bottom: 4px;}
.selectify .header-f .icon { left: .8em; right: auto;}
.itemHeader .pull-right .dropdown-menu .btn-group { margin-left: 0; margin-right: 20px;}
.itemHeader .pull-right>.dropdown-menu {right: auto;left: 0;}
.hikashop_cart_step_work { float: right;}
.social-google i {padding: 6px 0 6px 15px;  border-right: none;  border-left: 1px solid #CE4330;box-shadow: inset 1px 0 0 0 #E56E5B;  margin-right: 0;margin-left: 5px;}
.social-facebook i {padding: 6px 0 6px 15px;border-right: none;border-left: 1px solid #2C4976;box-shadow: inset 1px 0 0 0 #8DA7D5;margin-right: 0;margin-left: 5px;}
/*=== Index 4 ====*/
.text-field p.four-steps { text-align: left;}
.filter-product .hikashop_filter_button_inside input {right: auto; left: 0;}
.jvhikashop_popup .jv_ajax_content_hikashop { right: auto; left: 0;}
.jv_ajax_content_hikashop .item .image.left { float: right; margin-right: 0; margin-left: 10px;}
.jv_ajax_content_hikashop .item .image.right { float: left; margin-right: 10px; margin-left: 0;}
.jv_ajax_search_hikashop .jvhikashop_name_block:before {right: auto; left: 7px;}
.jv_ajax_search_hikashop .jvajax_search_hikashop_block:before {left:auto;right: 50%;margin-left:0;margin-right: -10px; content: "\f0a8";}
.icon-forward4:before {content: "\e70d";}
.icon-backward3:before{content: "\e70e";}
.jvhikashop_module .hikashop_products_pagination ul.pagination-list a.pagenav:last-child { float: left}
.jvhikashop_module .hikashop_products_pagination ul.pagination-list span.pagenav:first-child + a { float: right;}
.index-5 #block-mainnav ul.fxmenu li:last-child .level1 { padding-left: 0; padding-right: 25px;}
#owl-demo-9 .post-slide .post-slide-header { text-align: right;left: auto;right: 50px;}
#owl-demo-9 .post-slide .post-slide-header span {float: right;}
.post-slider a.comment { right: auto; left: 50px;}
.blog-discussed li a span { margin-right: 0; margin-left: 5px;}
.blog-discussed li a span:after { border-left-width: 0 !important;border-right-width: 5px !important;right: auto;left: 3px;}
.img-revievs img { float: right; margin-right: 0; margin-left: 20px;}
.latest-news .itemRatingList { margin-right: 0; margin-left: 10px;}
#owl-demo-11 .owl-controls { right: auto; left: 0;}
#owl-demo-11 .owl-controls .owl-buttons .owl-prev, .news-random .owl-controls .owl-buttons .owl-prev { right: auto; left: 7px;}
#owl-demo-11 .owl-controls .owl-buttons .owl-next, .news-random .owl-controls .owl-buttons .owl-next { right: auto; left: 37px;}
.news-random .owl-controls .owl-buttons {right: auto;left: -15px;}
.la-rev h3, .la-rev h5 { text-align: right;}
.position-bottom-1 .contentmod  {-webkit-animation-name: none !important;
animation-name: none !important; visibility: visible !important;}

/*=== Index 6 ====*/
.btn-offcanvas { right: auto; left: 30px;}
.index-6 #block-header #block-mainnav { left: auto; right: 35px;}
.index-6 .topbanner { right: auto; left: 80px;}
.index-6 #block-header #block-mainnav ul.fxmenu li.level1[class*="cols"] > .fx-subitem { left: auto !important; right: 0 !important;}
.index-6 .topbanner .jv-module {float: left;margin-right: 20px;margin-left: 0px;}
.index-6 .topbanner ul.social-top li { margin-right: 0; margin-left: 28px;}
.index-6 #block-header #logo:after { content: attr(data-sleft);}
.index-6 #block-header #logo:before { content: attr(data-sright);}
.index-6 #block-header #block-mainnav ul.fxmenu li.level1:first-child .level1 { padding-right: 0; padding-left: 17px;}

/*=== Index 7 ====*/
.index-7 .position-topbanner > div { float: right;}
.index-7 .vmSearchCategory { margin-right: 0; margin-left: 90px;}
.index-7 .position-topbanner > div .menu li { padding-right: 0;margin-right: 0;border-right: none;padding-left: 20px;margin-left: 20px;border-left: 1px solid #dcdcdc;}
.index-7 .vmCartModule { margin-right: 0; margin-left: 20px;}
.index-7 .vmSearchCategory .chzn-container.chzn-with-drop .chzn-drop { right: 0; margin-right: -1px; margin-left: 0;}
.index-7 #block-mainnav ul.fxmenu { float: right;}
.index-7 #block-mainnav ul.social-small { margin-left: 20px; margin-right: 0;}
.index-7 #block-mainnav ul.fxmenu li.level1 {border-right: 1px solid #fff; border-left: none;}
.index-7 #block-mainnav ul.fxmenu li.level1:first-child .level1 { padding-left: 30px; padding-right: 40px;}
.index-7 #block-mainnav ul.fxmenu li.level1:first-child .level1::before { right: 20px; left: auto;}
.index-7 #block-mainnav ul.fxmenu li.level1:first-child .level1::after { right: 10px; left: auto;}
.index-7 #block-mainnav ul.fxmenu li.level1 > .fx-subitem > div > ul > li .level2.iconImage { padding-left: 20px; padding-right: 40px; }
.index-7 #block-mainnav ul.fxmenu li.level1 > .fx-subitem > div > ul > li .level2.iconImage img { left: auto; right: 8px;}
.index-7 #block-mainnav ul.fxmenu .fx-subitem .level2 .fx-subitem { margin-left: 0; margin-right: -1px;}
.index-7 #block-mainnav ul.fxmenu li.level1.cols5 > .fx-subitem,
.index-7 #block-mainnav ul.fxmenu li.level1.cols4 > .fx-subitem,
.index-7 #block-mainnav ul.fxmenu li.level1.cols3 > .fx-subitem { left: auto!important; right: 0 !important}
.fxsubmenu .vmImageCat {padding-left: 0;padding-right: 12px;}
#block-mainnav ul.fxmenu .fx-subitem.cols3 .fxsubmenu .vmImageCat {float: right;margin-right: 0;margin-left: 20px;}
#block-mainnav ul.fxmenu .fx-subitem.cols3 .vmMenuDefault {padding-left: 0px;padding-right: 182px;}
#block-mainnav ul.fxmenu .fx-subitem .vmMenuDefault { padding-left: 0; padding-right: 12px;}
.VMmenu .hot { display: inline-block; line-height: 1.2;}

.index-7 .hot-banners .banner-1 h3 { left: auto;right: 15px;}
.index-7 .hot-banners .banner-1 h6 { right: auto; left: 15px;}
.index-7 .hot-banners .banner-2 h2 { left: auto; right: 20px;}
.index-7 .hot-banners .banner-2 h6 { left: auto; right: 120px;}
.index-7 .offer-banners .banner-3 .banner-description-3 .banner-border img { left: auto; right: 45%;}


/*== Portfolio ===*/
.mfp-title { text-align: right; padding-right: 0; padding-left: 36px;}
.mfp-counter { right: auto; left: 0;}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close { text-align: left; right: auto; left: -6px; padding-left: 6px; padding-right: 0;}
.likeheart .fa::before {float: right;}
/*=== Hikashop ===*/
.top-bar-nav-shop-card ul.shop-card { right: auto; left: 0;}
.top-bar-nav-shop-card form ul.shop-card .cart-limit ul.limit-page-cart li .remove-product,
.top-bar-nav-shop-card form ul.shop-card .jv-update-cart button { float: left;}
.top-bar-nav-shop-card form ul.shop-card .cart-limit ul.limit-page-cart li .cart-link-product { text-align: right;}
.hikashop_subcategories_listing .toggles1>.toggle>h4 a span:first-child { float: right; margin-left: 10px;}

/*=== OffCanvas ===*/
.uk-offcanvas-page{-webkit-transition:margin-right .3s ease-in-out;transition:margin-right .3s ease-in-out}
.uk-offcanvas-bar-flip{left:0;right:auto;-webkit-transform:translateX(-100%);transform:translateX(-100%)}
.uk-offcanvas .uk-panel .menu a{padding:4px 18px 4px 0}
.uk-offcanvas .uk-panel .menu a:before,.uk-offcanvas .uk-panel .menu a:after{-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);left:auto;right:0}
.uk-offcanvas .uk-panel .menu a:after{right:-2px}

/*----------------------RTL NTD0609@GMAIL.COM TEAM BY JOOMLAVI-------------------------------------------------------------------*/
.selectbox {text-align:right}
.selectbox .selectify .header-f .icon{right: auto;left: 15px;}
/*fix allpage bxslider rtl*/
.bx-wrapper {direction: ltr;}
.margin-reset{margin-right:0}
.rtlmargin-custom .margin-reset{margin:0}
/*COLUMN RIGHT*/
.filter-all .hikashop_filter_Filter_by_all::before{right:90%}
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before{left:100%}
[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after{left:109%}

.sidebar .toggles1 h4 i {margin: 1px 0px 0 10px;}
.toggles1 .features-list {padding: 10px 20px 0 0px;}
.filter-product .hikashop_filter_button_inside {right: auto;left: 0;}
.filter-by-characteristics [type="checkbox"]:not(:checked) + label, .filter-by-characteristics [type="checkbox"]:checked + label {left: auto;right:7px}
/*list product*/
.shop-content-header a {margin-left: 5px;margin-right: 0;}
.shop-content-header a.shop-item-grid {margin-right:20px;margin-left:0}
.shop-content-header a.shop-item-detail {margin-right: 15px;}
.sort-buy p{margin:0}
.hikashop_badge_topright_div{right:auto !important;left:10px}
.related-categories-list > span{margin:0}
.work-price .hikashop_product_price_before_discount{float: right;line-height: 28px;margin-left: 6px;}
.hikashop_vote_stars .ui-rating{float:none}

/*detail product*/
.shop-single .work-price .hikashop_product_price_before_discount{line-height: 39px;margin-left: 15px !important;margin-right: 0 !important;}
.shop-single .skuproduct > span{margin-left:0;margin-right:0}
	.shop-single .customrtl-detail-ntd .hikashop_product_stock table,
	.shop-single .customrtl-detail-ntd .hikashop_product_stock,
	.shop-single .work-price .hikashop_product_price_before_discount,
	.shop-single .customrtl-detail-ntd div#hikashop_product_contact_main{float:right}
	.shop-single .customrtl-detail-ntd .hikashop_product_stock #hikashop_add_wishlist{margin-right:20px}
.shop-single  table.hikashop_product_characteristics_table tbody tr:first-child td:first-child::before {float: left;}
.tab-pane .hikashop_product_vote_listing .hika_comment_listing_stars{right: auto;left: 15px;}
.rtlmargin-custom.date-vote .margin-reset{margin-left:3px}
.tab-pane .hikashop_product_vote_listing .pagination .list-footer{float:right}
.tab-pane .hikashop_product_vote_listing .pagination .results{float:left}

/*Virtuemart*/
.item-circle, 
.jvajax_shop_search_fields .jvajax_shop_search_name_block .fa { right: auto; left: 10px;}
.ratingbox { float: right; margin-right: 0; margin-left: 10px;}
.ratingbox div, .ratingbox span { background-position-x:right;}
.product-price.mini .vm-display { padding-right: 0; padding-left: 8px;}
.vm-menu-category > li i {margin: 3px 0 0 10px;float: right;}
.vm-menu-category > li ul {padding-left: 0px; padding-right:22px; }
.vm-menu-category > li ul li i:before,
#owl-demo-11 .owl-controls .owl-buttons .owl-next:before, .news-random .owl-controls .owl-buttons .owl-next:before, .listing-view-carousel.owl-carousel > .owl-controls > .owl-buttons > .owl-next:before {content:"\f104"; }
#owl-demo-11 .owl-controls .owl-buttons .owl-prev:before, .news-random .owl-controls .owl-buttons .owl-prev:before, .listing-view-carousel.owl-carousel > .owl-controls > .owl-buttons > .owl-prev:before { content:"\f105"; }
#sidebar-b .jvajax_shop_search_popup .jvajax_shop_search_content { right: auto; left: 0;}
.jvajax_shop_search_content .item .image.left { margin-right: 0; float: right;}
.jvajax_shop_search_content .item .image.right { margin-left: 0; float: left;}
.vmgroup-single.popular .vmproductItem:before, .vmgroup-single.feature .vmproductItem:before, .vmgroup-single.bestsales .vmproductItem:before { left: auto; right: -1px;}
.vmgroup .vmproductItem .basePrice { float: right; margin-top: 2px; margin-left:10px; margin-right: 0; }
#owl-demo-11 .owl-controls .owl-buttons .owl-next, .news-random .owl-controls .owl-buttons .owl-next, .listing-view-carousel.owl-carousel > .owl-controls > .owl-buttons > .owl-next { right: auto; left: 7px;}
#owl-demo-11 .owl-controls .owl-buttons .owl-prev, .news-random .owl-controls .owl-buttons .owl-prev, .listing-view-carousel.owl-carousel > .owl-controls > .owl-buttons > .owl-prev { right: auto; left: 37px;}
.orderby-displaynumber .view-layout { margin-left: 0; margin-right: 40px;}
.orderby-displaynumber .view-layout a { margin-right: 0; margin-left: 15px;}
.orderlistcontainer { margin-left: 0; margin-right: 20px;}
.orderlistcontainer div.activeOrder, .orderlistcontainer div.Order { margin-left: 0; margin-right: 5px;}
.orderlistcontainer div.orderlist { right: auto; left: 0;}
.browse-view.list .product.vm-col .item-circle { left: auto; right: -75px;}
.browse-view.list .product.vm-col .vm-image-box {float: right;padding: 0 0 0 15px;}
.browse-view.list .vm-product-body-list { padding: 0 15px 0 0; float: right;}
.orderlistcontainer div.activeOrder, .orderlistcontainer div.Order {padding: 0 12px 0 30px;}
.orderlistcontainer div.activeOrder:before { right: auto; left: 9px;}
.orderby-displaynumber .view-layout a.view-list .inner .i1 { left: auto; right: 8px;}
.orderby-displaynumber .view-layout a.view-list .inner .i2 { left: auto; right: 15px;}
.vm-product-thumb .vm-product-thumb-slide .owl-controls .owl-buttons > div .fa-angle-right:before { content:"\f105"; }
.vm-product-thumb .vm-product-thumb-slide .owl-controls .owl-buttons > div .fa-angle-left:before { content:"\f104"; }

.chzn-container {text-align: right;}

.chzn-container-single .chzn-single {overflow: visible;padding: 0 8px 0 0;}
.chzn-container-single .chzn-single span {margin-right: 0;margin-left: 26px;direction: rtl;}
.chzn-container-single .chzn-single div {right: auto;left: 3px;}
.chzn-container-single .chzn-single div b {background-position: left 6px;}
.chzn-container-single .chzn-single abbr {right: auto;left: 26px;}
.chzn-container-single .chzn-results {margin: 0 0 4px 4px;padding: 0 4px 0 0;}
.chzn-container-single .chzn-results li.group-option {padding-right: 15px;padding-left: 0;}
.chzn-container-single .chzn-search input[type="text"] {padding: 2px 5px 2px 20px;
background: #ffffff url('../../../media/jui/css/chosen-sprite.png') no-repeat -30px -20px;
background: url('../../../media/jui/css/chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
background: url('../../../media/jui/css/chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
background: url('../../../media/jui/css/chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
background: url('../../../media/jui/css/chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
background: url('../../../media/jui/css/chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
direction: rtl;
}
.chzn-container-single.chzn-container-single-nosearch .chzn-search{left: 9000px !important;display: none;}
.chzn-single-with-deselect span {margin-left: 38px;}
.chzn-choices li {float: right;}
.chzn-choices li.search-field input[type="text"] {direction: rtl;}
.chzn-choices li.search-choice {margin: 3px 5px 3px 0;padding: 3px 5px 3px 19px;}
.chzn-choices li.search-choice .search-choice-close {right: auto;left: 4px;}
.chzn-container-multi .chzn-choices li {float: right;}
.chzn-container-multi .chzn-choices li.search-choice {margin-left: 0;margin-right: 3px;}
.pull-right>.dropdown-menu { right: auto; left: 0;}
.productdetails-view .product-price.mini .vm-display .PricesalesPrice { padding-left: 0; padding-right: 15px;}
.shop .required { float: left;}
.shop .quantity span { float: right;}
.productdetails-view .addtocart-area .addtocart-bar input.addtocart-button { margin-right: 0; margin-left: 25px;}
.vm-menu-category li > a { display: block;}
.vm-menu-category li > a:after {content: ""; display: block; float: none; clear: both;}
.vm-menu-category > li ul li i:before { content: "\f104" !important}
.vm-categories,
.vm-sku,
.vm-cat-name { float: right; margin-left: 5px;}
.productdetails-view .vm-product-image-container .additional-images-wrapper .additionalItem { float: right;}
.our-servise-content > .nav-tabs > li .revievs { float: left;}
a.pp_next, a.pp_previous, a.pp_close { text-indent: 10000px;}
.ratingBlock .ratingbox { float: none;}
.ratingBlock .ratingbox span { left: 0;}
.write-reviews .step.gray-italic { float: left;}
.list-reviews .reviewItem .vote { right: auto; left: 15px;}
.list-reviews .btn .fa{ float: left;margin-right: 10px;margin-top: 4px;}
.productdetails-view .tab-pane .product-fields .product-field .product-field-display { margin-left: 0; margin-right: 200px;border-left:none;border-right: 1px solid #dcdcdc;}
.productdetails-view .tab-pane .product-fields .product-field .product-fields-title-wrapper { float: right;}
.customer-reviews h4 span { float: right;}
.manufacturer-label { float: right;margin-right: 0; margin-left: 10px;}
.productdetails-view .vm-product-image-container .vm-badges { right: auto; left: 25px;}
#block-panel .position-panel-2 .jv-module , .buttonBar-right { float: left;}
.top-bar .vmCartModule .shop-card { right: auto; left: 15px;}
.top-bar .vmCartModule .vm_cart_products .vm2-remove_from_cart { right: auto; left: 20px;}
.vmCartModule .vm_cart_products .product_row .blogThumbnail { float: right;}
.vmCartModule .vm_cart_products .shop-card-products-features { padding-left: 0; padding-right: 96px;}
.vmCartModule .vm_cart_products .product_name { padding-right: 0; padding-left: 34px;}
td[align="left"] { text-align: right;}
.tos input.terms-of-service { float: right; margin-right: 0; margin-left: 10px;}
.tos div.terms-of-service { float: left;}


/*-----------------------------------------------------------------RESPONSIVE-------------------------------------------------------------------*/
@media (max-width:1500px) {
	.index-6 #block-header #block-mainnav ul.fxmenu li.level1:first-child .level1 { padding-left: 10px;}
}
@media (max-width:1500px) {
	.index-6 #block-header #block-mainnav ul.fxmenu li.level1:first-child .level1 {padding-left: 8px;}
}

@media (min-width:1200px) {
	#block-mainnav ul.fxmenu li.level1.cols5 > .fx-subitem,
	#block-mainnav ul.fxmenu li.level1.cols4 > .fx-subitem,
	#block-mainnav ul.fxmenu li.level1.cols3 > .fx-subitem{width: 1140px;}
	#block-mainnav ul.fxmenu li.level1.cols5 > .fx-subitem > .insubitem,
	#block-mainnav ul.fxmenu li.level1.cols4 > .fx-subitem > .insubitem,
	#block-mainnav ul.fxmenu li.level1.cols3 > .fx-subitem > .insubitem { width: 100%;}
}
@media (max-width:1199px) {
	.orderby-displaynumber .view-layout { margin-left: 0; margin-right: 15px;}
}
/*============================= Max 992 ===========================*/
@media (max-width: 992px) { /* Mobile */
	#block-mainnav-mobile ul li  [class^=icon-]:before, #block-mainnav-mobile ul li  [class*=" icon-"]:before { margin-right: 0; margin-left: 6px;}
	#block-topb .col-md-3 {  float: right;}

	.index-6 a.flexMenuToggle { left: auto; right: 20px;}
	.index-6 .topbanner ul.social-top li {
  margin-right: 0;margin-left: 14px;
}
.index-6 .topbanner .jv-module {
  margin-left: 0; margin-right: 10px;
}
.index-6 .topbanner {
  right: auto;
  left: 65px;
}
.btn-offcanvas { right: auto; left: 15px;}

}

@media (max-width:768px) {
	.dl-horizontal dd, .contact .contact-address dd {margin-right: 0;}
	.moduleCallout .button-green { float: none;}
	.blog-item1 {padding-left: 0;padding-right: 0;}
	.post-meta h2:after {right: auto;left:50%;-moz-transform: rotate(90deg);-webkit-transform: rotate(90deg);-o-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);}
	.overaly { text-align: right;}
	.overaly .likeheart, .fullwidth.portfolio .pfo-item .overaly .likeheart { right: auto; left: 35px;}
}
/*============================= max 480px ===========================*/
@media (max-width: 480px) {
	#content .hikashop_header_buttons {float: right !important;}
	div.toolbar.hikashop_header_buttons a {text-align: right;float: right; margin-left: 5px !important;margin-right: 0 !important;}
	.index-6 .topbanner { left: 15px; }
	.index-6 a.flexMenuToggle { right: 10px;}
	.shop-card { width: 300px;}
	.index-7 .hot-banners .banner-1 h3 { padding-right: 0; padding-left: 100px;}
}
/*============================= Max 420px ===========================*/
@media (max-width: 420px) {
	div.btl-buttonsubmit {text-align: right !important;}
	div.btl-buttonsubmit .button-dark {margin-left: 0; margin-right: 15px;}
	.rowform > label { float: none;}
}
/*============================= Max 400 ===========================*/
@media (max-width: 400px) { /* Mobile small */
	.shop-item-detail { margin-left: 2px; margin-right: 2px;}
	.hikashop_products_pagination_top .shop-content-header .pull-left .pull-left  { margin-right: 2px; margin-left: 2px;}
}


