/**
 * @package SP Page Builder
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2015 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/

.sppb-row-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .sppb-row-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .sppb-row-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .sppb-row-container {
    width: 1170px;
  }
}

/*Speakers Grid */
.nssp2.ns2-speaker .ns2-art-prev, .nssp2.ns2-speaker .ns2-art-next
{position:absolute;top:50%;margin:0 -20px;text-indent:-9999em;height:86px;width:42px;z-index: 999;}
.nssp2.ns2-speaker .ns2-art-next {right:0;background: url(../images/speaker_arrow_right.png) no-repeat}
.nssp2.ns2-speaker .ns2-art-prev {left:0;background: url(../images/speaker_arrow_left.png) no-repeat}
.nssp2.ns2-speaker {text-align:center}
.nssp2.ns2-speaker img.ns2-image {border-radius:200px;cursor:pointer;box-shadow:0 0 0 5px rgba(255,255,255,.5)}
.nssp2.ns2-speaker .ns2-column:hover img.ns2-image {margin-top:30px!important}
.nssp2.ns2-speaker h4.ns2-title {font-size:20px!important;font-weight:400}

/**Item Page Speaker**/
.designation{font-size:14px;color:#999}
.item-page .header {font-weight: 700;text-align: center;background-position-y: 15px;}
.item-page .header a {padding: 0 10px}
.item-page .img_rounded {background:#fff;border-radius:100px;cursor:pointer;box-shadow:0 0 5px 1px rgba(0,0,0,.5)}
.rtl .item-page .img_rounded {background:#fff;border-radius: 100px;height: 138px;width: 134px;cursor:pointer;box-shadow:0 0 5px 1px rgba(0,0,0,.5)}
.item-page .img_rounded:hover{opacity:.7} 
.item-page h4{text-align:left;font-size:20px;font-weight:400;line-height:8px}
.rtl .item-page h4{text-align:right;font-size:20px;font-weight:400;line-height:8px}
.rtl .item-page h5{text-align:right;font-size:14px;font-weight:400}
.item-page h5{text-align:left;font-size:14px;font-weight:400}
.item-page .sp-block1{padding:0 10px 10px 15px}
.item-page h6{text-align:center;font-size:20px;font-weight:400;line-height:8px}
 .item-page .text-item{text-align:center;font-size:14px;font-weight:400}

