body.rtl .sp-contact-info {
  float: right;
}
body.rtl .sp-module-content .mod-languages ul.lang-inline li {
  margin: 0 0 0 5px;
}
body.rtl #offcanvas-toggler {
  float: left;
  margin-left: 0;
}
body.rtl #offcanvas-toggler >i {
  padding: 0 10px 0 0;
}
body.rtl .close-offcanvas {
  right: auto;
  left: 0;
}
body.rtl .offcanvas-menu {
  -webkit-transition: .4s;
  transition: .4s;
}
body.rtl .body-innerwrapper:after {
  left: 0;
}
body.rtl .offcanvas-menu {
  left: -280px;
}
body.rtl.offcanvas .offcanvas-menu {
  left: 0;
}
body.rtl .sp-megamenu-parent {
  float: left;
}
body.rtl .sp-megamenu-parent >li.sp-has-child>a:after {
  display: none;
}
body.rtl .sp-megamenu-parent >li.sp-has-child>a:before {
  content: " \f107";
  font-family: FontAwesome;
  margin-right: 5px;
}
body.rtl .sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after {
  float: left;
  content: " \f104";
}
body.rtl .sp-module ul >li >a:before {
  margin-right: 0;
  margin-left: 8px;
  content: "\f104";
  float: right;
}
body.rtl .entry-header.has-post-format {
  margin-left: 0;
  margin-right: 68px;
}
body.rtl .post-format {
  left: auto;
  right: -68px;
}
body.rtl .article-info >dt >i,
body.rtl .article-info >dd >i {
  margin-right: 0;
  margin-left: 3px;
}
body.rtl .entry-link:before {
  top: auto;
  left: auto;
  right: -60px;
  transform: rotate(-90deg);
}
body.rtl .entry-quote:before {
  left: auto;
  transform: rotate(-15deg);
  top: auto;
  right: -40px;
}
body.rtl .categories-list .page-header a.pull-right {
  float: left !important;
}
body.rtl .newsfeed-category .category li .pull-left {
  float: right !important;
}
body.rtl .search .btn-toolbar .pull-left {
  float: right !important;
}
body.rtl .pull-right {
  float: left !important;
}
body.rtl .sppb-text-left {
  text-align: right;
}
body.rtl .sppb-text-right {
  text-align: left;
}
body.rtl .sppb-progress-bar {
  float: right;
}
body.rtl .fa-angle-right:before {
  content: "\f104";
}
body.rtl .fa-angle-left:before {
  content: "\f105";
}
body.rtl #sp-top-bar #sp-top1 {
  padding-right: 15px;
  padding-left: 0;
}
body.rtl #sp-top-bar #sp-top2 {
  text-align: left;
  padding-left: 15px;
  padding-right: 0;
}
body.rtl .mod-languages .sp-select .sp-select-result {
  padding: 0 27px 0 15px;
}
body.rtl .mod-languages .sp-select ul {
  right: inherit;
  left: 10px;
}
body.rtl .top-search-wrapper .icon-top-wrapper {
  margin: 0 5px 0 0;
}
body.rtl .sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-right {
  left: inherit;
  right: 0;
}
body.rtl .menu-slide-down .sp-has-child >.sp-dropdown.sp-dropdown-mega {
  left: -35px;
  right: auto;
}
body.rtl .sp-megamenu-parent .sp-dropdown .sp-dropdown-inner >.row [class*="col-sm-"]:not(:last-child) {
  border-right: 0;
  border-left: 1px solid rgba(0,0,0,0.07);
}
body.rtl .offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler {
  right: inherit;
  left: 0;
}
@media screen and (max-width: 767px) {
  body.rtl.offcanvas .body-wrapper {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
body.rtl .offcanvas-menu .contact-info span.fa:before {
  float: right;
  margin-right: 0;
  padding-right: 0;
  padding-left: 10px;
}
body.rtl .offcanvas-menu .sppb-addon-social-media .social-media-text-wrap a {
  margin-right: 0;
  margin-left: 18px;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  body.rtl ul.social-icons {
    text-align: left;
  }
}
body.rtl .top-search-input-wrap .search-wrap .search.floox-top-search .sp_search_input:after {
  right: inherit;
  left: 15px;
}
body.rtl .sppb-slider-wrapper {
  direction: ltr;
}
body.rtl .sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg .col-sm-8 {
  margin-left: 0;
  margin-right: 16.66666667%;
}
body.rtl .sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-magnific-popup.sppb-modal-selector i {
  float: right;
  margin-right: 0;
  margin-left: 8px;
}
body.rtl .sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-magnific-popup.sppb-modal-selector {
  line-height: 42px;
}
body.rtl .sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .owl-carousel .owl-controls .owl-dots .owl-dot {
  float: right;
}
body.rtl .portfolio-modal-popup .sppb-modal-selector {
  left: inherit;
  right: 30px;
}
body.rtl .sppb-addon-accordion .sppb-addon-content .sppb-panel-group .sppb-panel-heading span.sppb-panel-title {
  padding-left: 0;
  padding-right: 20px;
}
body.rtl .sppb-testimonial-pro-advanced .sppb-carousel-indicators li {
  float: right;
}
body.rtl .sppb-testimonial-pro-advanced .sppb-carousel-control.right {
  right: inherit;
  left: 0;
}
body.rtl .sppb-testimonial-pro-advanced .sppb-carousel-control.left {
  left: inherit;
  right: 0;
}
body.rtl .sppb-addon-cta .sppb-row >div {
  float: right;
}
body.rtl #sp-bottom .sppb-addon-text-block .bottom-address span.floox-title {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}
body.rtl #sp-bottom .sppb-addon-social-media .social-media-text-wrap a {
  margin-right: 0;
  margin-left: 18px;
}
body.rtl #sp-bottom .acymailing_module_form .fieldacyemail input {
  padding: 0 20px 0 0;
}
body.rtl #sp-bottom .acymailing_module_form .acysubbuttons {
  float: left;
}
body.rtl .creative-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg .col-sm-8 {
  margin-right: 0 !important;
}
body.rtl .creative-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg .sppb-slideshow-fullwidth-item-text {
  padding-right: 0;
  padding-left: 200px;
}
body.rtl .creative-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .owl-carousel .owl-controls {
  text-align: right;
}
body.rtl .creative-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg .sppb-slideshow-fullwidth-item-text .sppb-fullwidth-title {
  text-align: right;
}
body.rtl .sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-filter {
  text-align: right;
}
body.rtl .sp-simpleportfolio .sp-simpleportfolio-filter > ul > li {
  float: right;
}
body.rtl .sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-filter ul li {
  margin: 0 0 0 20px;
}
body.rtl .sppb-addon-articles .sppb-addon-article {
  text-align: right;
}
body.rtl .sppb-addon-articles .sppb-addon-article .sppb-addon-article-info-wrap .sppb-article-meta span.sppb-meta-date {
  margin-right: 0;
  margin-left: 20px;
}
body.rtl .sppb-addon-articles .sppb-addon-article .sppb-addon-article-info-wrap .sppb-article-meta span {
  margin: 0px 3px 0px 15px;
}
body.rtl .classic-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg .sppb-slideshow-fullwidth-item-text .sppb-fullwidth-title {
  text-align: right;
}
body.rtl .classic-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg .col-sm-8 {
  margin-right: 0 !important;
}
body.rtl .classic-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg .sppb-slideshow-fullwidth-item-text {
  padding-right: 0;
  padding-left: 200px;
}
body.rtl .classic-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .owl-carousel .owl-controls {
  text-align: right;
}
body.rtl .blog .items-row >div:first-child .article-info-wrap {
  border-left: 1px solid #E1E8EE;
}
body.rtl .blog .items-row >div:last-child .article-info-wrap {
  border-left: 0;
}
body.rtl article.item-page .tags {
  padding: 0 100px 0 140px;
}
body.rtl article.item-page .tags a {
  margin-right: 0;
  margin-left: 10px;
}
body.rtl article.item-page .article-footer-top {
  padding: 0 100px 0 140px;
}
body.rtl article.item-page .article-footer-top .helix-social-share {
  float: right;
}
body.rtl .helix-social-share .helix-social-share-icon ul li {
  margin-right: 0;
  margin-left: 7px;
}
body.rtl article.item-page .article-footer-top .helix-social-share .helix-social-share-icon ul li div a {
  padding: 0 24px 0 48px;
}
body.rtl article.item-page .pager.pagenav li.previous {
  float: right;
}
body.rtl article.item-page .pager.pagenav li.next {
  float: left;
}
body.rtl article.item-page .pager.pagenav li.previous a {
  padding: 0 35px 0 0;
}
body.rtl article.item-page .pager.pagenav li a {
  padding: 0 0 0 35px;
}
body.rtl .blog-variation-2 article.item .article-info-wrap {
  padding-right: 0 !important;
  padding-left: 35px !important;
}
body.rtl #sp-left .sp-module .sp-module-title,
body.rtl #sp-right .sp-module .sp-module-title {
  padding: 13px 50px 15px 0;
}
body.rtl #sp-left .sp-module .sp-module-title:before,
body.rtl #sp-right .sp-module .sp-module-title:before {
  left: inherit;
  right: 20px;
}
body.rtl #sp-left .sp-module .sp-module-title:after,
body.rtl #sp-right .sp-module .sp-module-title:after {
  left: inherit;
  right: 19px;
}
body.rtl #sp-left .sp-module .acymailing_module_form .acymailing_introtext p,
body.rtl #sp-right .sp-module .acymailing_module_form .acymailing_introtext p {
  padding-right: 0;
  padding-left: 30px;
}
body.rtl #sp-left .sp-module .acymailing_module_form p .acyfield_email input,
body.rtl #sp-right .sp-module .acymailing_module_form p .acyfield_email input {
  padding: 0 20px 0 0;
}
body.rtl #sp-left .sp-module .acymailing_module_form p.acysubbuttons input,
body.rtl #sp-right .sp-module .acymailing_module_form p.acysubbuttons input {
  left: 0;
  right: auto;
}
body.rtl #sp-left .sp-module .acymailing_module_form p.acysubbuttons:after,
body.rtl #sp-right .sp-module .acymailing_module_form p.acysubbuttons:after {
  right: inherit;
  left: 15px;
  content: '\f177';
}
body.rtl .contact-form-section .sppb-addon-raw-html ul li span.single-text {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
body.rtl .sppb-addon-ajax-contact .sppb-ajax-contact-content .sppb-ajaxt-contact-form .sppb-form-group input {
  padding: 0 20px 0 0;
}
body.rtl .sppb-addon-ajax-contact .sppb-ajax-contact-content .sppb-ajaxt-contact-form {
  padding-right: 0;
  padding-left: 52px;
}
body.rtl .sppb-addon-ajax-contact .sppb-ajax-contact-content .sppb-ajaxt-contact-form .sppb-form-group textarea {
  padding: 15px 20px 0 0;
}
body.rtl .reg-login-form-wrap .form-validate input {
  padding: 0 20px 0 0;
}
body.rtl .reg-login-form-wrap .registration .form-group,
body.rtl .reg-login-form-wrap .login .form-group,
body.rtl .reg-login-form-wrap .registration >p,
body.rtl .reg-login-form-wrap .form-links {
  text-align: right;
}
