.com_jvss .modal.fade { top: 0; display: none;}
.com_jvss .modal#inline-simport form { margin: 0;}
.com_jvss textarea.hidden { display: none; }
.com_jvss .tab-content .tab-pane,
.com_jvss .tab-content .tab-pane .tab-pane.active {visibility: hidden; display: block;position: absolute;opacity: 0;}
.com_jvss .tab-content .tab-pane.active,
.com_jvss .tab-content .tab-pane.active .tab-pane.active {visibility: visible;position: static; opacity: 1;}
.com_jvss .tab-content .tab-pane [data-tag="slide"] {position: relative;}
.com_jvss .tab-content .tab-pane .layer {
	min-height: 500px;
	position: relative;
    background: none no-repeat scroll 0 0/cover transparent;	
}
.com_jvss .tab-content .tab-pane .layer .item {
	position: absolute;
}
.com_jvss .tab-content .tab-pane .layer .item.is-dragging {cursor: move;}
.com_jvss .tab-content .tab-pane .layer .item .handle {cursor: move; position: absolute;z-index: 1;}
.com_jvss #imageok.modal {visibility: hidden;opacity: 0;display: block;}
.com_jvss #imageok.modal.in {visibility: visible;opacity: 1;z-index: 99999}
.com_jvss #toolbar-cog,
.com_jvss #toolbar-smiley,
.com_jvss #toolbar-out-2 { float: right;}
.com_jvss .timeline .handle { line-height: 40px}
.com_jvss #inline-config .modal-body > .tabs-left > .tab-content > .tab-pane { min-height: 300px;}
.com_jvss .editor [data-tag="mark-content"] {
    position: relative;
    margin: auto;
}
.com_jvss .editor [data-tag="mark-content"] .inner {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.com_jvss .editor [data-tag="mark-content"] .inner { border: 1px dashed #F6B; }
.com_jvss .editor .item-mce.tp-caption { position: static; }
.com_jvss .editor [data-tag="scroll"] { overflow-x: auto; }
.com_jvss #render_layout.modal {
	border: 0 none;
	border-radius: 0;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	margin: auto;
	background: transparent;
	box-shadow: none;
}
.com_jvss #render_layout.modal .modal-body {
	height: 100%;
}
.com_jvss #render_layout.modal .progress { 
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
}