/**
 * @package Helix V3 Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2017 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
 */

/*=========================================
 *======= 	    Megamenu       ============
 *=======================================*/
.sp-megamenu-parent {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 99;
    display: block;
    float: right;
    position: relative;
    >li {
        display: inline-block;
        position: relative;
        margin: 0 3px;
        height: 50px;
        padding: 0;
        &.menu-justify {
            position: static;
        }

        >a, >span {
            display: inline-block;
            padding: 0 15px;
            line-height:33px;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1.35px;
            color: #fff;
            margin: 0;
            border-radius: 2px;
            margin-top: 10px;
            font-weight: 400 !important;
        }

        &.sp-has-child>a:after, &.sp-has-child>span:after{
            font-family: "FontAwesome";
            content: " \f107";
        }

        &.active>a,
        &:hover>a {
            color: #fff;
        }
    }

    .sp-module {
        padding: 10px;
    }

    .sp-mega-group {
        list-style: none;
        padding: 0;
        margin: 0;

        .sp-mega-group-child {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    .sp-dropdown {
        margin: 0;
        position: absolute;
        z-index: 10;
        display: none;

        .sp-dropdown-inner {
            background: @megabg_color;
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
            padding: 7px 0;
            border-radius: 3px;
            >.row [class*="col-sm-"]:not(:last-child) {
                border-right: 1px solid rgba(0,0,0,0.07);
            }
            .sp-module {
                margin-top: 0;
                .sp-module-title{
                    display: block;
                    color: #333333;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                .sp-module-content{
                    font-size: 14px;
                    font-weight: 300;
                    a{
                        color: @megatx_color;
                    }
                    ul>li{
                        >a{
                            line-height: 1;
                            padding: 12px 0;
                        }
                        &:first-child{
                            >a{
                                padding-top: 0;
                            }
                        }
                    }
                    .latestnews{
                        padding-top: 5px;
                        div{
                            padding-bottom: 9px;
                            margin-bottom: 10px;
                            a{
                                line-height: 1.3;
                            }
                            small{
                                font-weight: 500;
                            }
                        }
                    }
                    .categories-module{
                        li{
                            a{
                                &:before{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .sp-dropdown-items {
            list-style: none;
            padding: 0;
            margin: 0;

            .sp-has-child>a:after{
                font-family: "FontAwesome";
                content: " \f105";
                float: right;
            }
        }

        &.sp-menu-center {
            margin-left: 45px;
        }

        &.sp-dropdown-main {
            top: 100%;
            &.sp-menu-right
            {
                left: 0;
            }
            &.sp-menu-full{
                left: auto;
                right: 0;
            }

            &.sp-menu-left {
                right: 0;
            }
        }

        &.sp-dropdown-sub {
            top: 0;
            left: 100%;
            .sp-dropdown-inner {
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            }
        }

        //List Item
        li.sp-menu-item { //child sub
          display: block;
          padding: 0;
          position: relative;
          >a, span {
              display: block;
              padding: 5px 20px;
              color: @megatx_color;
              font-weight: 300;
              font-size: 14px;
              cursor: pointer;
              &.sp-group-title {
                  text-transform: uppercase;
                  font-weight: 600;
              }
          }
          &.active>a {
              &:hover {
                  color: #fff;
              }
          }
        }
    }

    .sp-dropdown-mega {
        >.row {
            margin-top: 30px;
            &:first-child {
                margin-top: 0;
            }
        }
    }

    //Has Child
    .sp-has-child {
        &:hover {
            >.sp-dropdown {
                display: block;
            }
        }
    }

    //Fade Animation
    &.menu-fade {
        .sp-has-child:hover {
            >.sp-dropdown {
                -webkit-animation: spMenuFadeIn 400ms;
                animation: spMenuFadeIn 400ms;
            }
        }
    }

    //Zoom Animation
    &.menu-zoom {
        .sp-has-child:hover {
            >.sp-dropdown {
                -webkit-animation: spMenuZoom 400ms;
                animation: spMenuZoom 400ms;
            }
        }
    }
}

/*=================  Off Canvas  ===============*/

#offcanvas-toggler {
    float: right;
    line-height: 56px;
    margin-right: 15px;
    margin-left: 5px;
    font-size: 16px;
    >i {
        .transition(~'color 400ms, background-color 400ms');
        color: #fff;
    }
}
.off-canvas-menu-init{
    overflow-x: hidden;
    position: relative;
}
.offcanvas {
    .offcanvas-overlay{
        visibility: visible;
        opacity: 1;
    }
}
.offcanvas-overlay {
    background: rgba(0,0,0,.6);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    visibility: hidden;
    -webkit-transition: .5s;
    transition: .5s;
}
.body-wrapper{
    position: relative;
    -webkit-transition: .5s;
    transition: .5s;
    right: 0;
    backface-visibility: hidden;
}

.close-offcanvas {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 34px;
    height: 34px;
    line-height: .5;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 34px;
    background: #333;
}

.offcanvas-menu {
    width:  320px;
    height: 100%;
    background-color: #fff;
    color: #333;
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transform: translateX(320px);
    transform: translateX(320px);
    visibility: hidden;
    overflow: inherit;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 10000;
    .offcanvas-inner {
        .sp-module {
            margin-bottom: 30px;
            margin-top: 0;
            &:after{
                display: none;
            }

            &:last-child{
                border-bottom: none;
                margin-bottom: 0;
            }

            &.off-canvas-menu{
                padding: 0;
            }

            .sp-module-title {
                font-size: 16px;
                line-height: 1;
                text-transform: uppercase;
            }
            ul.nav.menu{
                padding: 0 20px;
            }
            ul {
                > li{
                    border: 0;
                    position: relative;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
                    overflow: hidden;
                    a {
                        .transition(300ms);
                        padding: 12px 0px 12px 0;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: #333;
                        font-weight: 500;
                        line-height: 1.5;
                        &:before{
                            display: none;
                        }
                    }
                    &.active,
                    &:hover,
                    &:focus{
                        >a{
                            color: @major_color;
                        }
                    }
                    ul {
                        > li{
                            &.active,
                            &:hover,
                                &:focus {
                                > a{
                                    color: @major_color;
                                }
                            }
                            > a{
                                &:hover,
                                    &:focus{
                                    color: @major_color;
                                }
                            }
                        }
                    }

                    .offcanvas-menu-toggler {
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding:13px 20px;
                        font-size: 20px;
                        cursor: pointer;
                        color: rgba(0,0,0,0.2);
                        .open-icon {
                            display: none;
                        }

                        .close-icon {
                            display: inline;
                        }

                        &.collapsed {
                            .open-icon {
                                display: inline;
                            }
                            .close-icon {
                                display: none;
                            }
                        }
                    }

                    >a:after  {
                        display: none;
                    }

                    ul {
                        padding-left: 15px;
                    }
                }
            }

            &:first-child {
                margin: 0;
                padding: 30px 20px;
            }
        }
        .search {
            input {
                width: 100%;
                background: transparent;
                -webkit-box-shadow: none;
                box-shadow: none;
                height: 40px;
                font-weight: 400;
            }
        }
    }

    //Module
    .sppb-addon-social-media .social-media-text-wrap a {
      color: #b5b5b5;
      display: inline-block;
      margin-right: 18px;
      font-size: 18px;
      line-height: 1;
      &:hover {
        color: #333
      }
    }
    .contact-info{
        margin-bottom: 15px;
        font-weight: 300;
        font-size: 14px;
        span.fa:before {
            padding-right: 10px;
            font-family: fontawesome;
        }
    }
}

.offcanvas {
    width: 100%;
    height: 100%;
    position: relative;
    .transition(.5s);
    .body-wrapper{
        right: 0;
        -webkit-transform: translateX(-320px);
        transform: translateX(-320px);
    }
    .body-wrapper:after {
        width: 100%;
        height: 100%;
        right: 0;
    }
    .offcanvas-menu {
        visibility: visible;
        z-index: 9999;
        right: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        ul.nav-child li {
            padding-left: 10px;
        }
    }
}

.menu .nav-child.small {
    font-size: inherit;
}

/* *************   START Helix 1.4 CSS Block   *************** */
/* *********************************************************** */
//Drop Down Animation
.sp-megamenu-parent {
    //Fade in up Animation
    &.menu-fade-up {
        .sp-has-child:hover {
            >.sp-dropdown {
                -webkit-animation: spMenuFadeInUp 400ms;
                animation: spMenuFadeInUp 400ms;
            }
        }
    }
    //Rotate
    &.menu-rotate {
        .sp-has-child:hover {
            >.sp-dropdown {
                opacity: 1;
                -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
                visibility: visible;
            }
        }
    }
    //Slide Down
    &.menu-slide-down {
        .sp-has-child:hover {
            >.sp-dropdown {
                -webkit-transition: all 300ms ease;
                transition: all 300ms ease;
                opacity: 1;
                visibility: visible;
                top: 50px;
                .sp-dropdown{
                    top: 0;
                }
            }
        }
    }
}
/* ================== Menu Slide Down ================== */
.menu-slide-down{
    .sp-has-child {
        >.sp-dropdown {
            top: 60px;
            opacity: 0;
            visibility: hidden;
            display: block;
            &.sp-dropdown-mega{
                left: auto;
                right: -35px;
            }
        }
    }
}

/* =================== Rotate Menu Drop Down =============== */
.menu-rotate {
    .sp-has-child {
        -webkit-perspective: 1000px;
        perspective: 1000px;
        >.sp-dropdown {
            -webkit-transform-origin: top center;
            transform-origin: top center;
            -webkit-transform: rotateX(-70deg);
            transform: rotateX(-70deg);
            -webkit-transition: transform 0.4s ease 0s, opacity 0.2s ease 0s, visibility 0.2s ease 0s;
            transition: transform 0.4s ease 0s, opacity 0.2s ease 0s, visibility 0.2s ease 0s;
            opacity: 0;
            visibility: hidden;
            display: block;
            &.sp-dropdown-mega{
                left: auto;
                right: 0;
            }
        }
    }
}

/* ======================== Drop In ====================== */
.menu-drop-in{
    .sp-has-child {
        .sp-dropdown-inner{
            background: transparent none repeat scroll 0 0;
            box-shadow: none;
            padding: 0;
        }
        .sp-dropdown-items {
            margin: 0;
            padding: 0;
            perspective: 1000px;
        }
        .sp-menu-item{
            -webkit-transform: translate(0,100px);
            transform: translate(0,100px);
            opacity: 0;
            padding: 0 20px !important;
            background-color: @megabg_color;
            &:first-child{
                padding-top: 20px !important;
            }
            &:last-child{
                padding-bottom: 20px !important;;
            }
        }
        &:hover{
            .sp-menu-item{
                -webkit-animation-timing-function : ease-in-out;
                animation-timing-function : ease-in-out;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
                -webkit-animation-name: dropup;
                animation-name: dropup;
                &:nth-child(1){
                    -webkit-animation-duration: 0.3s;
                    animation-duration: 0.3s;
                }
                &:nth-child(2){
                    -webkit-animation-duration: 0.4s;
                    animation-duration: 0.4s;
                }
                &:nth-child(3){
                    -webkit-animation-duration: 0.5s;
                    animation-duration: 0.5s;
                }
                &:nth-child(4){
                    -webkit-animation-duration: 0.6s;
                    animation-duration: 0.6s;
                }
                &:nth-child(5){
                    -webkit-animation-duration: 0.7s;
                    animation-duration: 0.7s;
                }
                &:nth-child(6){
                    -webkit-animation-duration: 0.8s;
                    animation-duration: 0.8s;
                }
                &:nth-child(7){
                    -webkit-animation-duration: 0.9s;
                    animation-duration: 0.9s;
                }
                &:nth-child(8){
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                }
                &:last-child{
                    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2);
                }
            }
        }
        &.menu-justify{
            &:hover{
                .sp-dropdown {
                    -webkit-animation: spMenuFadeInUp 500ms;
                    animation: spMenuFadeInUp 500ms;
                }
            }
            .sp-dropdown-inner{
                background: #fff none repeat scroll 0 0;
                box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
                padding: 20px !important;
            }
            .sp-mega-group{
                .sp-menu-item{
                    padding: 0 !important;
                    -webkit-animation-direction: normal;
                    animation-direction: normal;
                    -webkit-animation-fill-mode: none;
                    animation-fill-mode: none;
                    -webkit-animation-iteration-count: 0;
                    animation-iteration-count: 0;
                    -webkit-animation-name: none;
                    animation-name: none;
                    -webkit-animation-timing-function: ease;
                    animation-timing-function: ease;
                    opacity: 1;
                    -webkit-transform: none;
                    transform: none;
                    &:last-child{
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

//Drop In Animation
@keyframes dropup {
    0%   {opacity:0; transform: translate(0,100px);}
    100% {opacity:1; transform: translate(0,0);}
}
@-webkit-keyframes dropup {
    0%   {opacity:0; transform: translate(0,100px); }
    100% {opacity:1; transform: translate(0,0);}
}

/* ================== Twist Menu =================== */
.menu-twist{
    .sp-has-child {
        .sp-dropdown-inner{
            background: transparent none repeat scroll 0 0;
            box-shadow: none;
            padding: 0;
        }
        .sp-dropdown-items {
            margin: 0;
            padding: 0;
        }
        .sp-menu-item{
            -webkit-transform: rotateY(90deg) ;
            transform: rotateY(90deg) ;
            padding: 0 20px !important;
            background: #fff;
            &:first-child{
                padding-top: 20px !important;
            }
            &:last-child{
                padding-bottom: 20px !important;;
            }
        }
        &:hover{
            .sp-menu-item{
                -webkit-animation-direction: normal;
                animation-direction: normal;
                -webkit-animation-iteration-count:1;
                animation-iteration-count:1;
                -webkit-animation-timing-function : ease-in-out;
                animation-timing-function : ease-in-out;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
                -webkit-animation-name: twist;
                animation-name: twist;
                &:nth-child(1){
                    -webkit-animation-duration: 0.4s;
                    animation-duration: 0.4s;
                }
                &:nth-child(2){
                    -webkit-animation-duration: 0.5s;
                    animation-duration: 0.5s;
                }
                &:nth-child(3){
                    -webkit-animation-duration: 0.6s;
                    animation-duration: 0.6s;
                }
                &:nth-child(4){
                    -webkit-animation-duration: 0.7s;
                    animation-duration: 0.7s;
                }
                &:nth-child(5){
                    -webkit-animation-duration: 0.8s;
                    animation-duration: 0.8s;
                }
                &:nth-child(6){
                    -webkit-animation-duration: 0.9s;
                    animation-duration: 0.9s;
                }
                &:nth-child(7){
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                }
                &:nth-child(8){
                    -webkit-animation-duration: 1.1s;
                    animation-duration: 1.1s;
                }
                &:last-child{
                    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2);
                }
            }
        }
        &.menu-justify{
            &:hover{
                .sp-dropdown {
                    -webkit-animation: spMenuFadeInUp 500ms;
                    animation: spMenuFadeInUp 500ms;
                }
            }
            .sp-dropdown-inner{
                background: #fff none repeat scroll 0 0;
                box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
                padding: 20px !important;
            }
            .sp-mega-group{
                .sp-menu-item{
                    padding: 0 !important;
                    -webkit-animation-direction: normal;
                    animation-direction: normal;
                    -webkit-animation-fill-mode: none;
                    animation-fill-mode: none;
                    -webkit-animation-iteration-count: 0;
                    animation-iteration-count: 0;
                    -webkit-animation-name: none;
                    animation-name: none;
                    -webkit-animation-timing-function: ease;
                    animation-timing-function: ease;
                    opacity: 1;
                    -webkit-transform: none;
                    transform: none;
                    &:last-child{
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
/* Twist Animation */
@keyframes twist {
    0%   {opacity:0;	transform: rotateY(90deg);}
    100% {opacity:1; transform:  rotateY(0);}
}
@-webkit-keyframes twist {
    0%   {opacity:0;-webkit-transform:  rotateY(90deg); }
    100% {opacity:1; -webkit-transform: rotateY(0);}
}

/*===========	Menu Animation   ============*/
//Fade in
@-webkit-keyframes spMenuFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spMenuFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
//Zoom
@-webkit-keyframes spMenuZoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(.8);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes spMenuZoom {
    0% {
        opacity: 0;
        transform: scale(.8);
        -webkit-transform: scale(.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
//Fade in Up
@-webkit-keyframes spMenuFadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 30px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}

@keyframes spMenuFadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

/* =============== Slide Top Off Canvas Menu ============== */
.slide-top-menu{
    .offcanvas-menu{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .body-wrapper {
        right: 0;
    }
    .offcanvas-overlay{
        visibility: visible;
        opacity: 1;
    }
    .offcanvas-menu {
        right: 0;
        background-color: rgba(0, 0, 0, 1);
        visibility: visible;

    }
}

/* ========= Full Screen Off Canvas Menu ========= */
.full-screen{
    .offcanvas-menu{
        right: -100%;
        width: 100%;
        transform: translateX(0);
        background-color: rgba(0, 0, 0, .9);
        transition: all 600ms ease;
        .offcanvas-inner {
            margin: 0 auto;
            text-align: center;
            .sp-module{
                margin-bottom: 0;
                margin-top: 80px;
                padding-bottom: 0;
                ul {
                    background: transparent;
                    height: auto;
                    li {
                        overflow: inherit;
                        a{
                            color: #fff;
                            display: inline-block;
                            font-size: 28px;
                            padding: 20px;
                            &:before{
                                display: none;
                            }
                            &:hover,
                                &:focus{
                                background: transparent;
                            }
                        }
                        .offcanvas-menu-toggler{
                            left: auto;
                            right: auto;
                            font-size: 28px;
                            padding: 20px 10px;
                        }
                        ul{
                            li{
                                display: block;
                                padding: 0 20px;
                                a{
                                    font-size: 16px;
                                    padding: 5px 20px;
                                }
                                .offcanvas-menu-toggler{
                                    padding: 6px 10px;
                                }
                            }

                        }
                        &:hover,
                            &:focus{
                            a{
                                background: transparent;
                            }
                        }
                    }
                    &.nav.menu{
                        padding-bottom: 75px;
                    }
                }
                .search{
                    max-width: 300px;
                    margin: 25px auto 0;
                }
                .sp-module-title {
                    font-size: 28px;
                }
            }
        }
        .close-offcanvas {
            font-size: 20px;
            height: 35px;
            line-height: 1;
            right: 30px;
            top: 25px;
            width: 35px;
            padding-top: 6px;
        }
    }

}
.full-screen-off-canvas{
    &.ltr{
        .offcanvas-menu{
            visibility: visible;
            z-index: 9999;
            width: 100%;
            right: 0;
        }
    }
}

/* =============== Full Screen Off Canvas From Top ================== */
.full-screen-ftop{
    .offcanvas-menu{
        right: 0;
        width: 100%;
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        background-color: rgba(0, 0, 0, .9);
        transition: all 500ms ease;
        .offcanvas-inner {
            margin: 0 auto;
            text-align: center;
            .sp-module{
                margin-bottom: 0;
                margin-top: 80px;
                padding-bottom: 0;
                ul {
                    background: transparent;
                    height: auto;
                    >li{
                        opacity: 0;
                        -webkit-transform: translate3d(0px, -80px, 0px);
                        transform: translate3d(0px, -80px, 0px);
                        -webkit-transition: transform 0.5s ease 0s, opacity 0.5s ease 0s;
                        transition: transform 0.5s ease 0s, opacity 0.5s ease 0s;
                    }
                    li {
                        overflow: inherit;
                        a{
                            color: #fff;
                            display: inline-block;
                            font-size: 28px;
                            padding: 20px;
                            &:before{
                                display: none;
                            }
                            &:hover,
                                &:focus{
                                background: transparent;
                            }
                        }
                        .offcanvas-menu-toggler{
                            left: auto;
                            right: auto;
                            font-size: 28px;
                            padding: 20px 10px;
                        }
                        ul{
                            li{
                                display: block;
                                padding: 0 20px;
                                a{
                                    font-size: 16px;
                                    padding: 5px 20px;
                                }
                                .offcanvas-menu-toggler{
                                    padding: 6px 10px;
                                }
                            }

                        }
                        &:hover,
                            &:focus{
                            a{
                                background: transparent;
                            }
                        }
                    }
                    &.nav.menu{
                        padding-bottom: 75px;
                    }
                }
                .search{
                    max-width: 300px;
                    margin: 25px auto 0;
                }
                .sp-module-title {
                    font-size: 28px;
                }
            }
        }
        .close-offcanvas {
            font-size: 20px;
            height: 35px;
            line-height: 1;
            right: 30px;
            top: 25px;
            width: 35px;
            padding-top: 6px;
        }
    }

}
.full-screen-off-canvas-ftop{
    &.ltr{
        .offcanvas-menu{
            visibility: visible;
            z-index: 9999;
            width: 100%;
            right: 0;
            opacity: 1;
            .sp-module{
                margin-top: 80px;
                ul {
                    background: transparent;
                    height: auto;
                    >li{
                        opacity: 1;
                        -webkit-transform: translate3d(0px, 0px, 0px);
                        transform: translate3d(0px, 0px, 0px);
                    }
                }
            }
        }
    }
}
/* =================== New Look Off Canvas Menu ================ */
.new-look{
    .offcanvas-menu{
        background-color: #2b2f3b;
        .sp-module {
            ul {
                >li {
                    >a{
                        &:before{
                            display: none;
                        }
                        padding-left: 28px;
                    }
                    &:hover,
                        &:focus,
                        &.active{
                        a{
                            background: #22b8f0;
                        }
                    }
                    ul{
                        li{
                            a{
                                background-color: #2b2f3b !important;
                                &:hover,
                                    &:focus{
                                    color: #22b8f0;
                                }
                            }
                        }
                    }
                    .offcanvas-menu-toggler{
                        top: 6px;
                        padding: 18px 25px;
                        i{
                            display: none !important;
                        }
                        &:before{
                            background: #fff none repeat scroll 0 0;
                            content: "";
                            height: 8px;
                            left: auto;
                            position: absolute;
                            right: 25px;
                            top: 14px;
                            width: 2px;
                            -webkit-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                        }
                        &:after{
                            background: #fff none repeat scroll 0 0;
                            content: "";
                            height: 2px;
                            left: auto;
                            position: absolute;
                            right: 22px;
                            top: 17px;
                            width: 8px;
                            -webkit-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                        }
                        &.collapsed{
                            &:before{
                                -webkit-transform: rotate(0deg);
                                transform: rotate(0deg);
                            }
                            &:after{
                                -webkit-transform: rotate(0deg);
                                transform: rotate(0deg);
                            }
                        }

                    }
                }

            }
        }
    }

}
.new-look-off-canvas{
    .offcanvas-overlay{
        visibility: visible;
        opacity: 1;
    }
    &.ltr{
        .offcanvas-menu{
            visibility: visible;
            right: 0;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
}

/* ====================== Firefox Only Css ==================== */
@-moz-document url-prefix() {
    .offcanvas-menu {
        right: -320px;
        transform: translateX(0px);
    }
}

/* *************   END:: Helix 1.4 CSS Block   ************** */
/* ********************************************************** */
