/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2017 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
    //Menu
    .sp-megamenu-parent {
        > li {
            > a,
            > span{
                padding: 0 12px;
            }
        }
    }
    //Home Defautl Slider
    .sppb-slider-fullwidth-wrapper {
        .sppb-slider-item-wrapper {
            .sppb-slideshow-fullwidth-item {
                .sppb-slideshow-fullwidth-item-bg {
                    height: 700px;
                    padding-top: 280px;
                }
            }
        }
    }
    .sppb-slide-item-bg.sppb-slideshow-fullwidth-item-bg {
        .sppb-fullwidth-title{
            font-size: 50px;
        }
    }
    //Testimonial Section
    .sppb-testimonial-pro-advanced {
        .sppb-item {
            .sppb-testimonial-message {
                padding: 60px 50px 45px;
            }
        }
    }
    //Call to action
    .sppb-addon-cta .sppb-cta-subtitle {
        font-size: 35px !important;
    }
    .portfolio-modal-popup {
        .sppb-modal-selector {
            top: 100px;
        }
    }
    //Accordion
    .sppb-addon-accordion {
        .sppb-addon-content {
            .sppb-panel-group {
                .sppb-panel-heading {
                    display: table;
                    width: 100%;
                    .sppb-toggle-direction{
                        display: table-cell;
                        transform: translateY(0) rotate(0deg);
                        vertical-align: top;
                    }
                    span.sppb-panel-title {
                        width: 95%;
                    }
                }
            }
        }
    }
    #sp-page-builder .sppb-section-title{
        margin-bottom: 0 !important;
    }
    //Home Agency
    .home-agency-about{
        .sppb-addon-header{
            .sppb-addon-title{
                font-size: 24px;
                line-height: 30px !important;
            }
        }
        .sppb-section {
            padding-top: 30px !important;
        }
    }
    .column-padding-fix{
        .sppb-column{
            padding-right: 0 !important;
        }
    }

}
/* Tablets */
@media only screen and (max-width : 991px) {
    // Reset Padding
    .padding-top-sixty-res{
        padding-top: 60px !important;
    }
    .padding-bottom-sixty-res{
        padding-bottom: 60px !important;
    }
    .padding-top-thirty-res{
        padding-top: 30px !important;
    }
    .padding-bottom-thirty-res{
        padding-bottom: 30px !important;
    }
    .padding-top-zero-res{
        padding-top: 0 !important;
    }
    .padding-bottom-zero{
        padding-bottom: 0 !important;
    }
    .padding-res{
        padding: 60px 0 !important;
    }
    .padding-zero{
        padding: 0 !important;
    }
    .padding-right-zero-res{
        .sppb-column-addons{
            >div{
                padding-right: 0 !important;
            }
        }
    }
    .responsive-heading-font-size{
        .sppb-addon-title{
            font-size: 30px !important;
            line-height: 36px !important;
        }
    }
    //Slider
    .sppb-slider-fullwidth-wrapper {
        .sppb-slider-item-wrapper {
            .sppb-slideshow-fullwidth-item {
                .sppb-slideshow-fullwidth-item-bg {
                    .col-sm-8 {
                        margin-left: 0;
                        padding: 0 15px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .service-feature-section .sppb-addon-feature:after{
        right: 0;
    }
    //Home Feature
    #sp-page-builder {
        .sppb-section-title {
            .sppb-title-heading{
                font-size: 30px !important;
                margin-top: 20px !important;
                margin-bottom: 50px !important;
                line-height: 36px !important;
            }
        }
    }
    .home-project-section{
        .sppb-col-sm-6{
            .sppb-addon-single-image{
                margin-top: 50px;
                .sppb-addon-single-image-container{
                    display: block;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    .sppb-testimonial-pro-advanced .sppb-carousel-indicators li {
        width: 15%;
        margin: 0 15px;
    }
    .sppb-addon-cta .sppb-cta-subtitle {
        font-size: 28px !important;
    }
    #sp-bottom2,#sp-bottom1{
        min-height: 255px;
    }
    //Home creative
    .creative-variation.sppb-slider-fullwidth-wrapper {
        .sppb-slider-item-wrapper {
            .sppb-slideshow-fullwidth-item {
                .sppb-slideshow-fullwidth-item-bg {
                    .sppb-slideshow-fullwidth-item-text {
                        .sppb-fullwidth-title {
                            font-size: 60px;
                        }
                    }
                }
            }
        }
    }
    .service-feature-section .sppb-addon-feature {
        padding-left: 0;
        padding-top: 0;
        border-left: 0;
        .sppb-addon-title.sppb-feature-box-title{
            font-size: 20px !important;
            line-height: 20px !important;
        }
    }
    .service-feature-section .sppb-addon-feature::before {
        display: block !important;
    }
    .sppb-addon-gallery .sppb-gallery li {
        width: 50%;
    }
    //Home Classic
    .classic-variation.sppb-slider-fullwidth-wrapper {
        .sppb-slider-item-wrapper {
            .sppb-slideshow-fullwidth-item {
                .sppb-slideshow-fullwidth-item-bg {
                    .sppb-slideshow-fullwidth-item-text {
                        .sppb-fullwidth-title {
                            font-size: 60px;
                        }
                    }
                }
            }
        }
    }
    //Home Portfolio
    .home-portfolio-hero-section{
        .sppb-addon-text-block{
            .sppb-addon-content h3{
                font-size: 60px !important;
            }
        }
    }
    .home-portfolio-project-section{
        .sppb-addon-header{
            .sppb-addon-title{
                font-size: 30px;
                line-height: 35px !important;
            }
        }
    }
    .sppb-addon-articles {
        .sppb-addon-article {
            .sppb-addon-article-info-wrap {
                padding: 0 20px;
            }
        }
    }
    //About Page
    div.sp-page-title {
        padding: 185px 0 75px;
    }
    .about-text-padding-fix{
        .sppb-column-addons{
            >div{
                padding-left: 0 !important;
                padding-top: 75px !important;
            }
        }
    }
    .column-padding-fix-left{
        padding-left: 0 !important;
    }
    //Service Page
    .sppb-addon-tab .sppb-tab .sppb-nav-tabs-content .sppb-tab-pane .row > div:nth-child(1) {
        padding-right: 0;
    }
    .service-video-popup{
        .sppb-addon-header{
            .sppb-addon-title{
                font-size: 40px !important;
                line-height: 40px !important;
            }
        }
    }
    //Pricing Table
    .sppb-addon-pricing-table .sppb-pricing-box {
        padding: 50px 30px 40px;
    }
    //Coming Soon
    .sp-comingsoon #sp-comingsoon {
        padding: 70px 0 140px;
    }
    .sp-comingsoon .sp-comingsoon-title {
        margin-top: 90px;
    }
    .sp-comingsoon .sp-comingsoon-content {
        font-size: 40px;
        margin-bottom: 50px;
    }
    //Portfolio Details
    .com-spsimpleportfolio #sp-main-body {
        padding: 60px 0 30px;
    }
    .sp-simpleportfolio.sp-simpleportfolio-view-item {
        padding: 0 70px;
    }
    //Contact Form
    .contact-form-section{
        .sppb-addon-ajax-contact {
            margin-bottom: 50px;
        }
    }
    //Blog Page
    article.item .article-info-wrap {
        padding: 35px 15px 37px;
    }
    .article-info > dd {
        margin: 0 5px;
    }
    .view-category{
        #sp-main-body {
            padding: 60px 0;
        }
    }
    article.item .entry-header h2 {
        font-size: 20px;
    }
    .pagination-wrapper {
        margin-top: 30px;
        padding: 0 100px;
    }
    //Blog Details
    .view-article.article-with-sppb .author-info {
        margin-left: 0;
        min-width: auto;
        width: 100%;
    }
    .view-article #sp-main-body {
        padding: 60px 0;
    }
    article.item.item-page{
        .sppb-section{
            padding: 0 !important;
        }
        .tags {
            margin-top: 40px;
            padding: 0;
        }
        .article-footer-top {
            padding: 0px;
        }
        .entry-header-wrap {
            margin-bottom: 40px;
        }

    }
    //RTL Pages

    body.rtl {
        .sppb-slider-fullwidth-wrapper {
            .sppb-slider-item-wrapper {
                div.sppb-slideshow-fullwidth-item {
                    .sppb-slideshow-fullwidth-item-bg {
                        .col-sm-8 {
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    body.rtl {
        .classic-variation.sppb-slider-fullwidth-wrapper {
            div.sppb-slider-item-wrapper {
                .owl-carousel {
                    .owl-controls {
                        text-align: right;
                        left: auto;
                        right: 15px;
                    }
                }
            }
        }
    }


}
/* Small Devices */
@media only screen and (max-width : 767px) {
    // Header
    #sp-header {
        top: 85px;
    }
    .sppb-carousel.milestone-slider .sppb-carousel-inner > .sppb-item {
        padding: 25px 0px 60px;
    }
    .sppb-testimonial-pro-advanced .sppb-carousel-indicators li {
        width: 14%;
    }
    #sp-bottom {
        padding: 60px 0 0 0 !important;
    }
    #sp-bottom .sppb-addon-single-image {
        margin-bottom: 30px;
    }
    .floox-home-cta {
        padding-top: 60px !important;
    }
    .home-feature-section .sppb-addon-feature {
        border-left: 0;
        padding-left: 0;
    }
    .sppb-addon-text-block{
        .sppb-addon-title{
            font-size: 30px !important;
            line-height: 30px !important;

        }
    }
    // Home Creative
    .creative-variation.sppb-slider-fullwidth-wrapper {
        .sppb-slider-item-wrapper {
            .sppb-slideshow-fullwidth-item {
                .sppb-slideshow-fullwidth-item-bg {
                    padding-top: 200px;
                    .sppb-slideshow-fullwidth-item-text {
                        .sppb-fullwidth-title {
                            font-size: 50px;
                        }
                    }
                }
            }
        }
    }
    // Home Classic
    .service-feature-section .sppb-addon-feature::before {
        right: 15px;
    }
    .sppb-addon-clients .sppb-col-custom {
        width: 15%;
        margin: 0 15px;
    }
    //Home Agency
    .home-agency-about{
        .home-simple-feature{
            .sppb-column-addons{
                > div{
                    padding-right: 0 !important;
                }
                .sppb-addon.sppb-addon-feature{
                    margin-bottom: 30px;
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
    .home-feature-section .sppb-addon-feature:after{
        right: 0;
    }
    //About Page
    .about-text-padding-fix{
        .sppb-column-addons{
            >div{
                padding-left: 0 !important;
                padding-top: 25px !important;
            }
        }
    }
    .about-page-heading-text{
        .sppb-addon-header{
            .sppb-addon-title{
                margin-bottom: 25px !important;
                font-size: 30px;
                line-height: 36px !important;
            }
        }
    }
    .margin-bottom-thirty-res{
        margin-bottom: 30px;
    }
    div.sp-page-title h3 {
        font-size: 40px;
        line-height: 45px;
    }
    .sppb-testimonial-pro-advanced .sppb-carousel-control.left {
        left: 15px;
    }
    .sppb-testimonial-pro-advanced .sppb-carousel-control.right {
        right: 15px;
    }
    //Team Page
    .sppb-addon-persion{
        width: 350px;
        margin: 0 auto 30px;
    }
    // Pricing Table
    .sppb-addon-pricing-table.pricing-table-radius-left .sppb-pricing-box{
        border-radius: 0;
    }
    .sppb-addon-pricing-table .sppb-pricing-box.sppb-pricing-featured {
        border-right: 1px solid #DFDFDF;
        border-left: 1px solid #DFDFDF;
        margin: 30px 0;
    }
    .sppb-addon-pricing-table.pricing-table-radius-right .sppb-pricing-box {
        border-radius: 0;
    }
    .sppb-addon-header{
        .sppb-addon-title{
            font-size: 30px;
            line-height: 1.1 !important;
        }
    }
    #sp-bottom2, #sp-bottom1 {
        min-height: 210px;
    }
    #sp-footer #sp-footer2 p {
        text-align: left;
    }
    #sp-bottom {
        padding: 50px 0 0 0 !important;
    }
    //Coming Soon
    .sp-comingsoon .sp-comingsoon-content span {
        display: block;
        font-size: 50px;
        padding-right: 140px;
    }
    #sp-comingsoon{
        ul.social-icons {
            text-align: left;
        }
    }

    //404
    .error-page .error-message {
        font-size: 45px;
    }
    //Portfolio Single
    .sp-simpleportfolio.sp-simpleportfolio-view-item {
        padding: 0 30px;
    }
    //Contact Form
    .sppb-addon-gmap-canvas {
        height: 300px !important;
    }
    //Blog Page
    article.item .article-info-wrap {
        border-left: 0;
    }
    article.item .article-info-wrap::before {
        right: 15px;
    }
    article.item .article-info-wrap .article-info-bg {
        width: 100%;
    }
    // Blog Details
    .view-article.article-with-sppb .author-info {
        width: auto;
        max-width: 200px;
        margin: 0 auto 40px;
    }
    article.item-page .sppb-addon-header .sppb-addon-title {
        line-height: 1.2 !important;
        margin-bottom: 10px !important;
    }
    article.item-page{
        .sppb-column{
            .sppb-column-addons{
                >div{
                    margin-top: 0px !important;
                    margin-bottom: 25px !important;
                }
            }
        }
        .entry-header-wrap .entry-header h2 {
            font-size: 28px;
            line-height: 1.3;
        }
        .sppb-addon-blockquote .sppb-blockquote {
            margin: 15px 0;
        }
        .tags {
            margin-top: 0px;
        }

    }
    .com-search.view-search .search-filter-wrap .btn-toolbar > div {
        display: block;
        float: left;
        margin-top: 20px;
    }
    /* ***************   START RTL Pages   **************** */
    /* **************************************************** */
    body.rtl {
        .creative-variation.sppb-slider-fullwidth-wrapper {
            .sppb-slider-item-wrapper {
                div.sppb-slideshow-fullwidth-item {
                    .sppb-slideshow-fullwidth-item-bg {
                        .sppb-slideshow-fullwidth-item-text {
                            padding-right: 0;
                            padding-left: 0;
                        }
                    }
                }
                .owl-carousel .owl-controls {
                    left: auto;
                    right: 15px;
                }
            }
        }
        .classic-variation.sppb-slider-fullwidth-wrapper {
            .sppb-slider-item-wrapper {
                div.sppb-slideshow-fullwidth-item {
                    .sppb-slideshow-fullwidth-item-bg {
                        .sppb-slideshow-fullwidth-item-text {
                            padding-right: 0;
                            padding-left: 0;
                        }
                    }
                }
            }
        }
        .sppb-addon-tab .sppb-tab .sppb-nav-tabs-content .sppb-tab-pane .row > div:nth-child(1) {
            padding-right: 15px;
        }
        div.sppb-addon-ajax-contact .sppb-ajax-contact-content .sppb-ajaxt-contact-form {
            padding-right: 0;
            padding-left: 0;
        }
    }

    /* ***************   END:: RTL Pages   **************** */
    /* **************************************************** */

}
/* Ebook Reader */
@media only screen and (max-width : 599px) {
    //Slider
    .sppb-slide-item-bg.sppb-slideshow-fullwidth-item-bg .sppb-fullwidth-title {
        font-size: 40px;
    }
    .sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg {
        height: 600px;
        padding-top: 230px;
        padding-bottom: 0;
    }
    #sp-page-builder .sppb-section-title .sppb-title-heading {
        font-size: 24px !important;
        margin-bottom: 30px !important;
        line-height: 30px !important;
    }
    #sp-footer2{
        .sppb-addon-text-block.sppb-text-right{
            text-align: left;
        }
    }
    .sppb-testimonial-pro-advanced .sppb-carousel-indicators li {
        width: 13%;
    }
    .sppb-addon-cta .sppb-btn-default {
        margin-top: 20px;
    }
    // Home Creative
    .creative-variation.sppb-slider-fullwidth-wrapper {
        .sppb-slider-item-wrapper {
            .sppb-slideshow-fullwidth-item {
                .sppb-slideshow-fullwidth-item-bg {
                    .sppb-slideshow-fullwidth-item-text {
                        .sppb-fullwidth-title {
                            font-size: 50px;
                        }
                    }
                }
            }
            .owl-carousel .owl-controls {
                bottom: 75px;
            }

        }
    }
    .top-search-input-wrap .search-wrap .search.floox-top-search {
        width: 90%;
    }
    //HOme Classic
    .classic-variation.sppb-slider-fullwidth-wrapper {
        .sppb-slider-item-wrapper {
            .sppb-slideshow-fullwidth-item {
                .sppb-slideshow-fullwidth-item-bg {
                    .sppb-slideshow-fullwidth-item-text {
                        padding-right: 0;
                        .sppb-fullwidth-title {
                            font-size: 50px;
                        }
                    }
                }
            }
        }
    }
    .sppb-addon-clients .sppb-col-custom {
        width: 13%;
    }
    //Home Portfolio
    .home-portfolio-hero-section{
        padding: 100px 0 210px 0 !important;
    }
    .sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-filter ul li {
        margin: 0 20px 20px 0;
    }
    // Service Page
    .sppb-addon-tab .sppb-tab .sppb-nav-tabs li {
        margin: 0 10px 15px;
    }
    .sppb-addon-tab .sppb-tab .sppb-nav-tabs {
        margin-bottom: 10px;
    }
    .sppb-addon-tab .sppb-tab .sppb-nav-tabs-content .sppb-tab-pane .row > div:nth-child(2) {
        padding-right: 15px;
        padding-left: 15px;
    }
    //Coming Soon
    .sp-comingsoon .sp-comingsoon-content span {
        padding-right: 0;
    }
    .sp-comingsoon #sp-comingsoon {
        padding: 70px 0 50px;
    }
    //404
    .error-page .error-message {
        font-size: 36px;
    }
    .error-page .error-page-inner .error-logo-wrap {
        padding-top: 60px;
        margin-bottom: 40px;
    }
    .error-page .copyright {
        margin-top: 60px;
    }
    article.item .entry-header h2 {
        padding: 0 15px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
    //Header
    .sp-contact-info li {
        font-size: 80%;
    }
    .sp-select .sp-select-result {
        padding: 0;
    }
    #sp-top2{
        .mod-languages{
            display: none;
        }
    }
    //Slider
    .sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg {
        height: 500px;
        padding-top: 175px;
    }
    .sppb-slide-item-bg.sppb-slideshow-fullwidth-item-bg .sppb-fullwidth-title {
        font-size: 36px;
    }
    .sppb-section{
        .col-xs-6,
        .sppb-col-xs-6{
            width: 100%;
        }
    }
    .sppb-testimonial-pro-advanced .sppb-carousel-indicators li {
        width: 33%;
        margin-bottom: 20px;
    }
    .sppb-testimonial-pro-advanced .sppb-item .sppb-testimonial-message {
        padding: 20px 25px 20px;
        font-size: 20px;
        line-height: 32px;
    }
    // Home creative
    .creative-variation.sppb-slider-fullwidth-wrapper {
        .sppb-slider-item-wrapper {
            .sppb-slideshow-fullwidth-item {
                .sppb-slideshow-fullwidth-item-bg {
                    padding-top: 180px;
                    .sppb-slideshow-fullwidth-item-text {
                        padding-right: 0;
                    }
                }
            }
            .owl-carousel .owl-controls {
                bottom: 60px;
            }
        }
    }
    .sppb-addon-gallery .sppb-gallery li {
        width: 100%;
    }
    //Home Classic
    .classic-variation.sppb-slider-fullwidth-wrapper {
        .sppb-slider-item-wrapper {
            .sppb-slideshow-fullwidth-item {
                .sppb-slideshow-fullwidth-item-bg {
                    padding-top: 175px;
                    .sppb-slideshow-fullwidth-item-text {
                        .sppb-fullwidth-title {
                            font-size: 40px;
                        }
                    }
                }
            }
            .owl-carousel {
                .owl-controls {
                    bottom: 80px;
                }
            }
        }
    }
    .sp-simpleportfolio.sp-simpleportfolio-view-items {
        .sp-simpleportfolio-items {
            .sp-simpleportfolio-item {
                .sp-simpleportfolio-info {
                    .sp-simpleportfolio-title {
                        font-size: 20px;
                    }
                }
                .sp-simpleportfolio-info-wrap {
                    .sp-simpleportfolio-title {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .sppb-addon-clients .sppb-col-custom {
        width: 40%;
        margin-bottom: 30px;
    }
    //Home portfolio
    .home-portfolio-hero-section {
        .sppb-addon-text-block .sppb-addon-content h3 {
            font-size: 40px !important;
        }
        .sppb-addon-text-block .sppb-addon-title {
            font-size: 16px !important;
            line-height: 20px !important;
        }
    }
    .home-portfolio-hero-section {
        padding: 60px 0 170px 0 !important;
    }
    //About Page
    div.sp-page-title h3 {
        font-size: 36px;
        line-height: 44px;
    }
    //Service
    .service-video-popup .sppb-addon-header .sppb-addon-title {
        font-size: 30px !important;
        line-height: 30px !important;
    }
    //Team Page
    .sppb-addon-persion .sppb-addon-content .sppb-person-information .sppb-person-name {
        font-size: 16px;
    }
    .sppb-addon-persion{
        width: 290px;
        margin: 0 auto 30px;
    }
    //Coming soon
    .sp-comingsoon .sp-comingsoon-content {
        font-size: 30px;
    }
    .sp-comingsoon .sp-comingsoon-content span {
        font-size: 34px;
    }
    .sp-comingsoon .sp-comingsoon-title {
        margin-top: 50px;
    }
    .sp-comingsoon #sp-comingsoon {
        padding: 50px 0 50px;
    }
    //404
    .error-page .error-message {
        line-height: 1.2;
    }
    //Portfolio Single
    .sp-simpleportfolio.sp-simpleportfolio-view-item {
        padding: 0;
    }
    .sp-simpleportfolio.sp-simpleportfolio-view-item .sp-simpleportfolio-description .sp-simpleportfolio-title-wrap h2 {
        font-size: 30px;
    }
    .sp-simpleportfolio.sp-simpleportfolio-view-item .sp-simpleportfolio-description .sp-simpleportfolio-info h3 {
        font-size: 20px;
        margin: 35px 0 0;
    }
    //Contact Form
    .contact-form-section{
        .sppb-addon-header{
            .sppb-addon-title{
                font-size: 24px !important;
            }
        }
    }
    .sppb-addon-ajax-contact .sppb-ajax-contact-content .sppb-ajaxt-contact-form {
        padding-right: 0;
    }
    //Blog Page
    .pagination-wrapper {
        margin-top: 0;
        padding: 0;
    }
    .view-category #sp-main-body {
        padding: 30px 0 60px;
    }
}