/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2017 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
 */

 @import 'variables';
 @import 'mixins';


/* RTL Direction
*=======================================*/

body {
    &.rtl {

        //top address
        .sp-contact-info {
            float: right;
        }

        // lang switcher
        .sp-module-content .mod-languages ul.lang-inline li {
            margin: 0 0 0 5px;
        }


        //Offcanvas
		#offcanvas-toggler {
			float: left;
            margin-left: 0;
		}
		#offcanvas-toggler >i {
			padding: 0 10px 0 0;

		}
		.close-offcanvas {
			right: auto;
			left: 0;
		}
		.offcanvas-menu {
			-webkit-transition: .4s;
			transition: .4s;
		}

		.body-innerwrapper:after {
			left: 0;
		}

		.offcanvas-menu {
			left: -280px;
		}

		&.offcanvas {
			.offcanvas-menu {
				left: 0;
			}
		}

        //mega menu
        .sp-megamenu-parent {
            float: left;
        }

        .sp-megamenu-parent >li.sp-has-child>a:after {
            display: none;
        }

        .sp-megamenu-parent >li.sp-has-child>a:before {
            content: " \f107";
            font-family: FontAwesome;
            margin-right: 5px;
        }

        .sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after {
            float: left;
            content: " \f104";
        }

        //module
        .sp-module ul >li >a:before {
            margin-right: 0;
            margin-left: 8px;
            content: "\f104";
            float: right;
        }

        //blog
        .entry-header.has-post-format {
            margin-left: 0;
            margin-right: 68px;
        }
        .post-format {
            left: auto;
            right: -68px;
        }
        .article-info >dt >i, .article-info >dd >i {
            margin-right: 0;
            margin-left: 3px;
        }
        .entry-link:before {
            top:auto;
            left: auto;
            right: -60px;
            transform: rotate(-90deg);
        }
        .entry-quote:before {
            left: auto;
            transform: rotate(-15deg);
            top:auto;
            right: -40px;
        }
        .categories-list .page-header a.pull-right {
            float: left !important;
        }
        .newsfeed-category .category li .pull-left{
            float: right !important;
        }

        //search
        .search .btn-toolbar .pull-left{
            float: right !important;
        }



        /********************************************************************************************************/
        /******************************************  Shaper Floox  **********************************************/
        /********************************************************************************************************/

        //Global
        .pull-right {
            float: left!important;
        }
        .sppb-text-left {
            text-align: right;
        }
        .sppb-text-right {
            text-align: left;
        }
        .sppb-progress-bar {
            float: right;
        }
        .fa-angle-right:before {
        	content: "\f104";
        }
        .fa-angle-left:before {
        	content: "\f105";
        }

        //Top Bar
        #sp-top-bar #sp-top1 {
            padding-right: 15px;
            padding-left: 0;
        }
        #sp-top-bar #sp-top2 {
            text-align: left;
            padding-left: 15px;
            padding-right: 0;
        }
        .mod-languages .sp-select .sp-select-result {
            padding: 0 27px 0 15px;
        }
        .mod-languages .sp-select ul {
            right: inherit;
            left: 10px;
        }

        //Header
        .top-search-wrapper .icon-top-wrapper{
            margin: 0 5px 0 0;
        }

        //Menu
        .sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-right {
            left: inherit;
            right: 0;
        }
        .menu-slide-down .sp-has-child >.sp-dropdown.sp-dropdown-mega {
            left: -35px;
            right: auto;
        }
        .sp-megamenu-parent .sp-dropdown .sp-dropdown-inner >.row [class*="col-sm-"]:not(:last-child) {
            border-right: 0;
            border-left: 1px solid rgba(0,0,0,0.07);
        }

        //Offcanvas
        .offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler {
            right: inherit;
            left: 0;
        }
        @media screen and (max-width: 767px){
            &.offcanvas {
                .body-wrapper{
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
                }
            }
        }
        .offcanvas-menu .contact-info span.fa:before {
            float: right;
            margin-right: 0;
            padding-right: 0;
            padding-left: 10px;
        }
        .offcanvas-menu .sppb-addon-social-media .social-media-text-wrap a {
            margin-right: 0;
            margin-left: 18px;
        }
        @media screen and (max-width: 767px) and (min-width: 320px) {
            ul.social-icons {
                text-align: left;
            }
        }

        //Search
        .top-search-input-wrap .search-wrap .search.floox-top-search .sp_search_input:after {
            right: inherit;
            left: 15px;
        }

        //Slider
        .sppb-slider-wrapper {
            direction: ltr;
        }
        .sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg .col-sm-8 {
            margin-left: 0;
            margin-right: 16.66666667%
        }
        .sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-magnific-popup.sppb-modal-selector i {
            float: right;
            margin-right: 0;
            margin-left: 8px;
        }
        .sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-magnific-popup.sppb-modal-selector {
            line-height: 42px;
        }
        .sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .owl-carousel .owl-controls .owl-dots .owl-dot{
            float: right;
        }

        //Feature Section
        .portfolio-modal-popup .sppb-modal-selector {
            left: inherit;
            right: 30px;
        }

        //Accordion
        .sppb-addon-accordion .sppb-addon-content .sppb-panel-group .sppb-panel-heading span.sppb-panel-title{
            padding-left: 0;
            padding-right: 20px;
        }

        //Testimonial Pro Advanced
        .sppb-testimonial-pro-advanced .sppb-carousel-indicators li {
            float: right;
        }
        .sppb-testimonial-pro-advanced .sppb-carousel-control.right {
        	right: inherit;
        	left: 0
        }
        .sppb-testimonial-pro-advanced .sppb-carousel-control.left {
        	left: inherit;
        	right: 0;
        }

        //Call To Action
        .sppb-addon-cta .sppb-row >div {
            float: right;
        }

        //Bottom
        #sp-bottom .sppb-addon-text-block .bottom-address span.floox-title {
            float: right;
            margin-right: 0;
            margin-left: 15px;
        }
        #sp-bottom .sppb-addon-social-media .social-media-text-wrap a {
            margin-right: 0;
            margin-left: 18px;
        }
        #sp-bottom .acymailing_module_form .fieldacyemail input {
            padding: 0 20px 0 0;
        }
        #sp-bottom .acymailing_module_form .acysubbuttons {
            float: left;
        }

        /************************ Creative Variation ************************/
        /************************ ***************** ************************/

        .creative-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg .col-sm-8 {
            margin-right: 0 !important;
        }
        .creative-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg .sppb-slideshow-fullwidth-item-text {
            padding-right: 0;
            padding-left: 200px;
        }
        .creative-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .owl-carousel .owl-controls {
            text-align: right;
        }
        .creative-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg .sppb-slideshow-fullwidth-item-text .sppb-fullwidth-title {
            text-align: right;
        }

        /**********************  Portfolio Variation   **********************/
        /************************ ***************** ************************/

        .sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-filter {
            text-align: right;
        }
        .sp-simpleportfolio .sp-simpleportfolio-filter > ul > li {
            float: right;
        }
        .sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-filter ul li {
            margin: 0 0 0 20px;
        }
        .sppb-addon-articles .sppb-addon-article{
            text-align: right;
        }
        .sppb-addon-articles .sppb-addon-article .sppb-addon-article-info-wrap .sppb-article-meta span.sppb-meta-date {
            margin-right: 0;
            margin-left: 20px;
        }
        .sppb-addon-articles .sppb-addon-article .sppb-addon-article-info-wrap .sppb-article-meta span {
            margin: 0px 3px 0px 15px;
        }

        /**********************    Classic Variation   **********************/
        /************************ ***************** ************************/

        .classic-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg .sppb-slideshow-fullwidth-item-text .sppb-fullwidth-title {
            text-align: right;
        }            
        .classic-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg .col-sm-8 {
            margin-right: 0 !important;
        }
        .classic-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .sppb-slideshow-fullwidth-item .sppb-slideshow-fullwidth-item-bg .sppb-slideshow-fullwidth-item-text {
            padding-right: 0;
            padding-left: 200px;
        }
        .classic-variation.sppb-slider-fullwidth-wrapper .sppb-slider-item-wrapper .owl-carousel .owl-controls {
            text-align: right;
        }

        /*************************    Start Blog    *************************/
        /************************ ***************** ************************/

        .blog .items-row >div:first-child .article-info-wrap {
            border-left: 1px solid #E1E8EE;
        }
        .blog .items-row >div:last-child .article-info-wrap {
            border-left: 0;
        }
        article.item-page .tags {
            padding: 0 100px 0 140px;
        }
        article.item-page .tags a {
            margin-right: 0;
            margin-left: 10px;
        }
        article.item-page .article-footer-top {
            padding: 0 100px 0 140px;  
        }
        article.item-page .article-footer-top .helix-social-share {
            float: right;
        }
        .helix-social-share .helix-social-share-icon ul li {
            margin-right: 0;
            margin-left: 7px;
        }
        article.item-page .article-footer-top .helix-social-share .helix-social-share-icon ul li div a {
            padding: 0 24px 0 48px;
        }
        article.item-page .pager.pagenav li.previous {
            float: right;
        }
        article.item-page .pager.pagenav li.next {
            float: left;
        }
        article.item-page .pager.pagenav li.previous a {
            padding: 0 35px 0 0;
        }
        article.item-page .pager.pagenav li a {
            padding: 0 0 0 35px;
        }
        .blog-variation-2 article.item .article-info-wrap {
        	padding-right: 0 !important;
        	padding-left: 35px !important;
        }
        #sp-left .sp-module .sp-module-title,
        #sp-right .sp-module .sp-module-title {
            padding: 13px 50px 15px 0;
        }
        #sp-left .sp-module .sp-module-title:before,
        #sp-right .sp-module .sp-module-title:before {
            left: inherit;
            right: 20px;
        }
        #sp-left .sp-module .sp-module-title:after,
        #sp-right .sp-module .sp-module-title:after{
            left: inherit;
            right: 19px;
        }
        #sp-left .sp-module .acymailing_module_form .acymailing_introtext p, #sp-right .sp-module .acymailing_module_form .acymailing_introtext p {
            padding-right: 0;
            padding-left: 30px;
        }
        #sp-left .sp-module .acymailing_module_form p .acyfield_email input, #sp-right .sp-module .acymailing_module_form p .acyfield_email input {
            padding: 0 20px 0 0; 
        }
        #sp-left .sp-module .acymailing_module_form p.acysubbuttons input, #sp-right .sp-module .acymailing_module_form p.acysubbuttons input {
            left: 0;
            right: auto;
        }
        #sp-left .sp-module .acymailing_module_form p.acysubbuttons:after, #sp-right .sp-module .acymailing_module_form p.acysubbuttons:after {
            right: inherit;
            left: 15px;
            content: '\f177';
        }

        /*************************   Contact Page   *************************/
        /************************ ***************** ************************/

        .contact-form-section .sppb-addon-raw-html ul li span.single-text {
            float: right;
            margin-right: 0;
            margin-left: 10px;
        }
        .sppb-addon-ajax-contact .sppb-ajax-contact-content .sppb-ajaxt-contact-form .sppb-form-group input {
            padding: 0 20px 0 0;
        }
        .sppb-addon-ajax-contact .sppb-ajax-contact-content .sppb-ajaxt-contact-form {
            padding-right: 0;
            padding-left: 52px;
        }
        .sppb-addon-ajax-contact .sppb-ajax-contact-content .sppb-ajaxt-contact-form .sppb-form-group textarea {
            padding: 15px 20px 0 0;
        }

        /*********************   Sign Up & Login Page   *********************/
        /************************ ***************** ************************/

        .reg-login-form-wrap .form-validate input {
        	padding: 0 20px 0 0;
        }
        .reg-login-form-wrap .registration .form-group,
        .reg-login-form-wrap .login .form-group,
        .reg-login-form-wrap .registration >p,
        .reg-login-form-wrap .form-links {
        	text-align: right;
        }
    }
}
