/**
 # mod_jvtwitter - JV Twitter
 # @version		3.0
 # ------------------------------------------------------------------------
 # author    Open Source Code Solutions Co
 # copyright Copyright (C) 2011 joomlavi.com. All Rights Reserved.
 # @license - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL or later.
 # Websites: http://www.joomlavi.com
 # Technical Support:  http://www.joomlavi.com/my-tickets.html
 -------------------------------------------------------------------------*/
.jvTwitter{
    word-break: break-word;
}
.jvTwitter a{
    text-decoration: none;
}
.jvTwitterProfile, .jvTwitterTweets{
    margin: 5px 0;
    clear: both;
}
.jvTwitterTweets{
    margin-bottom: 0;
}
.jvTwitterProfile img{
    border-radius: 4px;
    width: 70px;
    height: 70px;
}
.jvTwitterTweets{
    padding: 0;
}
.jvTwitterTweets .media{
    margin: 5px 0
}
.jvTwitterTweets .media-body {
    overflow: visible !important;
}
.jvTweetCreated{margin-top: 5px}
.jvTwitter50{width: 50%; float: left}
.jvTwitterTweets .media:hover{
    background-color: #ffffe0;
    box-shadow: 0 1px 3px #333333;
}
.jvTwitterLoading, .jvTwitterMessage{
    text-align: center !important;
}
.jvTwitterTweets .well{
    background-color: #FFFFFF;
}
.jvTwitter img{
    border-radius: 3px;
}
.jvTwitterProfileMore{
    overflow: hidden;
    font-size: 12px;
}
.jvTwitterProfile .media .media-body{
    font-size: 17px;
    padding: 10px 0;
}
.jvTwitterLabel{
    font-weight: bold;
}
.jvTwitterProfile .caption{
    color: inherit;
    padding: 5px;
}
.jvTwitterTweetContainer {
    overflow: auto;    
}

.jvTwitterRetweeted{
    font-size: 80%;
    font-weight: normal;
}