/**
 # mod_jvtwitter - JV Twitter
 # @version		3.0
 # ------------------------------------------------------------------------
 # author    Open Source Code Solutions Co
 # copyright Copyright (C) 2011 joomlavi.com. All Rights Reserved.
 # @license - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL or later.
 # Websites: http://www.joomlavi.com
 # Technical Support:  http://www.joomlavi.com/my-tickets.html
 -------------------------------------------------------------------------*/
.clr {
    clear: both;
    height: 0;
    overflow: hidden;
}
.social-connect-button {
    clear: both;
}
#twitter_signin {
    background: url("../images/social.png") repeat scroll 0 0 transparent;
}
.social-connect-button a {
    float: left;
}
.social-login {
    display: inline-block;
    height: 22px;
    width: 150px;
}
.social-login span {
    display: none;
}
.social-accounts ul {
    margin-top: 0;
}
.social-accounts-item.none {
    color: #999999;
}
.social-accounts .social-accounts-item {
    line-height: 32px;
    margin: 0;
    min-height: 32px;
    position: relative;
}
.social-accounts ul li {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0;
    padding: 0;
}

.social-accounts .value-cc{overflow:hidden}
.social-accounts .value-cc .social-connect-button, .social-accounts .value-cc ul li{overflow:hidden ; padding-bottom:5px}

.adminformlist li{clear: both}