<div class="col-lg-12">
    <div class="portlet box portlet-green">
        <div class="portlet-body">
            <div class="gallery-pages">
                <ul class="list-filter list-unstyled" style="float: left;">
                    <li class="filter active" data-filter="all">All</li>
                    <li class="filter" data-filter=".development">Thời trang</li>
                    <li class="filter" data-filter=".design">Âm nhạc</li>
                    <li class="filter" data-filter=".photography">Thể thao</li>
                    <li class="filter" data-filter=".wordpress">Y học</li>
                    <li class="filter" data-filter=".html">Tình dục</li>
                </ul>
                <div class="clearfix">&nbsp;</div>
                <div id="MixItUpBAA4A6" class="row mix-grid">
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Chấp nhận.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Chấp nhận</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Chấp nhận.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Chịu khuất phục.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Chịu khuất phục</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Chịu khuất phục.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Chồng cây chuối.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Chồng cây chuối</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Chồng cây chuối.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Chỗ kia.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Chỗ kia</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Chỗ kia.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Chỗ nào đó.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Chỗ nào đó</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Chỗ nào đó" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Chỗ nào.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Chỗ nào</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Chỗ nào.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Chỗ này.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Chỗ này</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Chỗ này.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Cán đích.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Cán đích</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Cán đích.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Có lỗi.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Có lỗi</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Có lỗi.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Có tội.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Có tội</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Có tội.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Có.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Có</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Có.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Cô ấy.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Cô ấy</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Cô ấy.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Cúi chào.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Cúi chào</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Cúi chào.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Cần.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Cần</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Cần.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Của anh ấy.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Của anh ấy</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Của anh ấy.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Của bạn.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Của bạn</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Của bạn.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Của chúng nó.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Của chúng nó</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Của chúng nó.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Của chúng ta.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Của chúng ta</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Của chúng ta.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Anh ấy.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Anh ấy</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Anh ấy.png" class="mix-zoom" data-lightbox="image-1" data-title="Image 1"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix html development" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Buồn.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Buồn</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Buồn.png" class="mix-zoom" data-lightbox="image-2" data-title="Image 2"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix html design" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Bò.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Bò</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Bò.png" class="mix-zoom" data-lightbox="image-3" data-title="Image 3"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix development html" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Bước.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Bước</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Bước.png" class="mix-zoom" data-lightbox="image-5" data-title="Image 5"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix wordpress" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Bạn.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Bạn</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Bạn.png" class="mix-zoom" data-lightbox="image-4" data-title="Image 4"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix design" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Bất cứ bất kể.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Bất cứ bất kể</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Bất cứ bất kể.png" class="mix-zoom" data-lightbox="image-6" data-title="Image 6"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography design" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Bắt trước.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Bắt trước</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Bắt trước.png" class="mix-zoom" data-lightbox="image-7" data-title="Image 7"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix wordpress html" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Bọn họ.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Bọn họ</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Bọn họ.png" class="mix-zoom" data-lightbox="image-8" data-title="Image 8"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix wordpress html design" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Cam chịu.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Cam chịu</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Cam chịu.png" class="mix-zoom" data-lightbox="image-8" data-title="Image 8"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix photography html" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Chiều.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Chiều</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Chiều.png" class="mix-zoom" data-lightbox="image-8" data-title="Image 8"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix development" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Chúng ta.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Chúng ta</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Chúng ta.png" class="mix-zoom" data-lightbox="image-8" data-title="Image 8"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mix wordpress development" style="display: inline-block;">
                        <div class="hover-effect">
                            <div class="img"><img class="img-responsive" src="http://praywish.com/v1/images/praywish-language/vn/Chạy.png" alt="" />
                            </div>
                            <div class="info">
                                <h3>Chạy</h3><a href="#" class="mix-link"><em class="glyphicon glyphicon-link"></em></a><a href="http://praywish.com/v1/images/praywish-language/vn/Chạy.png" class="mix-zoom" data-lightbox="image-8" data-title="Image 8"><em class="glyphicon glyphicon-search"></em></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>