/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2013 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/

a, a:hover {
	text-decoration:none;
}

//Page header
.page-header{
	padding-bottom: 10px;
	margin: 0 0 20px;
}

//Entry meta
.entry-meta {
	&.muted{
		background:darken(@bg_color, 5%);
		padding:5px;
		margin-bottom:20px;
		font-size:12px;
		>span,
		>time{
			margin:0 5px;
		}
	}
	ul {
		margin:0 5px;
		&.actions {
			float:right;
			li {
				display:inline-block;
				&.print-icon {
					a {
						&::before {
							content:"\f02f";
						}
					}
				}
				
				&.email-icon {
					a {
						&::before {
							content:"\f003";
						}
					}
				}
				
				&.edit-icon {
					a {
						&::before {
							content:"\f044";
						}
					}
				}
				a {
					font-family:FontAwesome;
					display:block;
					font-size:14px;
					margin-left:5px;
					img {
						display:none;
					}	
				}
				
				//Joomla 3.0
				a{
					span{
						display:none;
					}
					
				}
			}
		}
	}
}

//Contact form
.contact-form-block h3{
	text-transform: capitalize;
}

.contact-form{
	font-weight: 700;
	label{
		font-weight: 700;
	}
}

//Inputs
input[type="submit"], 
input[type="button"],
textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
	text-shadow:none;
	color:@text_color;
	min-height:40px;
	box-shadow:none;
	background:none;
	border:1px solid #e6e6e6;
	.border-radius(4px);
	&:hover,&:focus{
		.box-shadow(none);
	}
}

input.input-block-level{
	min-height: 40px;
}

//Page navigation
ul {
	&.pagenav {
		list-style:none;
		padding: 0;
		clear: both;
		margin-top: 10px;
		margin-left: 0;
		overflow: hidden;
		.pagenav-prev {
			float:left;
		}
		.pagenav-next {
			float:right;
		}
	}
}

//Joomla Core
dl {
	dt,dd {
		display:inline;
	}
}

//Labels
label{
	&.invalid{
		color:lighten(@red,10%);
	}
}

//upload file
#editor-xtd-buttons{
	display: inline-block;
	margin-right: 10px;
}
.button2-left{
	display: inline-block;
	margin-right: 10px;
	margin-top: 15px;
}
.toggle-editor{
	display: inline-block;
}

.edit {
	.modal{
		position:inherit;
		top: auto;
		left: auto;
		width: auto;
		margin-left:0;
		border:none;
		.border-radius(~'0');
		box-shadow:none;
	}
}

//pagination
.pagination ul{
	box-shadow:none;
}

.pagination ul>li>a, 
.pagination ul>li>span{
	background-color: transparent;
	border:none;
	margin-right: 5px;
	border: 1px solid #cecece;
}
.pagination ul li a{
	padding: 4px 10px;
}

.pagination ul li a:hover, 
.pagination ul li a.active{
	color:#fff !important;
	border: 1px solid transparent;
}

.pagination ul li.pagination-active a {
	color: #fff;
}


.pagination ul>li:last-child>a, 
.pagination ul>li:last-child>span,
.pagination ul>li:first-child>a, 
.pagination ul>li:first-child>span{
	.border-radius(0);
}
