/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2013 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
 */

 /* Menu */
 #sp-main-menu {
 	ul {
 		list-style:none;
 		margin:0;
 		padding:0;

 		&.level-0 {
 			> li {
				//Parent List Item
				display:inline-block;
				margin:0 10px 0 0;
				padding:0;
				position:relative;

				//Anchor Link
				>a {
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
					display:block;
					margin:0;
					padding:10px;
					color: #fff;
					
					//Menu Item Description
					.menu-desc {
						font-size:11px;
						color:#fff;
						display:block;
					}
				}
				&:hover,
				&.active {
					.border-radius(3px);
				}
				&:hover {
				}
				&.parent {
					&:hover {
						.border-radius(3px 3px 0 0);
					}
				}

				//Animation
				.transition(all 200ms);			
			}
		}
	}
	
	//Menu Items for Dropdown
	li{
		li:not(.sp-menu-group) {
			display:block;
			position:relative;
			text-transform: capitalize;

			&:first-child {
				border-top: none;
			}
			a {
				display:block;
				font-size:12px;
				font-weight:700;
				text-transform: uppercase;
				line-height:normal;
				text-decoration:none;
				padding:10px;
				color: #fff;
			}

			//Arrow
			&.parent{
				>a{
					span.menu{
						position: relative;
						padding-right: 20px;
						display: block;
					}
					&:after{
						content: "\f054";
						font-family:FontAwesome;
						font-size:10px;
						font-weight:normal;
						position:absolute;
						right:10px;
						top:15px;
					}
				}
			}

 			//Hover and active
 			&:hover,
 			&.active{
 			}
			//Animation
			.transition(all 200ms);
		}
	}
	
	//Megamenu Groups
	div.sp-menu-group {
		margin:10px;
		a.sp-menu-group{
			display: block;
			padding: 10px;
			//border-bottom:1px solid darken(@link_color, 10%);
			color: #fff;
			.menu-title {
				text-transform:uppercase;
			}
		}
		p{
			color: #fff;
		}
		
		//Module Styling inside Menu
		.sp-menu-group-content {
			.module{
				margin:0;
				padding:10px 0 0;
				text-transform: none;
				font-weight: normal;
				font-size: 14px;
				h4{
					font-size: 14px;
				}
			}
		}
	}
}

//Submenu
.sp-submenu {
	position: absolute;
	top:0;
	visibility:hidden;
	opacity:0;
	z-index: 0;
	margin-top:30px;  // 30
	.transition(~'margin 100ms, visibility 100ms, opacity 100ms');
	&.open {
		z-index:99999;
		visibility:visible;
		opacity:1;
		margin-top:0;
		.transition(~'margin 300ms, visibility 300ms, opacity 300ms');
	}
	.sp-submenu-wrap{
		.box-shadow(~'0 3px 5px 0 rgba(0,0,0,.2)');
	}
	.megacol {
		float:left;
	}

	//Submenu Children
	&.sub-level-child {
		margin-left:30px;  // 30
		margin-top: 0;
		&.open {
			margin-left:0px;
		}
	}

}

.ltr .sp-submenu{
	left:0;
}
.rtl .sp-submenu{
	right:0;
}
 //Language Direction 
 .rtl{
 	#sp-main-menu {
 		float:right;
 		ul {
 			&.level-0 {
 				> li {

 					&:hover,
 					&.active{
 						>a {
 							&:after{
 								margin:  0 -10px 0 0;
 							}	
 						}
 					}	

 					&.parent{
 						>a{
 							span.menu{
 								padding:0 10px;
 								padding-right: 0;	
 							}	
 						}
 					}	
 				}
 			}	
 		}

 		//Menu Items for Dropdown
 		li{
 			li:not(.sp-menu-group) {
 				&.parent{
 					>a{
 						span.menu{
 							padding-right: 0;
 							padding-left: 20px;
 						}
 					}
 				}					
 			}
 		}	
 	}
 }

 //fixed menu
.menu-fixed{
	//position: fixed !important;
	top:0;
	width: 100%;
	//z-index: 9999 !important;
	.animation(~'fadeInDown 900ms');
}


.fixed .hidden-desktop {
 	display: none;
}