/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2013 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/

//module variation
.module {
	margin-top:20px;
	&:first-child{
		margin-top:0;
	}
	h2.module-title {
		font-size:36px;
		font-weight:900;
		margin:0 0 10px 0;
		.module-subtitle{
			display: block;
			font-size: 24px;
			line-height: 30px;
			margin: 10px 0 30px;
		}
	}

	
	&.highlighted,
	&.orange,
	&.dark,
	&.green,
	&.maroon,
	&.blue,
	&.gray,
	&.pink,
	&.red,
	&.navy-blue,
	&.dark-ash,
	&.dark-red {
		h3 {
			font-size: 24px;
			font-weight: 100;
			padding:0 0 10px 0;
			color:@white;
			line-height: normal;
			text-transform: capitalize;
		}
		padding:20px;
		color:@white;
	}
	
	&.orange {
		background:@orange;
		a{
		 color:#B66B00;
			 
		&:hover{
			   color:#6F4100;
			   }
		}
	}
	
	&.dark {
		background:@black;
		a{
		 color:#777;
			 
		&:hover{
			   color:#888;
			   }
		}
	}
	&.green {
		background:@green;
		a{
		 color:#63E063;
			 
		&:hover{
			   color:#43F043;
			   }
		}
	}
	&.maroon {
		background:#F35D34;
		a{
		 color:#B4300D;
			 
		&:hover{
			   color:#C93F19;
			   }
		}
	}
	&.blue {
		background:@blue;
		a{
		 color:#47C9FF;
			 
		&:hover{
			   color:#0073A3;
			   }
		}
	}
	&.gray {
		background:@gray;
		a{
		 color:#999;
			 
		&:hover{
			   color:#777;
			   }
		}
	}
	&.pink {
		background:@pink;
		a{
		 color:#FF5C8F;
			 
		&:hover{
			color:#FA2E6E;
		   }
		}
	}
	&.red {
		background:@red;
		a{
		 color:#EE4538;
			 
		&:hover{
			   color:#DA3F33;
			   }
		}
	}
	&.navy-blue {
		background:#365a76;
		a{
		 color:#EE4538;
			 
		&:hover{
			   color:#DA3F33;
			   }
		}
		i{
			margin:3px 15px 0 0;
		}
	}
	&.dark-ash {
		background:#3a3a3a;
		a{
		 color:#EE4538;
			 
		&:hover{
			   color:#DA3F33;
			   }
		}
		i{
			margin:3px 15px 0 0;
		}		
	}
	&.dark-red {
		background:#c74c45;
		a{
		 color:#EE4538;
			 
		&:hover{
			   color:#DA3F33;
			   }
		}
		i{
			margin:3px 15px 0 0;
		}		
	}
}

.module {
	&.highlighted {
		background:#3498DB;
		a{
			color:#fff !important;
		}
	}
}

//left-right module title

#sp-right, 
#sp-left{
	h2.module-title {
		font-size: 14px;
	}
}