/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2013 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/

@import 'variables';
@import 'mixins';

/*-- Global color style --*/
	//Link color
	a{
		color: @link_color;
		&:hover {
		  color: darken(@link_color, 10%);
		}
	}
	body {
		color:@text_color;
		&.bg {
			background:@bg_color;
		}
	}
/*-- Global color style end --*/


/*-- Button start --*/
	.btn.btn-primary, .readmore, a.ns2-readmore, .btn-default, 
	#community-wrap .btn, button,
	input[type="submit"]{
		background: @link_color;
		&:hover{
			background: darken(@link_color, 10%);
		}
	}
/*-- Button end start --*/


/*-- Header start here --*/
	//Logo
	.logo{
		background-image:url(../../images/presets/@{preset}/logo.png);
	}
	//menu
	#sp-main-menu {
	 	ul {
	 		&.level-0 {
	 			> li {
					&:hover,
					&.active {
						background-color: @link_color;
					}
					&:hover {
						background-color: @link_color;
					}
				}
			}
		}
		//Menu Items for Dropdown
		li{
			li:not(.sp-menu-group) {
				&:hover,
	 			&.active{
	 				background-color: darken(@link_color, 10%);
	 			}
			}
		}
	}
	//submenu
	.sp-submenu {
		.sp-submenu-wrap{
			background: @link_color;
		}
	}
/*-- Header end here --*/


/*-- Slideshow start here --*/
#sp-slide-wrapper{
	//controllers
	.sp-slider-controllers >a{
		background: @link_color;
		&:hover{
			background: darken(@link_color, 10%);
		}
	}
}

/*-- Slideshow end here --*/


/*-- Features start here --*/
#sp-feature-wrapper{
	padding: 70px 0 50px;
	.features{
		.sp-feature{
		    i{
		        box-shadow: inset 0 0  0px 5px @link_color,0 0 0px 1px #f5f5f5,
		            rgb(237, 237, 237) 2px 2px,
		            rgb(237, 237, 237) 3px 3px,
		            rgb(237, 237, 237) 4px 4px,
		            rgb(238, 238, 238) 5px 5px,
		            rgb(238, 238, 238) 6px 6px,
		            rgb(238, 238, 238) 7px 7px,
		            rgb(239, 239, 239) 8px 8px,
		            rgb(239, 239, 239) 9px 9px,
		            rgb(239, 239, 239) 10px 10px,
		            rgb(240, 240, 240) 11px 11px,
		            rgb(240, 240, 240) 12px 12px,
		            rgb(240, 240, 240) 13px 13px,
		            rgb(241, 241, 241) 14px 14px,
		            rgb(241, 241, 241) 15px 15px,
		            rgb(241, 241, 241) 16px 16px,
		            rgb(242, 242, 242) 17px 17px,
		            rgb(242, 242, 242) 18px 18px,
		            rgb(242, 242, 242) 19px 19px,
		            rgb(243, 243, 243) 20px 20px,
		            rgb(243, 243, 243) 21px 21px,
		            rgb(243, 243, 243) 22px 22px,
		            rgb(244, 244, 244) 23px 23px,
		            rgb(244, 244, 244) 24px 24px,
		            rgb(244, 244, 244) 25px 25px,
		            rgb(245, 245, 245) 26px 26px,
		            rgb(245, 245, 245) 27px 27px,
		            rgb(245, 245, 245) 28px 28px,
		            rgb(246, 246, 246) 29px 29px,
		            rgb(246, 246, 246) 30px 30px,
		            rgb(246, 246, 246) 31px 31px,
		            rgb(247, 247, 247) 32px 32px,
		            rgb(247, 247, 247) 33px 33px,
		            rgb(247, 247, 247) 34px 34px,
		            rgb(248, 248, 248) 35px 35px,
		            rgb(248, 248, 248) 36px 36px,
		            rgb(248, 248, 248) 37px 37px,
		            rgb(249, 249, 249) 38px 38px,
		            rgb(249, 249, 249) 39px 39px,
		            rgb(249, 249, 249) 40px 40px,
		            rgb(250, 250, 250) 41px 41px,
		            rgb(250, 250, 250) 42px 42px,
		            rgb(250, 250, 250) 43px 43px,
		            rgb(251, 251, 251) 44px 44px,
		            rgb(251, 251, 251) 45px 45px,
		            rgb(251, 251, 251) 46px 46px,
		            rgb(252, 252, 252) 47px 47px,
		            rgb(252, 252, 252) 48px 48px,
		            rgb(252, 252, 252) 49px 49px,
		            rgb(253, 253, 253) 50px 50px,
		            rgb(253, 253, 253) 51px 51px,
		            rgb(253, 253, 253) 52px 52px,
		            rgb(254, 254, 254) 53px 53px,
		            rgb(254, 254, 254) 54px 54px,
		            rgb(254, 254, 254) 55px 55px,
		            rgb(255, 255, 255) 56px 56px;
		    }
		}
	}
}


/*-- Features end here --*/

/*-- Portfolio start here --*/
#sp-portfolio-wrapper{
	background: @link_color;
}
//portfolio module style
.sp-portfolio{
	.sp-portfolio-thumb{
		.sp-portfolio-overlay{
			> div > a{
				background: @link_color !important;
			}
		}
	}
}
/*-- Portfolio end here --*/

/*-- Footer start here --*/
#sp-footer-wrapper {
	ul {
		&.nav {
			li {
				a {
					&:hover{
						background:none;
						color: @link_color;
					}
				}
			}
		}
	}
	.sp-totop{
		i{
			font-size: 24px;
			color: @link_color;
		}
	}
}
/*-- Footer end here --*/



/*-- Blog start here --*/
.pagination ul li a:hover, 
.pagination ul li a.active{
	background: @link_color !important;
}
 .pagination ul li.pagination-active a{
 	background: @link_color !important;
 	border: 1px solid transparent;
 }

 //archive,user,category

div.k2ItemsBlock ul li a,
div.catItemHeader h3.catItemTitle a{
	color:@text_color;
}
div.k2CategoriesListBlock ul li a,
div.k2ItemsBlock ul li a{
	&:hover{
		color:@link_color;
	}
}

/*-- Blog end here --*/


/*-- Sub Page start here --*/
#sp-sub-header-wrapper{
	background: @link_color;
}

//Pricing
.sp-pricing{
	.plan{
		&.featured{
			li.plan-name{
				background: @link_color;
			}
			li.plan-price{
				background: @link_color;
			}
		}
	}
}

//Money back
.money-back{
	border-left: 2px solid @link_color;
}

//portfolio
ul.sp-portfolio-filter{
	li{
		a.btn{
			&.active{
				background-color: @link_color !important;
			}
		}
	}
}
//for subpage
.item-page{
	.sp-portfolio{
		.sp-portfolio-item-details{
			h4.item-title{
				margin-bottom: 0;
				a{
					color: @text_color !important;
				}
			}
			a{
				color: @link_color;
			}
		}
	}
}
/*-- Sub Page end here --*/



/*--Shortcode start here--*/
.nav-pills>.active>a, .nav-pills>.active>a:hover, 
.nav-pills>.active>a:focus{
	background: @link_color;
}
/*-- Shortcode end here--*/


//Module variation
.highlighted{
	background: @link_color;
	color: #fff;
}
