/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2013 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/

.responsive {

	/* Small desktop */
	@media (min-width: 980px) and (max-width: 1199px) { 


		#sp-top-info{
			ul.social-icons{
				margin-top: 10px;
			}
			img.hotline{
				margin-top: 5px;
			}
		}

		.sp-team .sp-member 
		.social-icons a i{
			width: 45px;
		}
		.sp-optima-layout .sp-slider-content .sp-introtext {
			margin: 25px 250px 20px;
		}

	}


	/* Portrait tablet to landscape and desktop */
	@media (min-width: 768px) and (max-width: 979px) {
		img.hotline{
			float: right;
			margin-top: 5px;
		}

		.sp-main-menu-toggler{
			left: 20px;
			right: auto;
			top: 20px;
		}
		.sp-mobile-menu{
			top: 80px;
			z-index: 10;
		}
		.menu-fixed{
			position: relative !important;
		}
		#sp-slide .sp-slider-content h1.sp-title{
			font-size: 26px;
		}
		.sp-optima-layout .sp-slider-content .sp-introtext {
			margin: 25px 100px 20px;
		}
		//portfolio
		div.default .sp-portfolio-thumb 
		.sp-portfolio-overlay > div > a{
			width: 60px !important;
			font-size: 9px !important;
		}
		img.sp_simple_gallery{
			margin-right: 5px;
		}
		#sp-footer-wrapper ul.nav{
			margin: 0;
		}
		#sp-footer-wrapper ul.nav li{
			margin-right: 2px;
			padding-right: 2px;
		}
		.sp-team .sp-member .social-icons a i{
			font-size: 16px;
			width: 34px;
			height: 34px;
			line-height: 32px;
		}
	

	}
	/* Portrait tablet to landscape and desktop */

	/* Mobile Standard */

	@media (max-width:767px) {

		&.bg {
			padding-left: 0;
			padding-right: 0;
		}
		 .container {
			padding:0 10px;
			max-width:480px;
			min-width:280px;
		}

		#sp-top-wrapper{
			padding: 0 0 20px;
		}
		.sp-mobile-menu{
			z-index: 10;
		}

		#sp-search{
			text-align: left;
			width: 80%;
		}
		//header
		#sp-header-wrapper{
			#sp-logo{
				width: auto;
				float: left;
			}
			#sp-top-info{
				width: auto;
				float: right;
				ul.social-icons{
					float: none;
					margin: 20px 0 0 0;
				}
				img.hotline{
					float: left;
				}
				.module {
					margin: 0;
				}
			}
			.logo {
				width: 170px!important;
				background-size: contain!important;
			}
		}
		
		.menu-fixed{
			position: relative !important;
		}

		//slideshow

		.sp-optima-layout .sp-slider-content .sp-introtext {
			margin: 10px 0 20px;
		}

		#sp-slide .sp-slider-content h1.sp-title{
			font-size: 20px;
			margin-top: 35px;
		}

		.sp-slider-thumb img{
			width: 65%;
		}
		.sp-optima-layout  .sp-slider-controllers{
			.controller-prev, 
			.controller-next{
				font-size: 52px !important;
				line-height: 56px !important;
				width: 52px;
				height: 58px;
			}
		}

		//portfolio
		div.default .col-4 {
			width: 50%;
		}

		//module title
		.module h2.module-title,
		#sp-portfolio h2 {
			font-size: 20px;
			line-height: 26px;
		}
		.module h2.module-title .module-subtitle,
		#sp-portfolio h3{
			font-size: 14px;
		}

		#sp-footer-wrapper{
			text-align: center;
			#sp-footer2{
				text-align: center;
			}
		}

		//subpage
		#sp-breadcrumb{
			width: auto;
			float: left;
		}
		.sp-pricing .plan{
			margin-bottom: 20px;
		}


	}
	/* Mobile Standard end */

	/* Landscape phones and down */
	@media (max-width: 480px) {

		//header
		#sp-header-wrapper{
			#sp-top-info{
				ul.social-icons{
					float: none;
					i{
						width: 24px;
						height: 24px;
						line-height: 24px;
						font-size: 14px;
					}
				}
			}
			.logo {
				width: 145px!important;
				background-size: contain!important;
			}
		}

		//slideshow
		#sp-slide {
			.sp-slider-content h1.sp-title{
				font-size: 16px;
				line-height: 20px;
			}
			.sp-slider-content a.btn {
				font-size: 14px;
				font-weight: 700;
				padding: 8px 0;
				width: 110px;
			}
		}
		.sp-optima-layout .sp-slider-content .sp-introtext {
			margin: 5px 0 20px;
			font-size: 14px !important;
		}
		.sp-optima-layout .sp-full-text {
			margin-bottom: 10px;
		}
		.sp-optima-layout  .sp-slider-controllers{
			.controller-prev, 
			.controller-next{
				font-size: 42px !important;
				line-height: 48px !important;
				width: 48px;
				height: 48px;
			}
		}

		//feature wrapper
		#sp-feature-wrapper{
			padding-top: 0;
		}

		//timeline
		.timeline-left .timeline-item{
			padding-right: 25px;
		}
		.timeline-right .timeline-item{
			padding-left: 25px;
		}
		.timeline-content::before{
			width: 30px;
		}

		.service-feature img.feature-thumb{
			width: 65%;
		}
		//portfolio
		ul.sp-portfolio-filter li a.btn{
			font-size: 12px;
			padding: 5px;
			margin-bottom: 10px;
		}



	}

	/* Landscape phones and down end */


	/* Iphone */
	@media (max-width: 320px){

		//header
		#sp-header-wrapper{
			padding: 5px 0 20px;
			#sp-top-info{
				float: left;
			}
			img.hotline{
				width: 90%;
			}
		}

		//slideshow
		.sp-slider-thumb img {
			display: none !important;
		}

		.sp-optima-layout  .sp-slider-controllers{
			.controller-prev, 
			.controller-next{
				width: 36px;
			}
		}

		//portfolio
		div.default .sp-portfolio-thumb 
		.sp-portfolio-overlay > div > a{
			width: 60px !important;
			font-size: 9px !important;
		}

		//subpage
		#sp-subheader h1{
			font-size: 14px;
		}
			

	}
	/* Iphone end */

}
/*-- Responsive End --*/