/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2013 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/


/*-- Global --*/
#main-body{
	padding: 30px 0;
}
.body-innerwrapper{
	overflow-x:hidden;
}
.menu-home{
	#sp-main-body-wrapper{
		.row-fluid{
			min-height: 0;
		}
	}
}
.center {
	text-align:center;
	th,tr,td{
		text-align:center;
	}
}

.row-fluid {
	margin-bottom:20px;
	&:first-child{
		margin-bottom:0;
	}
}
/*-- Global end--*/

/*-- Top wrapper start --*/
#sp-top-wrapper{
	background-color: #000;
	padding: 20px 0;
	&.menu-fixed{
		background-color: rgba(0, 0, 0, 0.75);
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 9998;
		.box-shadow( ~'0 2px 2px 0 rgba(0,0,0,0.15)' );
		#mod-search-searchword{
			background-color: rgba(0, 0, 0, 0.1) !important;
		}
	}
}
//Search
#sp-search{
	text-align: right;
	.search{
		form{
			margin:0;
			position: relative;
			height: 40px;
		}
		#mod-search-searchword{
			min-height: 40px;
			background: #000;
			color: #444444;
			border:1px solid #444444;
			padding: 0 30px 0 10px;
			.transition(500ms);
			.box-shadow( ~'none' );
			.box-sizing(border-box);
			.border-radius(2px);
			&:focus{
				.box-shadow( ~'none' );
			}
		}
		i{
			position: absolute;
			right: 10px;
			top: 11px;
			color:#444444;
			font-size: 16px;
			text-shadow: none;
		}
	}		
}
/*-- Top wrapper end --*/

/*-- Header start here --*/
#sp-header-wrapper{
	padding: 30px 0;
	position: relative;
	z-index: 1;
	.box-shadow( ~'0 2px 2px 0 rgba(0,0,0,0.15)' );
	.logo-wrapper{
		.logo{
			background-position:0 50%;
			background-repeat:no-repeat;
		}
		.logo-text{
			font-size:24px;
		}
		.logo-slogan{
			font-size:11px;
		}
	}
	.search{
		margin-top:10px;
		form{
			margin:0;
		}
	}
}

#sp-top-info{
	ul.social-icons{
		list-style: none;
		float: right;
		margin: 30px 0 0 20px;
		li{
			display: inline-block;
		}
		i{
			width:30px;
			height:30px;
			display:inline-block;
			line-height: 30px;
			text-align: center;
			font-size: 20px;
			color: #fff;
			font-weight: 100;
			margin-right: 5px;			
		}
		.icon-facebook{
			background: #5d82d1;
		}
		.icon-twitter{
			background: #40bff5;
		}
		.icon-google-plus{
			background: #eb5e4c;
		}
		.icon-pinterest{
			background: #e13138;
		}
		.icon-linkedin{
			background: #1284ce;
		}
		.icon-dribbble{
			background: #d77fa9;
		}
		.icon-youtube{
			background: #de332c;
		}
		.icon-flickr{
			background: #333;
		}															
	}
	img.hotline{
		float: right;
	}
}
/*-- Header end here --*/

/*-- Slideshow start here --*/
#sp-slide-wrapper{
	margin-bottom: 70px;
	.sp-slider-content{
		h1.sp-title{
			font-size: 36px;
			line-height: 36px;
			text-transform: uppercase;
			font-weight: 700;
			margin: 70px 0 0;
		}
		p.sp-introtext{
			font-size: 18px;
		}
		a.btn{
			font-size: 18px;
			font-weight: 700;
			padding: 14px 0;
			width: 160px;
			&.btn-primary{
				background: #2ecc71;
				&:hover{
					background: darken(#2ecc71, 10%);
				}
			}
			&.btn-danger{
				margin-right: 20px;
			}
		}
	}
	//Slider Controllers
	.sp-slider-controllers{
		//common
		.controller-prev, 
		.controller-next{
			font-size: 70px;
			line-height: 72px;
			color: #fff;
			font-family: fontAwesome;
			span{
				display: none;
			}
		}
		//prev
		.controller-prev{
			&:before{
				content: "\f104";
			}
		}
		//next
		.controller-next{
			&:before{
				content: "\f105";
			}
		}
	}
}
/*-- Slideshow end here --*/

/*-- Features start here --*/
#sp-feature-wrapper{
	padding: 70px 0 50px;
	.features{
		.sp-feature{
		    text-align: center;
			h3{
				font-size: 18px;
				color: #000;
				font-weight: 900;
				margin-top: 30px;
			}
		    p{
		        color:#000;
		    }
		    i{
		        color: #afafaf;
		        border: 10px solid #fff;
		        border-radius: 100%;
		        display: inline-block;
		        font-size: 36px;
		        line-height: 120px;
		        height: 120px;
		        width: 120px;
		    }
		}
	}
}
/*-- Features end here --*/


/*-- Portfolio start here --*/
#sp-portfolio-wrapper{
	padding: 50px 0;
	color: #fff;
}

//portfolio module style
.sp-portfolio{
	.sp-portfolio-thumb{
		.sp-portfolio-overlay{
			> div > a{
				font-size: 14px !important;
				color: #fff;
				&:hover{
					color: #fff !important;
				}
			}
		}
	}
	.sp-portfolio-item-details{
		text-align: center;
		h4.item-title{
			margin-bottom: 0;
		}
		a{
			color: #fff;
		}
	}
}
/*-- Portfolio end here --*/

/*-- Clients start here --*/
#sp-clients-wrapper{
	padding: 50px 0;
	background: #151515;
	color: #888;
	.clients-logo{
		margin-top: 40px;
	}
}
/*-- Clients end here --*/

/*-- Testimonial start here --*/
#sp-testimonial-wrapper{
	background: #000;
	padding: 50px 0 0;
	color: #888;
	.sp-testimonial{
		position: relative;
	}
	h2.module-title{
		text-align: center;
	}
	.content_slider_text_block_wrap{
		position: relative;
		top: 35px;
		background: #fff;
		padding: 30px;
		padding-left: 80px;
		text-align: left;
		.box-sizing(border-box);
		p{
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			color: #636363;
			font-style: italic;
		}
		i.icon-quote-left{
			font-size: 48px;
			color: #e0e0e0;
			position: absolute;
			left: 20px;
		}
		small{
			font-size: 14px;
			font-style: italic;
			color: #b9b9b9;
		}
		&:after{
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-bottom-color: #fff;
			border-width: 30px;
			margin-left: -30px;
		}
	}
}

/*-- Testimonial end here --*/

/*-- Bottom start here --*/
#sp-bottom-wrapper{
	background: #151515;
	color: #7a7a7a;
	padding: 50px 0 40px;

	h2.module-title{
		font-size: 18px;
		line-height: 18px;
		font-weight: 400;
		color: #fff;
		margin: 0 0 20px;
		.module-subtitle{
			font-size: 11px;
			margin: 0;
			color: #7a7a7a;
		}
	}

	#sp-bottom4{
		.custom{
			background: no-repeat;
		}
		p{
			margin-bottom: 25px;
		}
	}
}

//twitter module
.sp-tweet{
	.sp-tweet-item{
		background: url(../images/twitter-feed-icon.png) no-repeat 0 5px;
		padding: 0 30px 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #3a3a3a;
		color: #a3a2a2;
		&.sp-tweet-first{
			padding-top: 0;
		}
		&:last-child{
			border-bottom: 0;
		}
	}
}
a.followme{
	display: none !important;
}
/*-- Bottom end here --*/

/*-- Footer start here --*/
#sp-footer-wrapper {
	padding: 30px 0;
	ul {
		display:inline-block;
		&.nav {
			display:inline-block;
			list-style:none;
			padding:0;
			margin:0 5px;
			li {
				display:inline-block; 
				margin-right: 10px;
				padding-right: 10px;
				line-height: 10px;
				border-right: 1px solid #939393;
				&:last-child{
					border-right: 0;
				}
				a {
					text-transform: uppercase;
					display:block;
					color: #000;
					font-size: 12px;
					&:hover{
						background:none;
					}
				}
			}
		}
	}
	.sp-totop{
		display:inline-block;
		float: right;
		i{
			font-size: 24px;
		}
		small{
			display:none;
		}
	}
	.helix-framework {
		display:inline-block;
		.helix-logo {
			display:block;
			width:130px;
			height:40px;
			text-indent:-9999px;
			background:url(../images/helix-logo-white.png) no-repeat 0 0;
		}
	}
	.copyright {
		display:block;
	}	
}
/*-- Footer end here --*/

.ltr #sp-footer-wrapper .helix-framework{
	float:left;
	margin-right:15px;
}
.ltr #sp-footer-wrapper #sp-footer2{
	text-align:right;
}

.rtl #sp-footer-wrapper .helix-framework{
	float: right;
	margin-left: 15px;
}
.rtl #sp-footer-wrapper #sp-footer2{
	text-align: left;
}


/*-- Sub Page start here --*/
#sp-sub-header-wrapper{
	padding: 20px 0;
}

#sp-user-wrapper{
	padding: 50px 0;
}

//Breadcrumb
ul{
	&.breadcrumb{
		margin:10px 0;
		padding-left:0;
		padding-right:0;
		background:transparent;
		li{
			font-size: 14px;
			color: #fff;
			text-shadow: none;
			a{
				color: #fff;
			}
			span.divider{
				color: #fff;
			}
		}
	}
}

#sp-subheader{
	text-align: right;
	color: #fff;
	h1{
		text-transform: capitalize;
		font-size: 30px;
	}
}

#sp-content-wrapper{
	padding: 50px 0;
	h2.module-title{
		margin:30px 0 50px; 
	}
}

//Team
.sp-team{
	.sp-member{
		background: #f0f0f0;
		padding: 25px 0 0;
		h3{
			font-size: 14px;
			line-height: 14px;
			margin: 0;
		}
		p.sp-designation{
			
		}
		//social
		.social-icons{
			background: #2e3138;
			a{
				color: #fff;
				i{
					font-size: 24px;
					padding: 0;
					width: 55px;
					height: 45px;
					line-height: 36px;
					display: inline-block;
					margin: 0 -2px;
					border-right: 1px solid #363940;
					.box-sizing(border-box);
					.transition(400ms);
					&:hover{
						border-top: 4px solid #2e3138;
					}
					&.icon-facebook{
						border-top: 4px solid #2a56ae;
						&:hover{
							background: #2a56ae;
						}
					}
					&.icon-twitter{
						border-top: 4px solid #1fafde;
						&:hover{
							background: #1fafde;
						}
					}
					&.icon-google-plus{
						border-top: 4px solid #eb5e4c;
						&:hover{
							background: #eb5e4c;
						}
					}
					&.icon-pinterest{
						border-top: 4px solid #d62020;
						&:hover{
							background: #d62020;
						}
					}
					&.icon-linkedin{
						border-top: 4px solid #1fafde;
						&:hover{
							background: #1fafde;
						}
					}
				}
				&:last-child{
					i{
						border-right: 0;
					}
						
				}
			}
		}
	}
}

//service page
#sp-module-title{
	h2{
		font-size: 24px;
	}
}

//quotation
.quotation{
	background: #f2f2f2;
	color: #989898;
	padding: 20px;
	margin-bottom: 120px !important;
	.box-sizing(border-box);
	.border-radius(4px);
	h2{
		text-transform: capitalize;
		font-size: 18px;
		line-height: 20px;
		font-weight: 700;
	}
	a.btn{
		padding: 20px 30px;
		margin: 22px;
	}
}

//service page feature
.service-feature{
	padding: 50px 0 80px;
	position: relative;
	.feature-content{
		padding-right: 100px;
		h2{
			font-size: 24px;
		}
	}
	img.feature-thumb{
		position: absolute;
		top: -55px;
		right: -90px;
	}
}

//service style 2
.sp-features{
	&.sp-basic {
		margin-bottom: 20px;
		i{
			font-size: 24px;
			color: #b0b0b0;
			margin: 15px 0;
			display: inline-block;
		}
		h3{
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
			text-transform: capitalize;
		}
		.media-body{
			padding:0 35px 30px 20px;
			border-right: 1px solid #E6E6E6;
			border-bottom: 1px solid #E6E6E6;
		}

	}
}

//Pricing
.sp-pricing{
	.plan{
		background: #f6f6f6;
		list-style: none;
		margin: 0 -16px;
		border: 1px solid #ececec;
		li{
			padding: 10px 0;
			text-align:center;
			font-size:14px;
			line-height:20px;
				&.plan-name{
					background: #363636;
					color: #fff;
					padding: 20px 0 0;
					margin: 0 -1px;
					font-size: 24px;
					font-weight: 700;
					text-align:center;
					text-transform: uppercase;
				}
				&.plan-price{
					background: #363636;
					color: #6e6e6e;
					padding: 0;
					margin: 0 -1px 30px;
					height: 125px;
					h2{
						font-size: 36px;
						text-align:center;
						font-weight: 700;
						background: #fff;
						display: inline-block;
						width: 130px;
						height: 130px;
						line-height: 130px;
						position: relative;
						bottom: -30px;
						border: 10px solid rgba(0, 0, 0, 0.1);
						.border-radius(100%);
					}
				}
				&.plan-duration{
					position: relative;
					top: -30px;
					z-index: 10;
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
					color: #6e6e6e;
				}

				&:last-child{
				border-bottom:0;
				}			
				&.plan-action{
					padding:35px 0px;
					a.btn.btn-primary{
						padding: 10px 25px;
						font-weight: 400;
					}
				}
		}
		&.featured{
			li.plan-name{

			}
			li.plan-price{

			}
		}
	}
	ul.plan li ul{
		margin: 0;
		padding: 0 35px;
	}
	
	ul.plan li ul li {
		list-style:none;
		line-height:25px;
		text-transform: uppercase;
		font-weight: 700;
		color: #6e6e6e;
		border-bottom:1px solid #e1e1e1;
	}
}

//Money back
.money-back{
	border: 1px solid #e1e1e1;
	margin: 0 -15px;
	padding: 10px 25px;
	h2{
		font-size: 18px;
		font-weight: 700;
		text-transform: capitalize;
		line-height: normal;
	}
	p{
		font-weight: 700;
	}
	a.btn.btn-primary{
		margin: 20px 0;
		padding: 10px 20px;
		text-transform: capitalize;
		font-weight: 700;
		float: right;
	}
}

//Timeline
	.sp-timeline{
		background: url('../images/timeline-separator.png') repeat-y 50% 0;
		text-align: left;
		color: #000;
	}
		#sp-timeline-wrapper{
			padding: 50px 0;
		}

		.timeline-left,
		.timeline-right{
			float: left;
			width: 50%;
		}

		.timeline-right{
			padding-top: 50px;
		}

		.timeline-item{
			margin-bottom: 50px;
			position: relative;
		}

		.timeline-item:last-child{
			margin-bottom: 0;
		}

		.timeline-left .timeline-item{
			padding-right: 85px;
		}

		.timeline-right .timeline-item{
			padding-left: 85px;
		}

		.timeline-item .timeline-text{
			padding: 20px;
			background: rgba(255,255,255,.8);
		}

		h3.timeline-title{
			font-size: 18px;
			background: #fff;
			padding: 15px 20px;
			margin: 0;
		}

		.timeline-content::before,
		.timeline-content::after{
			content: " ";
			position: absolute;
		}

		.timeline-content::after{
			width: 10px;
			height: 10px;
			top: 25px;
			background: #fff;
			border-radius: 10px;
		}

		.timeline-left .timeline-content::after{
			right: -5px;
		}

		.timeline-right .timeline-content::after{
			left: -5px;
		}

		.timeline-content::before{
			width: 85px;
			height: 1px;
			top: 30px;
			background: #fff;
		}

		.timeline-left .timeline-content::before{
			right: 0;
		}

		.timeline-right .timeline-content::before{
			left: 0;
		}

//portfolio
ul.sp-portfolio-filter{
	text-align: center;
	margin-bottom: 50px !important;
	li{
		a.btn{
			background: none!important;
			border: 1px solid #cecece;
			color: #bababa !important;
			padding: 8px 12px;
			margin-right: 10px;
			.border-radius(2px);
			&.active{
				color: #fff !important;
				border: 1px solid transparent;
			}
		}
	}
}
//for subpage
.item-page{
	.sp-portfolio{
		.sp-portfolio-item-details{
			text-align: center;
			h4.item-title{
				margin-bottom: 0;
				a{
				}
			}
			a{
			}
		}
	}
}

//Contact us
.contact-map{
	padding: 10px;
	border: 1px solid #f0f0f0;
}
/*-- Sub Page end here --*/




