/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2013 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/
 

 h1, h2{
 	font-size: 36px;
 	text-transform: uppercase;
 	font-weight: 900;
 }

 h3{
	font-size: 24px;
	font-weight: 900;
	line-height: 30px;
	text-transform: uppercase;
 }


/*-- Button --*/
.btn.btn-primary, .readmore, a.ns2-readmore, .btn, 
#community-wrap .btn, button,
input[type="submit"]{
	padding: 10px;
	text-transform: uppercase;
	background-image: none;
	font-size: 14px;
	font-weight: 700;
	box-shadow: none;
	text-shadow: none;
	border: 0;
	color: #fff !important;
	.border-radius(2px);
	.transition(400ms) !important;
}
.btn-danger{
	background: #ea5e50;
	&:hover{
		background: darken(#ea5e50, 10%);
	}
}

/*-- Button end --*/


/* Dropcap */
.sp-dropcap{
	overflow:hidden;
	&:first-letter{
		color:#666;
		display:block;
		float:left;
		font-size:50px;
		line-height:40px;
		padding:4px 8px 0 0;
	}
}

/*Unordered Lists*/
ul {
	&.arrow,
	&.arrow-double,
	&.tick,
	&.cross,
	&.star,
	&.rss{
		list-style:none;
		padding:0;
		margin:0;
		li::before,
		li::after {
			font-family:FontAwesome;
			font-size:11px;
		}
	}
}

.ltr {
	ul {
		&.arrow,
		&.arrow-double,
		&.tick,
		&.cross,
		&.star,
		&.rss{
			li::before {
				margin-right:5px;
			}
		}	
	
		&.arrow{
			li::before {
				content:"\f105";
			}
		}
		
		&.arrow-double{
			li::before {
				content:"\f101";
			}
		}
		
		&.tick{
			li::before {
				content:"\f00c";
			}
		}
		
		&.cross{
			li::before {
				content:"\f00d";
			}
		}
		
		&.star{
			li::before {
				content:"\f006";
			}
		}
		&.rss{
			li::before {
				content:"\f09e";
			}
		}
	}	
}

.rtl {
	ul {
		&.arrow,
		&.arrow-double,
		&.tick,
		&.cross,
		&.star,
		&.rss{
			li::after {
				margin-left:5px;
			}
		}

		&.arrow{
			li::after {
				content:"\f104";
			}
		}
		
		&.arrow-double{
			li::after {
				content:"\f100";
			}
		}
		
		&.tick{
			li::after {
				content:"\f00c";
			}
		}
		
		&.cross{
			li::after {
				content:"\f00d";
			}
		}
		
		&.star{
			li::after {
				content:"\f006";
			}
		}
		&.rss{
			li::after {
				content:"\f09e";
			}
		}
	}
}

img.pull-left,
.pull-left > img{
	margin-right: 15px;
}

img.pull-right,
.pull-right > img{
		margin-left: 15px;	
}

.rtl {
	img.pull-left,
	.pull-left > img{
		margin-left: 15px;
	}
	img.pull-right,
	.pull-right > img{
			margin-right: 15px;	
	}
}

/* Block number */
.sp-blocknumber { 
     position: relative;
     min-height: 45px;
	 
	span{
		font-weight:bold;  
		width:48px;
		height:48px;
		line-height:48px;
		display:block;
		text-align:center;
		position: absolute;
		top: 0;
		&.rounded{
			.border-radius(5px);
		}
		&.circle{
			.border-radius(100%);
		}
	}
    
} 

.ltr{
     .sp-blocknumber { 
         padding:5px 0 5px 60px;
		 span{
			left: 0;
		 } 
	}
}

.rtl{
     .sp-blocknumber { 
         padding:5px 60px 5px 0;
		 span{
			right: 0;
		 } 
	}
}

/* Block */
.sp-block{
	&.rounded{
		.border-radius(5px);
	}
}

//bubble
.sp-bubble{
	position:relative;
	margin-bottom:40px;
	cite {
		span{
			content:' ';
			position: absolute;
			top: 0;
			display: block;
			width:0;
			height:0;
			border-bottom-color:transparent!important;
		}
		display: block;
		height:30px;
		line-height: 36px;
		position: absolute;
		bottom: -30px;
	}
}
.ltr{
	.sp-bubble{
		cite {
			span{
				left: 0;
				border-left-color:transparent!important;
			}
			left: 15px;
			padding-left: 40px;
		}
	}
}

.rtl{
	.sp-bubble{
		cite {
			span{
				right: 0;
				border-right-color:transparent!important;
			}
			right: 15px;
			padding-right: 40px;
		}
	}
}

.ltr [class^="icon-"].pull-left,
.ltr [class*=" icon-"].pull-left {
  margin-right: .3em;
}
.ltr [class^="icon-"].pull-right,
.ltr [class*=" icon-"].pull-right {
  margin-left: .3em;
}

.rtl [class^="icon-"].pull-left,
.rtl [class*=" icon-"].pull-left {
  margin-left: .3em;
}
.rtl [class^="icon-"].pull-right,
.rtl [class*=" icon-"].pull-right {
  margin-right: .3em;
}

//Inview animation
.sp-animation{
	&.sp-scaleup{
		.row-fluid{
			>div{
				opacity: 0;
			}
		}


		&.sp-inview{
			.row-fluid{
				[class*="span"]:nth-child(1){
					-webkit-animation: fadeInUp 300ms linear 100ms both;
					-moz-animation: fadeInUp 300ms linear 100ms both;
					-ms-animation: fadeInUp 300ms linear 100ms both;
					-o-animation: fadeInUp 300ms linear 100ms both;
					animation: fadeInUp 300ms linear 100ms both;
				}

				[class*="span"]:nth-child(2){
					-webkit-animation: fadeInUp 300ms linear 400ms both;
					-moz-animation: fadeInUp 300ms linear 400ms both;
					-ms-animation: fadeInUp 300ms linear 400ms both;
					-o-animation: fadeInUp 300ms linear 400ms both;
					animation: fadeInUp 300ms linear 400ms both;
				}
				[class*="span"]:nth-child(3){
					-webkit-animation: fadeInUp 300ms linear 800ms both;
					-moz-animation: fadeInUp 300ms linear 800ms both;
					-ms-animation: fadeInUp 300ms linear 800ms both;
					-o-animation: fadeInUp 300ms linear 800ms both;
					animation: fadeInUp 300ms linear 800ms both;
				}
				
				[class*="span"]:nth-child(4){
					-webkit-animation: fadeInUp 300ms linear 1200ms both;
					-moz-animation: fadeInUp 300ms linear 1200ms both;
					-ms-animation: fadeInUp 300ms linear 1200ms both;
					-o-animation: fadeInUp 300ms linear 1200ms both;
					animation: fadeInUp 300ms linear 1200ms both;
				}
			}
		}

	}

	//fadeIn
	&.sp-fadein{
		opacity: 0;
		&.sp-inview{
			-webkit-animation: fadeInUp 300ms linear 100ms both;
			-moz-animation: fadeInUp 300ms linear 100ms both;
			-ms-animation: fadeInUp 300ms linear 100ms both;
			-o-animation: fadeInUp 300ms linear 100ms both;
			animation: fadeInUp 300ms linear 100ms both;
		}
	}

}


//fadeIn
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

//fadeInUp
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}











