#block-mainnav {    float: right;    margin: 0;    padding: 0;    margin-top: 16px;}
#block-mainnav ul.fxmenu {  height:40px;   font-size: 18px; }
#block-mainnav ul.fxmenu li.level1 {margin-left: 12px;}
ul.fxmenu [class*="icon-"]:before { margin-right:5px;} 
.scroll-to-fixed-fixed  #block-mainnav {     margin-top: 10px;}

	/* Item level 1 */
	#block-mainnav ul.fxmenu li .level1{line-height:40px;display:block;padding:0 20px;color:#000;text-align:left;border-radius:5px;text-decoration:none!important;color:#43474d;cursor:pointer}
	#block-mainnav ul.fxmenu li .level1.fa-search{padding:0}
	#block-mainnav ul.fxmenu li.hasChild .level1:after{content:"\f107";display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:1;margin:0 -5px 0 10px}
	#block-mainnav ul.fxmenu li:hover .level1,#block-mainnav ul.fxmenu li.active .level1{background-color:#43474d;color:#fff}

	#block-mainnav ul.fxmenu .fx-subitem .levelsub.iconImage { padding-left:40px; position:relative;}
	#block-mainnav ul.fxmenu li > .iconImage img.icon  {    left: 5px;    margin-top: -15px;    max-height: 30px;    max-width: 40px;    position: absolute;    top: 50%; }
	#block-mainnav ul.fxmenu li > .fx-desc { line-height:18px; padding-top:7px; padding-bottom:7px;}
	#block-mainnav ul.fxmenu li > .fx-desc .fx-desc { font-size:13px; font-weight:normal; display:block}
	
	/* Item level sub */
	#block-mainnav ul.fxmenu .fx-subitem{text-align:left;background-color:#fff;border-radius:5px;box-shadow:3px 3px 15px rgba(0,0,0,0.13);}
	#block-mainnav ul.fxmenu .fx-subitem.cols1 { width: auto; min-width: 250px;}
	#block-mainnav ul.fxmenu .fx-subitem .levelsub{display:block;text-decoration:none;position:relative;overflow:hidden;padding:11px 15px 13px 20px;color:#43474d!important}
	#block-mainnav ul.fxmenu .cols1 li:first-child > .levelsub{border-radius:5px 5px 0 0}
	#block-mainnav ul.fxmenu .cols1 li:last-child > .levelsub{border-radius:0 0 5px 5px}
	#block-mainnav ul.fxmenu .fx-subitem li.fxcolumn > .iconsubmenu{display:none!important}
	#block-mainnav ul.fxmenu .fx-subitem li:first-child > .levelsub{border:none;box-shadow:none}
	#block-mainnav ul.fxmenu .fx-subitem li:hover > .levelsub,#block-mainnav ul.fxmenu .fx-subitem li.active > .levelsub{background-color:#43474d;color:#fff!important}
	#block-mainnav ul.fxmenu .fx-subitem .fx-subitem{border-radius:5px}
	#block-mainnav ul.fxmenu .fx-subitem li.hasChild > .iconsubmenu{margin-top:-14px;right:10px;top:50%;z-index:10}
	#block-mainnav ul.fxmenu .fx-subitem li.hasChild:hover > .iconsubmenu,#block-mainnav ul.fxmenu .fx-subitem li.hasChild.active > .iconsubmenu{color:#fff}	

	

	/* Item Group */
	#block-mainnav ul.fxmenu .fx-subitem .group-title,#block-mainnav ul.fxmenu .fx-subitem h3.title-module{font-size:18px!important;text-transform:uppercase;background:none!important;padding:0 12px;margin:0 0 10px}
	#block-mainnav ul.fxmenu .fx-subitem li:hover > .group-title,#block-mainnav ul.fxmenu .fx-subitem li.active > .group-title{color:#43474d!important}
	#block-mainnav ul.fxmenu .fx-subitem .group-content > li > .levelsub,#block-mainnav .hikashop_categories_listing_main a{font-family:"Open Sans",sans-serif;font-size:14px;padding:8px 12px}
	#block-mainnav .hikashop_categories_listing_main li:hover a,#block-mainnav .hikashop_categories_listing_main li.active a{background-color:#43474d;color:#fff!important}
	#block-mainnav .group:not(.cols1) .group-content > ul > .fxsubmenu{float:left!important}
	
	/* Sub Module */
	#block-mainnav ul.fxmenu .fx-subitem .jv-module { font-family: 'Open Sans',sans-serif; font-size: 14px;   }
	#block-mainnav ul.fxmenu .fx-subitem .jv-module .contentmod  { padding:0}





#block-mainnav .hikashop_categories_listing_main { margin:0}
#block-mainnav .hikashop_product_list, #block-mainnav  .hikashop_category_list, #block-mainnav  .hikashop_category_list  a { display:block}
#block-mainnav .k2ItemsBlock { padding:0 12px;}
#block-mainnav .k2ItemsBlock .moduleItemImage {    max-height: 95px;    overflow: hidden;}

#block-mainnav ul.fxmenu li:hover .btnsearchtop, #block-mainnav ul.fxmenu li.active .btnsearchtop  { background: none !important; color: #43474d !important;}
#block-mainnav ul.fxmenu li .btnsearchtop  > span { display:none}

/*-- sub group --*/
#block-mainnav ul.fxmenu li .level2 .group > .group-title { display: none !important;}
#block-mainnav ul.fxmenu li .level2 .group > .group-content { padding: 20px;}
#block-mainnav ul.fxmenu li .level2 .group > .group-content > ul > .fxsubmenu { padding: 0 20px 25px !important;}
#block-mainnav ul.fxmenu li .level2 .group > .group-content > ul > .fxsubmenu .title-module { padding: 0; color: #43474d;}

#block-mainnav ul.fxmenu li .level2 .group > .group-content > ul > .fxsubmenu .VMmenu > li > a,
#block-mainnav ul.fxmenu li .level2 .group > .group-content > ul > .fxsubmenu .hikashop_category_list > li > a { padding: 6px 0; color: #43474d;}

#block-mainnav ul.fxmenu li .level2 .group > .group-content > ul > .fxsubmenu .VMmenu > li:hover > a, 
#block-mainnav ul.fxmenu li .level2 .group > .group-content > ul > .fxsubmenu .VMmenu > li > a:hover, 
#block-mainnav ul.fxmenu li .level2 .group > .group-content > ul > .fxsubmenu .VMmenu > li.active > a,
#block-mainnav ul.fxmenu li .level2 .group > .group-content > ul > .fxsubmenu .hikashop_category_list > li:hover > a, 
#block-mainnav ul.fxmenu li .level2 .group > .group-content > ul > .fxsubmenu .hikashop_category_list > li > a:hover, 
#block-mainnav ul.fxmenu li .level2 .group > .group-content > ul > .fxsubmenu .hikashop_category_list > li.active > a  { background: none; color: inherit;}


