.selectify {
	position: relative;
    color: #555;
    width: 150px !important;
}
.selectify .options {
    position: absolute;
	z-index: 2000;
    max-height: 155px;
    overflow-y: auto;
    overflow-x: hidden;
}
.selectify .header-f {
    border: 1px solid #dcdcdc;
    background: #fff;
    cursor: pointer;
    width: 150px !important;
    padding: 0;
    border-radius:5px;
}
.selectify .header-f .icon {
    position: absolute;
    width: 11px;
    height: 9px;
    right: .8em;
    position: absolute;
    top: 50%;
	background:url(../images/select.png) no-repeat 0 0; margin-top: -4px;



	
}
.selectify.open .header-f .icon { background-position:0 -9px;}

.selectify .header-f .selected {
    color: #525252;
    font-size: 14px;
    padding: 5px 15px;
}
.selectify .header-f.hover .selected {
    color: #525252;
}
.selectify .header-f.hover .icon {
    border-color: #000 transparent transparent;
}
.selectify .option {
    border: 1px solid #BBB;
    cursor: pointer;
    border-top: 0;
    color: #525252;
    padding: 5px 15px;
    background: #FFF;
	width: 150px !important;
}
.selectify .option.hover {
    background: #E8E8E8;
}
.selectify .option.active {
    background: #E8E8E8;
}