/* Overlay , enable it if display in header, and header{over-flow:hidden;} */
#simplemodal-overlay {background-color:#000;}
#simplemodal-container a.modalCloseImg {background:url(../images/close_bt.png) top no-repeat; width:26px; height:26px; display:inline; z-index:3200; position:absolute; top:6px; right:10px; cursor:pointer;}
#simplemodal-container a.modalCloseImg:hover {background:url(../images/close_bt.png) bottom no-repeat; width:26px; height:26px; display:inline; z-index:3200; position:absolute; top:6px; right:10px; cursor:pointer;}
.simplemodal-wrap{
	overflow:visible!important;
}
.btl-content-block{
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
	border:1px solid #dadada;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
    display: none;
    height: auto;
    overflow: hidden;
    text-align: left;	
	font-size:12px;
	position:relative;
}
.btl-content-block form{
	margin:0;
	padding:0;
}
.btl-content-block h3 {
background: url("../images/header_bglogin.jpg") repeat-x scroll left top transparent;
line-height: 30px;
margin: 0px;
padding: 0 20px;
text-transform: uppercase;
font-size: 14px !important;
}
.btl-input > input[type=text],
.btl-input > input[type=password],
#recaptcha > input{
    border: 1px solid #dadada;
    border-radius:4px;
    margin: 5px 0;   
    text-indent: 5px;
    width: 189px;
    height: 26px;
	padding:0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
#recaptcha > input{
	width: 100px;
}
.btl-input > input:focus,
#recaptcha > input:focus{
	border-color: #E9322D;
    box-shadow: 0 0 6px #F8B9B7;
}
#recaptcha span#btl-captcha-reload{
	display: inline-block;
	width: 16px; height: 16px;
	background: url('../images/reload.png') no-repeat;
	text-indent: -9999px;
	cursor: pointer;
}
#btl{
	position:relative;
}

#btl .btl-panel > #btl-panel-profile{
	background:url(../images/btl-panel-bg.png) top right no-repeat;
	padding-right:30px;
}
button::-moz-focus-inner {
padding:0; border: none;
}


#btl .btl-panel > span,button.btl-buttonsubmit,input.btl-buttonsubmit{
	border-radius:3px;
}
#btl .btl-panel > span.active,button.btl-buttonsubmit:focus,input.btl-buttonsubmit:focus{
	opacity:0.8;
}
.btl-error{
	display:none;	
}
.btl-error-detail{
	display:none;
	float: right;
	color: #FF0000;
	margin-bottom:4px;
}
.btl-field,#register-link,.btl-error-detail,.btl-error,.btl-note{
	margin-left:20px;
	margin-right:25px!important;
	overflow:hidden;
}
 .btl-label{
	float:left!important;
}
 .btl-input{
	float:right!important;
}
.btl-label, .btl-input {
	line-height:38px;
	height: 38px;
}
#recaptcha{
	height: auto!important;
	float:right;
}
#btl-content-login .btl-input input{
	width: 190px;
}
#btl-input-remember{
}
#btl-checkbox-remember{
	width: 15px!important;
	vertical-align:middle;
	padding:0;
	margin:0;
}
.clear{
	clear:both;
}
.btl-error{
	color: #FF0000;
}
input.btl-buttonsubmit,
button.btl-buttonsubmit{
    border:none!important;
    box-shadow: 1px 1px 3px rgba(9,4,3,0.86);
    cursor: pointer;
    text-align: center!important;
    text-shadow: 0 1px 1px #4A4A4A;
    width: auto!important;
	padding:0 12px;
	height:29px!important;;
	line-height:29px!important;;
	display:inline-block;
}
div.btl-buttonsubmit{
	text-align:center!important;
	padding:10px 0 0 0!important;
	border-top:1px solid #dddddd;
}

/* STYLE FOR DROP-DOWN PANEL (all element in  #btl-content) */

#btl-content > .btl-content-block{
	position:absolute!important;
	z-index:9999;
}
#btl-content #btl-content-login{
	width:350px;
}

#btl-content-registration{
	min-width:350px;
}
.btl-note,#register-link{
	padding:18px 0px;
}

 #btl-content-login .btl-input{
	float:right;
}
#btl-content-login .spacer{
	height:14px;
}

#btl-content div.btl-buttonsubmit{
	border-top: 1px dotted #c4c4c4;
}
#btl-content #btl-content-login .btl-label {
	line-height:38px;
	min-width: 0px!important;
}

/* CSS FOR USER PROFILE MODULE**/
#btl-content  #btl-content-profile{
	overflow:hidden;
}
#module-in-profile{
	min-width:200px;
}
#btl-content #btl-content-profile #module-in-profile ul{
	position: static;	
	text-align: left;
	margin: 0 0 0 15px;
	padding: 0!important;
	
}
#btl-content-profile ul.menu li {
    background: url("../images/bullet.png") no-repeat scroll 5px 15px transparent;
    padding: 0 0 0 20px!important;
	border-bottom: 1px solid #E8E8E8;
	display:list-item!important;
    line-height: 37px;
	
}
#btl-content #btl-content-profile #module-in-profile ul li a{
	color: #6b6b6b;
	text-decoration: none !important;
	text-transform: none!important;
	font-family: arial,tahoma;
}

#btl-content-profile ul.menu li a {
    color: #616161!important;
	text-decoration:none!important;
	border:none!important;
	background:none!important;
	display:inline!important;
	padding:0!important;
	margin:0!important;
	text-transform: none!important;
}
#btl-content-profile div.btl-buttonsubmit{
	clear:both;
	margin-bottom:15px;
	border: none!important;
	text-align: center;
	margin-top: 0!important;
	
}
/* style panel when action process */
#btl-register-in-process,#btl-login-in-process{
	display: none;
	background: url("../images/loading.gif") no-repeat #000 50%;
	opacity: 0.4;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9999;
	top:-1px;
	left:-1px;
	padding-top:1px;
	padding-left:1px;
}

/* style panel when register success */
#btl-success{
	display: none;
	margin: 20px 0 30px 0;
	background:url("../images/notice-info.png") no-repeat;
	display: none;
	color:#000;
	border-bottom: 2px solid #90B203;
	border-top: 2px solid #90B203;
	font-size:14px;
	padding: 10px 10px 10px 25px;
}
/* style for ul in login panel*/
#bt_ul{
	margin-top:-10px!important;
	margin-bottom:20px!important;
	margin-right: 25px!important;
	float:right;
}

/* for modal*/
#btl-content-login ul{
	position: static!important;	
	text-align: left;
	list-style-type: disc !important;
}
#btl-content-login ul li{
	margin-top: 3px;
}
#bt_ul li a{
	padding: 0!important;
	text-decoration: none!important;
	color:#545454!important;
	
}
#btl-wrap-module{
	padding:20px
}