.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #f24c3d;
}
a:hover {
  color: #ec2210;
}
body {
  color: #000;
}
body.bg {
  background: #fff;
}
.btn.btn-primary,
.readmore,
a.ns2-readmore,
.btn-default,
#community-wrap .btn,
button,
input[type="submit"] {
  background: #f24c3d;
}
.btn.btn-primary:hover,
.readmore:hover,
a.ns2-readmore:hover,
.btn-default:hover,
#community-wrap .btn:hover,
button:hover,
input[type="submit"]:hover {
  background: #ec2210;
}
.logo {
  background-image: url(../../images/presets/preset2/logo.png);
}
#sp-main-menu ul.level-0 > li:hover,
#sp-main-menu ul.level-0 > li.active {
  background-color: #f24c3d;
}
#sp-main-menu ul.level-0 > li:hover {
  background-color: #f24c3d;
}
#sp-main-menu li li:not(.sp-menu-group):hover,
#sp-main-menu li li:not(.sp-menu-group).active {
  background-color: #ec2210;
}
.sp-submenu .sp-submenu-wrap {
  background: #f24c3d;
}
#sp-slide-wrapper .sp-slider-controllers >a {
  background: #f24c3d;
}
#sp-slide-wrapper .sp-slider-controllers >a:hover {
  background: #ec2210;
}
#sp-feature-wrapper {
  padding: 70px 0 50px;
}
#sp-feature-wrapper .features .sp-feature i {
  box-shadow: inset 0 0 0px 5px #f24c3d, 0 0 0px 1px #f5f5f5, #ededed 2px 2px, #ededed 3px 3px, #ededed 4px 4px, #eeeeee 5px 5px, #eeeeee 6px 6px, #eeeeee 7px 7px, #efefef 8px 8px, #efefef 9px 9px, #efefef 10px 10px, #f0f0f0 11px 11px, #f0f0f0 12px 12px, #f0f0f0 13px 13px, #f1f1f1 14px 14px, #f1f1f1 15px 15px, #f1f1f1 16px 16px, #f2f2f2 17px 17px, #f2f2f2 18px 18px, #f2f2f2 19px 19px, #f3f3f3 20px 20px, #f3f3f3 21px 21px, #f3f3f3 22px 22px, #f4f4f4 23px 23px, #f4f4f4 24px 24px, #f4f4f4 25px 25px, #f5f5f5 26px 26px, #f5f5f5 27px 27px, #f5f5f5 28px 28px, #f6f6f6 29px 29px, #f6f6f6 30px 30px, #f6f6f6 31px 31px, #f7f7f7 32px 32px, #f7f7f7 33px 33px, #f7f7f7 34px 34px, #f8f8f8 35px 35px, #f8f8f8 36px 36px, #f8f8f8 37px 37px, #f9f9f9 38px 38px, #f9f9f9 39px 39px, #f9f9f9 40px 40px, #fafafa 41px 41px, #fafafa 42px 42px, #fafafa 43px 43px, #fbfbfb 44px 44px, #fbfbfb 45px 45px, #fbfbfb 46px 46px, #fcfcfc 47px 47px, #fcfcfc 48px 48px, #fcfcfc 49px 49px, #fdfdfd 50px 50px, #fdfdfd 51px 51px, #fdfdfd 52px 52px, #fefefe 53px 53px, #fefefe 54px 54px, #fefefe 55px 55px, #ffffff 56px 56px;
}
#sp-portfolio-wrapper {
  background: #f24c3d;
}
.sp-portfolio .sp-portfolio-thumb .sp-portfolio-overlay > div > a {
  background: #f24c3d !important;
}
#sp-footer-wrapper ul.nav li a:hover {
  background: none;
  color: #f24c3d;
}
#sp-footer-wrapper .sp-totop i {
  font-size: 24px;
  color: #f24c3d;
}
.pagination ul li a:hover,
.pagination ul li a.active {
  background: #f24c3d !important;
}
.pagination ul li.pagination-active a {
  background: #f24c3d !important;
  border: 1px solid transparent;
}
div.k2ItemsBlock ul li a,
div.catItemHeader h3.catItemTitle a {
  color: #000;
}
div.k2CategoriesListBlock ul li a:hover,
div.k2ItemsBlock ul li a:hover {
  color: #f24c3d;
}
#sp-sub-header-wrapper {
  background: #f24c3d;
}
.sp-pricing .plan.featured li.plan-name {
  background: #f24c3d;
}
.sp-pricing .plan.featured li.plan-price {
  background: #f24c3d;
}
.money-back {
  border-left: 2px solid #f24c3d;
}
ul.sp-portfolio-filter li a.btn.active {
  background-color: #f24c3d !important;
}
.item-page .sp-portfolio .sp-portfolio-item-details h4.item-title {
  margin-bottom: 0;
}
.item-page .sp-portfolio .sp-portfolio-item-details h4.item-title a {
  color: #000 !important;
}
.item-page .sp-portfolio .sp-portfolio-item-details a {
  color: #f24c3d;
}
.nav-pills>.active>a,
.nav-pills>.active>a:hover,
.nav-pills>.active>a:focus {
  background: #f24c3d;
}
.highlighted {
  background: #f24c3d;
  color: #fff;
}
