/*---------------------------------------------------------------
# Package - Joomla Template based on Helix Framework   
# ---------------------------------------------------------------
# Author - JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
# license - PHP files are licensed under  GNU/GPL V2
# license - CSS  - JS - IMAGE files  are Copyrighted material 
# Websites: http://www.joomshaper.com
-----------------------------------------------------------------*/
/*Custom Font*/
.sp_countdown .sp_countdown_button a.button,
#hornav ul.level-0 > li.menu-item span.menu-title,
#sublevel ul.level-1 > li.menu-item span.menu-title,
.sp-highlight-bar,span.designed_by,
.sp_slide_introtext,.sp_countdown .sp_countdown_pre_text,
.sp_countdown .sp_countdown_pre_text,.sp_countdown_container,
.sp_countdown #sp_countdown_button a{font-family:BebasNeueRegular;text-transform:lowercase}

/*a button hover*/
a.readmore:hover,.comments:hover,input.button:hover, a.details:hover, .adminform button:hover,#adminForm button:hover,.button:hover,button[type=submit]:hover,input[type=submit]:hover,input[type=button]:hover,
div.itemCommentsForm form input#submitCommentButton:hover, div.pagination ul li a:hover
{background:#5C5C5C;border:1px solid #0E0E0E}

/*Common*/
#sp-pathway,.sp-module-wrapper, .login {
background:#f5f5f5;background:rgba(255,255,255,.3);border:1px solid #f9f9f9;border-bottom:1px solid #D4D4D4;border-right:1px solid #D4D4D4}

/*Slides*/
#header-wrapper, #sp-slide-grid {background: url(../images/main-pattern.png) repeat; position:relative}
#header-wrapper {z-index:3;padding:20px 0}
#sp-slide-grid {z-index:2;overflow:hidden;padding:0;margin:0 !important}
#sp-slide-grid .sp_slide_introtext {display:block;width:140px;height:140px;background:#fff;padding:50px;border-radius:200px}
#sp-slide-grid .sp-inner {padding:0}
#sp-slide-grid .sp-slide-inner {padding:0}
#sp-slide-grid:hover .sp_slide_btnnext{left:0;opacity:1}
#sp-slide-grid:hover .sp_slide_btnprev{right:0;opacity:1}
.sp_slide_introtext {position:relative;font-size:24px;color:#000;line-height:100%;text-align:center}
.sp_slide_introtext strong {font-size:48px;line-height:100%;}
h3.speaker_name{background:#000;font-weight:400;float:right;display:block;margin:0;padding:5px 10px;color:#fff;}
.rtl h3.speaker_name{background:#000;font-weight:400;float:left;display:block;margin:0;padding:5px 10px;color:#fff;}
.sp_speaker_container {position:absolute;bottom:50px;right:0}
.rtl .sp_speaker_container {position:absolute;bottom:50px;left:0!important;right:auto}
img.sp_speaker_img{float:left;margin-right:20px}
.rtl img.sp_speaker_img{float:right;margin-left:20px}
.sp_speaker_content {position: relative;width:280px;	min-height:90px;padding:10px;float:right}
.sp_speaker_content:after {right:100%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute}
.rtl .sp_speaker_content:after {left:100%;right:auto;border: solid transparent;content: " ";height: 0;width: 0;position: absolute}
.sp_speaker_content:after {border-width: 12px;top: 50%;margin-top: -20px}
.sp_speaker_content {display:block;color:#fff;text-shadow:0 1px rgba(0,0,0,.5)}
h2.sp-slide-title {position: absolute;top: 30px;left: 280px;width: 500px;font-size:68px}
h2.sp-slide-title a {color:#fff}
.sp_slide_btnnext,.sp_slide_btnprev{width:77px;height:92px;margin-top:-46px;position:absolute;top:50%;z-index:1;cursor:pointer;opacity:0}
.sp_slide_btnnext{left:-87px}
.sp_slide_btnprev{right:-87px}
.sp_slide_btnnext, .sp_slide_btnprev {-webkit-transition: all 300ms}

/*Page Title*/
#sp-pagetitle-outer {margin:0}
#sp-pagetitle-outer h2 {font-size:72px;font-weight:400;line-height:100%}
#sp-pagetitle-outer {background:#f5f5f5;background:rgba(255,255,255,.3);color:#000;text-shadow:0 1px #fff;border-bottom:1px solid #ddd}

/*Social share*/
#sp-share {position: absolute;right: 0px;top:13px;z-index: 1}
#sp-share img:hover {opacity:.8}
.custom_demo_slides{height:300px}

/*Popup*/
.sp-pop-container{opacity:0;display:none;height:auto;width:auto}
.sp-box-overlay{display:block;z-index:999;position:absolute;top:0;left:0;background-color:#000;visibility:visible;opacity:0.7}
.sp-content-box{display:none;z-index:9999;position:absolute;width:500px;height:500px;background:#FFF;border:1px solid #D5E2E7;border-radius:6px}
.sp-pop-close{background:url(../images/btnClose.png) no-repeat 0 0;display:block;position:absolute;top:-10px;right:-10px;text-indent:-999em;width:27px;height:28px}
.sp-fb-event-feed {height:210px}
.sp-pop-cookie-close {position:absolute;margin-left:150px;bottom:10px}

/*Countdown*/
#sp-countdown-grid{padding:30px 0}
.sp_countdown {text-align:center}
.sp_countdown .sp_countdown_pre_text,
.sp_countdown_container,
.sp_countdown .sp_countdown_button {float:left;margin:0 20px}
.sp_countdown .sp_countdown_pre_text {padding-top:30px}
.sp_countdown .sp_countdown_button {padding-top:20px}
.sp_countdown .sp_countdown_pre_text{font-size:36px;line-height:100%;color:#000;text-shadow:0 1px #fff}
.sp_countdown_days, 
.sp_countdown_hours, 
.sp_countdown_mins, 
.sp_countdown_secs{width:75px!important;height:75px!important;text-align:center;text-shadow:0 1px rgba(0,0,0,.5)}
.sp_countdown .sp_countdown_int{font-size:32px;padding-top:20px}
.sp_countdown .sp_countdown_string{font-size:18px;padding-top:10px;text-transform:uppercase}
.sp_countdown .sp_countdown_button a.button {padding:0 15px;font-size:24px;font-weight:400;display:inline-block;text-shadow:0 1px rgba(0,0,0,.5)}
.sp_countdown .sp_countdown_button a.button span{display:inline-block;text-transform:uppercase;background:url(../images/ticket.png) 0 50% no-repeat;padding:10px 0 10px 40px;color:#fff}

/*News Show Sp2*/
.nssp2.ns2-events .ns2-art-controllers {position: absolute;top: 10px;right:0}
.nssp2.ns2-events .ns2-date-blog{background:#ed1f24;color:#fff}

/*Sponsor*/
#sp-sponsor {padding:30px 0 20px}
.ns2-sponsor .ns2-inner {padding:10px 0;text-align:center}
.ns2-sponsor img.ns2-image:hover {box-shadow:0 0 10px 0 rgba(255, 255, 255, .2)}

/*SP Tab*/
.tabs_buttons {margin-bottom:10px;}
ul.tabs_container li.tab,
ul.tabs_container li.tab span {background:none;border:0;display:block;font-size:12px;font-weight:bold;color:#666;text-shadow:0 1px #fff}
ul.tabs_container li.tab.active {background:#f5f5f5;background:rgba(255,255,255,.6);border-radius:100px}

/*News ShowSp2 on Blog*/
h4.ns2-title {font-weight:400!important;font-size:14px!important;text-shadow:0 1px #fff}
.nssp2.ns2-blog .ns2-inner .ns2-tools{float:left;margin-right:5px}

/*Search*/
.moduleblog_search .mod-wrapper{padding:0}
.k2SearchBlock input.inputbox,
.mod-search input.inputbox{width:180px;background-image: url(../images/search.png);margin:0;padding:8px 12px}
.rtl .k2SearchBlock input.inputbox,
.rtl .mod-search input.inputbox{background-position:10% 50%}

/*Speakers Grid */
.nssp2.ns2-speaker .ns2-art-prev, .nssp2.ns2-speaker .ns2-art-next
{position:absolute;top:50%;margin:0 -20px;text-indent:-9999em;height:86px;width:42px;z-index: 999;}
.nssp2.ns2-speaker .ns2-art-next {right:0;background: url(../images/speaker_arrow_right.png) no-repeat}
.nssp2.ns2-speaker .ns2-art-prev {left:0;background: url(../images/speaker_arrow_left.png) no-repeat}
.nssp2.ns2-speaker {text-align:center}
.nssp2.ns2-speaker img.ns2-image {border-radius:100px;cursor:pointer;box-shadow:0 0 0 5px rgba(255,255,255,.5)}
.nssp2.ns2-speaker .ns2-column:hover img.ns2-image {margin-top:50px!important}
.nssp2.ns2-speaker h4.ns2-title {font-size:20px!important;font-weight:400}

/**Item Page Speaker**/
.designation{font-size:14px;color:#999}
.item-page .header {font-weight: 700;text-align: center;background-position-y: 15px;}
.item-page .header a {padding: 0 10px}
.item-page .img_rounded {background:#fff;border-radius:100px;cursor:pointer;box-shadow:0 0 5px 1px rgba(0,0,0,.5)}
.rtl .item-page .img_rounded {background:#fff;border-radius: 100px;height: 138px;width: 134px;cursor:pointer;box-shadow:0 0 5px 1px rgba(0,0,0,.5)}
.item-page .img_rounded:hover{opacity:.7} 
.item-page h4{text-align:left;font-size:20px;font-weight:400;line-height:8px}
.rtl .item-page h4{text-align:right;font-size:20px;font-weight:400;line-height:8px}
.rtl .item-page h5{text-align:right;font-size:14px;font-weight:400}
.item-page h5{text-align:left;font-size:14px;font-weight:400}
.item-page .sp-block1{padding:0 10px 10px 15px}
.item-page h6{text-align:center;font-size:20px;font-weight:400;line-height:8px}
 .item-page .text-item{text-align:center;font-size:14px;font-weight:400}

/*gallery*/
.sp-sig {margin:0 -5px}

/*Schedule*/
.schedule{margin-bottom:5px;float:left}
.schedule h3{margin:0;font-size:19px;font-weight:400;color:#000}
.schedule span.sctime{display:block;margin:.7em 0;background:#C73F3F;padding:5px 6px;font-size:14px;color:#fff}

/*Sponsor*/
#sp-sponsor-grid .sp-inner {padding:0}

/*Ticket Grid*/
#sp-ticket .sp-inner {padding:0}
.sp-highlight-bar{height:120px;position:relative;padding:10px 30px 10px 30px;text-align:right;color:#fff}
.rtl .sp-highlight-bar{height:120px;position:relative;padding:10px 30px 10px 30px;text-align:left;color:#fff}
.sp-highlight-bar::after{content:"";position: absolute;width:0;height:0;right:-30px;top: 0; border-width: 70px 30px;border-style:solid;}
.rtl .sp-highlight-bar::after{content:"";position: absolute;width:0;height:0;left:-30px;right:auto;top:0; border-width: 70px 30px;border-style:solid;}
.sp-highlight-bar a,.sp-highlight-bar a:hover {color:#fff;text-shadow: 2px 3px rgba(0,0,0,.5);text-transform:uppercase}
.sp-event-package {font-size:30px;display:inline-block;padding:20px 0;margin-right:30px;width:340px;text-align:left}
.sp-event-package span.package_rate {font-size:60px;display:block;padding-top:25px}
.sp-buy-ticket{display:inline-block;letter-spacing:10px}
.sp-buy-ticket a{font-size:120px}
.sp-highlight-bar::after{border-width:70px 30px;border-style:solid}

/*Accordion*/
.sp-accordion.sp-accordion-style4 .toggler {border-bottom: 1px dashed #CCC}

/*K2 Blog type Date*/
div.spk2-blog-date{position:absolute;right:0;}
div.spk2-blog-date{display:block;text-align: center;color:#fff;text-shadow:0 1px rgba(0, 0, 0, .4);padding: 5px 10px}
div.spk2-blog-date span.sp_date_day  {display: block;line-height: 100%;font-size: 16px;font-weight: 700;color: #fff}
div.spk2-blog-date span.sp_month {font-family:Arial;font-size: 10px;text-transform: uppercase}
div.spk2-blog-date span.sp_year {display:none}