body {
  background: #f5f5f5;
}
body #error-page {
  background: url(../images/404-error.png) no-repeat 50% 0;
  min-height: 400px;
  max-width: 650px;
  padding: 0;
  margin: 60px auto;
}
body #error-page >div {
  margin-top: 130px;
  background: #27ae61;
  text-align: center;
  border-radius: 3px;
}
body #error-page h1.error-code {
  font-family: Impact;
  font-size: 150px;
  line-height: 180px;
  color: #fff;
  font-weight: 100;
  padding-top: 30px;
}
body #error-page p.error-message {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #999;
  text-shadow: 0 1px #fff;
  margin-right: 10px;
}
body #error-page a {
  text-decoration: none;
  color: #44c5ef;
}
body #error-page a:hover {
  text-decoration: none;
  color: #62d3f8;
}
.error-content {
  font-size: 25px;
  padding-bottom: 50px;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 3px #126036;
}
#error-page p {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  color: #484d60;
  font-weight: bolder;
}
#error-page p a {
  color: #fff;
  background: #27ae61;
  padding: 10px;
  font-size: 30px;
  margin-left: 20px;
  border-radius: 2px;
}
#error-page p a:hover {
  background: #25a25a;
  color: #fff;
}
