.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
  background-image: -o-linear-gradient(top,#fff,#e6e6e6);
  background-image: linear-gradient(to bottom,#fff,#e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #e6e6e6;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #bbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 16px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 2px;
}
.btn-small {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 18px;
}
.btn-small [class^="icon-"] {
  margin-top: 0;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 16px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255,255,255,0.75);
}
.btn {
  border-color: #c5c5c5;
  border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
}
.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top,#08c,#0044cc);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0044cc));
  background-image: -webkit-linear-gradient(top,#08c,#0044cc);
  background-image: -o-linear-gradient(top,#08c,#0044cc);
  background-image: linear-gradient(to bottom,#08c,#0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0043cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #0044cc;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #fff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}
.btn-warning {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top,#fbb450,#f89406);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
  background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
  background-image: -o-linear-gradient(top,#fbb450,#f89406);
  background-image: linear-gradient(to bottom,#fbb450,#f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffab44f', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #f89406;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #fff;
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
  background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #bd362f;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #fff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top,#62c462,#51a351);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
  background-image: -webkit-linear-gradient(top,#62c462,#51a351);
  background-image: -o-linear-gradient(top,#62c462,#51a351);
  background-image: linear-gradient(to bottom,#62c462,#51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #51a351;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #fff;
  background-color: #51a351;
  *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
  background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
  background-image: -o-linear-gradient(top,#5bc0de,#2f96b4);
  background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #2f96b4;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #fff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top,#444,#222);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
  background-image: -webkit-linear-gradient(top,#444,#222);
  background-image: -o-linear-gradient(top,#444,#222);
  background-image: linear-gradient(to bottom,#444,#222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #222 #222 #000000;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #222;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #fff;
  background-color: #222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #090909 \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-link,
.btn-link:active {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #08c;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-link:hover {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}
a,
a:hover {
  text-decoration: none;
}
.page-header {
  padding-bottom: 10px;
  margin: 0 0 20px;
}
.entry-meta.muted {
  background: #f2f2f2;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 12px;
}
.entry-meta.muted >span,
.entry-meta.muted >time {
  margin: 0 5px;
}
.entry-meta ul {
  margin: 0 5px;
}
.entry-meta ul.actions {
  float: right;
}
.entry-meta ul.actions li {
  display: inline-block;
}
.entry-meta ul.actions li.print-icon a::before {
  content: "\f02f";
}
.entry-meta ul.actions li.email-icon a::before {
  content: "\f003";
}
.entry-meta ul.actions li.edit-icon a::before {
  content: "\f044";
}
.entry-meta ul.actions li a {
  font-family: FontAwesome;
  display: block;
  font-size: 14px;
  margin-left: 5px;
}
.entry-meta ul.actions li a img {
  display: none;
}
.entry-meta ul.actions li a span {
  display: none;
}
.contact-form-block h3 {
  text-transform: capitalize;
}
.contact-form {
  font-weight: 700;
}
.contact-form label {
  font-weight: 700;
}
input[type="submit"],
input[type="button"],
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  text-shadow: none;
  color: #000000;
  min-height: 40px;
  box-shadow: none;
  background: none;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
textarea:hover,
textarea:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="datetime"]:hover,
input[type="datetime"]:focus,
input[type="datetime-local"]:hover,
input[type="datetime-local"]:focus,
input[type="date"]:hover,
input[type="date"]:focus,
input[type="month"]:hover,
input[type="month"]:focus,
input[type="time"]:hover,
input[type="time"]:focus,
input[type="week"]:hover,
input[type="week"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="url"]:hover,
input[type="url"]:focus,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="tel"]:hover,
input[type="tel"]:focus,
input[type="color"]:hover,
input[type="color"]:focus,
.uneditable-input:hover,
.uneditable-input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input.input-block-level {
  min-height: 40px;
}
ul.pagenav {
  list-style: none;
  padding: 0;
  clear: both;
  margin-top: 10px;
  margin-left: 0;
  overflow: hidden;
}
ul.pagenav .pagenav-prev {
  float: left;
}
ul.pagenav .pagenav-next {
  float: right;
}
dl dt,
dl dd {
  display: inline;
}
label.invalid {
  color: #c83025;
}
#editor-xtd-buttons {
  display: inline-block;
  margin-right: 10px;
}
.button2-left {
  display: inline-block;
  margin-right: 10px;
  margin-top: 15px;
}
.toggle-editor {
  display: inline-block;
}
.edit .modal {
  position: inherit;
  top: auto;
  left: auto;
  width: auto;
  margin-left: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
}
.pagination ul {
  box-shadow: none;
}
.pagination ul>li>a,
.pagination ul>li>span {
  background-color: transparent;
  border: none;
  margin-right: 5px;
  border: 1px solid #cecece;
}
.pagination ul li a {
  padding: 4px 10px;
}
.pagination ul li a:hover,
.pagination ul li a.active {
  color: #fff !important;
  border: 1px solid transparent;
}
.pagination ul li.pagination-active a {
  color: #fff;
}
.pagination ul>li:last-child>a,
.pagination ul>li:last-child>span,
.pagination ul>li:first-child>a,
.pagination ul>li:first-child>span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#main-body {
  padding: 30px 0;
}
.body-innerwrapper {
  overflow-x: hidden;
}
.menu-home #sp-main-body-wrapper .row-fluid {
  min-height: 0;
}
.center {
  text-align: center;
}
.center th,
.center tr,
.center td {
  text-align: center;
}
.row-fluid {
  margin-bottom: 20px;
}
.row-fluid:first-child {
  margin-bottom: 0;
}
#sp-top-wrapper {
  background-color: #000;
  padding: 20px 0;
}
#sp-top-wrapper.menu-fixed {
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9998;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
}
#sp-top-wrapper.menu-fixed #mod-search-searchword {
  background-color: rgba(0,0,0,0.1) !important;
}
#sp-search {
  text-align: right;
}
#sp-search .search form {
  margin: 0;
  position: relative;
  height: 40px;
}
#sp-search .search #mod-search-searchword {
  min-height: 40px;
  background: #000;
  color: #444444;
  border: 1px solid #444444;
  padding: 0 30px 0 10px;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#sp-search .search #mod-search-searchword:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#sp-search .search i {
  position: absolute;
  right: 10px;
  top: 11px;
  color: #444444;
  font-size: 16px;
  text-shadow: none;
}
#sp-header-wrapper {
  padding: 30px 0;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
}
#sp-header-wrapper .logo-wrapper .logo {
  background-position: 0 50%;
  background-repeat: no-repeat;
}
#sp-header-wrapper .logo-wrapper .logo-text {
  font-size: 24px;
}
#sp-header-wrapper .logo-wrapper .logo-slogan {
  font-size: 11px;
}
#sp-header-wrapper .search {
  margin-top: 10px;
}
#sp-header-wrapper .search form {
  margin: 0;
}
#sp-top-info ul.social-icons {
  list-style: none;
  float: right;
  margin: 30px 0 0 20px;
}
#sp-top-info ul.social-icons li {
  display: inline-block;
}
#sp-top-info ul.social-icons i {
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 100;
  margin-right: 5px;
}
#sp-top-info ul.social-icons .icon-facebook {
  background: #5d82d1;
}
#sp-top-info ul.social-icons .icon-twitter {
  background: #40bff5;
}
#sp-top-info ul.social-icons .icon-google-plus {
  background: #eb5e4c;
}
#sp-top-info ul.social-icons .icon-pinterest {
  background: #e13138;
}
#sp-top-info ul.social-icons .icon-linkedin {
  background: #1284ce;
}
#sp-top-info ul.social-icons .icon-dribbble {
  background: #d77fa9;
}
#sp-top-info ul.social-icons .icon-youtube {
  background: #de332c;
}
#sp-top-info ul.social-icons .icon-flickr {
  background: #333;
}
#sp-top-info img.hotline {
  float: right;
}
#sp-slide-wrapper {
  margin-bottom: 70px;
}
#sp-slide-wrapper .sp-slider-content h1.sp-title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 70px 0 0;
}
#sp-slide-wrapper .sp-slider-content p.sp-introtext {
  font-size: 18px;
}
#sp-slide-wrapper .sp-slider-content a.btn {
  font-size: 18px;
  font-weight: 700;
  padding: 14px 0;
  width: 160px;
}
#sp-slide-wrapper .sp-slider-content a.btn.btn-primary {
  background: #2ecc71;
}
#sp-slide-wrapper .sp-slider-content a.btn.btn-primary:hover {
  background: #25a25a;
}
#sp-slide-wrapper .sp-slider-content a.btn.btn-danger {
  margin-right: 20px;
}
#sp-slide-wrapper .sp-slider-controllers .controller-prev,
#sp-slide-wrapper .sp-slider-controllers .controller-next {
  font-size: 70px;
  line-height: 72px;
  color: #fff;
  font-family: fontAwesome;
}
#sp-slide-wrapper .sp-slider-controllers .controller-prev span,
#sp-slide-wrapper .sp-slider-controllers .controller-next span {
  display: none;
}
#sp-slide-wrapper .sp-slider-controllers .controller-prev:before {
  content: "\f104";
}
#sp-slide-wrapper .sp-slider-controllers .controller-next:before {
  content: "\f105";
}
#sp-feature-wrapper {
  padding: 70px 0 50px;
}
#sp-feature-wrapper .features .sp-feature {
  text-align: center;
}
#sp-feature-wrapper .features .sp-feature h3 {
  font-size: 18px;
  color: #000;
  font-weight: 900;
  margin-top: 30px;
}
#sp-feature-wrapper .features .sp-feature p {
  color: #000;
}
#sp-feature-wrapper .features .sp-feature i {
  color: #afafaf;
  border: 10px solid #fff;
  border-radius: 100%;
  display: inline-block;
  font-size: 36px;
  line-height: 120px;
  height: 120px;
  width: 120px;
}
#sp-portfolio-wrapper {
  padding: 50px 0;
  color: #fff;
}
.sp-portfolio .sp-portfolio-thumb .sp-portfolio-overlay > div > a {
  font-size: 14px !important;
  color: #fff;
}
.sp-portfolio .sp-portfolio-thumb .sp-portfolio-overlay > div > a:hover {
  color: #fff !important;
}
.sp-portfolio .sp-portfolio-item-details {
  text-align: center;
}
.sp-portfolio .sp-portfolio-item-details h4.item-title {
  margin-bottom: 0;
}
.sp-portfolio .sp-portfolio-item-details a {
  color: #fff;
}
#sp-clients-wrapper {
  padding: 50px 0;
  background: #151515;
  color: #888;
}
#sp-clients-wrapper .clients-logo {
  margin-top: 40px;
}
#sp-testimonial-wrapper {
  background: #000;
  padding: 50px 0 0;
  color: #888;
}
#sp-testimonial-wrapper .sp-testimonial {
  position: relative;
}
#sp-testimonial-wrapper h2.module-title {
  text-align: center;
}
#sp-testimonial-wrapper .content_slider_text_block_wrap {
  position: relative;
  top: 35px;
  background: #fff;
  padding: 30px;
  padding-left: 80px;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#sp-testimonial-wrapper .content_slider_text_block_wrap p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #636363;
  font-style: italic;
}
#sp-testimonial-wrapper .content_slider_text_block_wrap i.icon-quote-left {
  font-size: 48px;
  color: #e0e0e0;
  position: absolute;
  left: 20px;
}
#sp-testimonial-wrapper .content_slider_text_block_wrap small {
  font-size: 14px;
  font-style: italic;
  color: #b9b9b9;
}
#sp-testimonial-wrapper .content_slider_text_block_wrap:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 30px;
  margin-left: -30px;
}
#sp-bottom-wrapper {
  background: #151515;
  color: #7a7a7a;
  padding: 50px 0 40px;
}
#sp-bottom-wrapper h2.module-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 20px;
}
#sp-bottom-wrapper h2.module-title .module-subtitle {
  font-size: 11px;
  margin: 0;
  color: #7a7a7a;
}
#sp-bottom-wrapper #sp-bottom4 .custom {
  background: no-repeat;
}
#sp-bottom-wrapper #sp-bottom4 p {
  margin-bottom: 25px;
}
.sp-tweet .sp-tweet-item {
  background: url(../images/twitter-feed-icon.png) no-repeat 0 5px;
  padding: 0 30px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #3a3a3a;
  color: #a3a2a2;
}
.sp-tweet .sp-tweet-item.sp-tweet-first {
  padding-top: 0;
}
.sp-tweet .sp-tweet-item:last-child {
  border-bottom: 0;
}
a.followme {
  display: none !important;
}
#sp-footer-wrapper {
  padding: 30px 0;
}
#sp-footer-wrapper ul {
  display: inline-block;
}
#sp-footer-wrapper ul.nav {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 5px;
}
#sp-footer-wrapper ul.nav li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  line-height: 10px;
  border-right: 1px solid #939393;
}
#sp-footer-wrapper ul.nav li:last-child {
  border-right: 0;
}
#sp-footer-wrapper ul.nav li a {
  text-transform: uppercase;
  display: block;
  color: #000;
  font-size: 12px;
}
#sp-footer-wrapper ul.nav li a:hover {
  background: none;
}
#sp-footer-wrapper .sp-totop {
  display: inline-block;
  float: right;
}
#sp-footer-wrapper .sp-totop i {
  font-size: 24px;
}
#sp-footer-wrapper .sp-totop small {
  display: none;
}
#sp-footer-wrapper .helix-framework {
  display: inline-block;
}
#sp-footer-wrapper .helix-framework .helix-logo {
  display: block;
  width: 130px;
  height: 40px;
  text-indent: -9999px;
  background: url(../images/helix-logo-white.png) no-repeat 0 0;
}
#sp-footer-wrapper .copyright {
  display: block;
}
.ltr #sp-footer-wrapper .helix-framework {
  float: left;
  margin-right: 15px;
}
.ltr #sp-footer-wrapper #sp-footer2 {
  text-align: right;
}
.rtl #sp-footer-wrapper .helix-framework {
  float: right;
  margin-left: 15px;
}
.rtl #sp-footer-wrapper #sp-footer2 {
  text-align: left;
}
#sp-sub-header-wrapper {
  padding: 20px 0;
}
#sp-user-wrapper {
  padding: 50px 0;
}
ul.breadcrumb {
  margin: 10px 0;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}
ul.breadcrumb li {
  font-size: 14px;
  color: #fff;
  text-shadow: none;
}
ul.breadcrumb li a {
  color: #fff;
}
ul.breadcrumb li span.divider {
  color: #fff;
}
#sp-subheader {
  text-align: right;
  color: #fff;
}
#sp-subheader h1 {
  text-transform: capitalize;
  font-size: 30px;
}
#sp-content-wrapper {
  padding: 50px 0;
}
#sp-content-wrapper h2.module-title {
  margin: 30px 0 50px;
}
.sp-team .sp-member {
  background: #f0f0f0;
  padding: 25px 0 0;
}
.sp-team .sp-member h3 {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}
.sp-team .sp-member .social-icons {
  background: #2e3138;
}
.sp-team .sp-member .social-icons a {
  color: #fff;
}
.sp-team .sp-member .social-icons a i {
  font-size: 24px;
  padding: 0;
  width: 55px;
  height: 45px;
  line-height: 36px;
  display: inline-block;
  margin: 0 -2px;
  border-right: 1px solid #363940;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}
.sp-team .sp-member .social-icons a i:hover {
  border-top: 4px solid #2e3138;
}
.sp-team .sp-member .social-icons a i.icon-facebook {
  border-top: 4px solid #2a56ae;
}
.sp-team .sp-member .social-icons a i.icon-facebook:hover {
  background: #2a56ae;
}
.sp-team .sp-member .social-icons a i.icon-twitter {
  border-top: 4px solid #1fafde;
}
.sp-team .sp-member .social-icons a i.icon-twitter:hover {
  background: #1fafde;
}
.sp-team .sp-member .social-icons a i.icon-google-plus {
  border-top: 4px solid #eb5e4c;
}
.sp-team .sp-member .social-icons a i.icon-google-plus:hover {
  background: #eb5e4c;
}
.sp-team .sp-member .social-icons a i.icon-pinterest {
  border-top: 4px solid #d62020;
}
.sp-team .sp-member .social-icons a i.icon-pinterest:hover {
  background: #d62020;
}
.sp-team .sp-member .social-icons a i.icon-linkedin {
  border-top: 4px solid #1fafde;
}
.sp-team .sp-member .social-icons a i.icon-linkedin:hover {
  background: #1fafde;
}
.sp-team .sp-member .social-icons a:last-child i {
  border-right: 0;
}
#sp-module-title h2 {
  font-size: 24px;
}
.quotation {
  background: #f2f2f2;
  color: #989898;
  padding: 20px;
  margin-bottom: 120px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.quotation h2 {
  text-transform: capitalize;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
.quotation a.btn {
  padding: 20px 30px;
  margin: 22px;
}
.service-feature {
  padding: 50px 0 80px;
  position: relative;
}
.service-feature .feature-content {
  padding-right: 100px;
}
.service-feature .feature-content h2 {
  font-size: 24px;
}
.service-feature img.feature-thumb {
  position: absolute;
  top: -55px;
  right: -90px;
}
.sp-features.sp-basic {
  margin-bottom: 20px;
}
.sp-features.sp-basic i {
  font-size: 24px;
  color: #b0b0b0;
  margin: 15px 0;
  display: inline-block;
}
.sp-features.sp-basic h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.sp-features.sp-basic .media-body {
  padding: 0 35px 30px 20px;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
.sp-pricing .plan {
  background: #f6f6f6;
  list-style: none;
  margin: 0 -16px;
  border: 1px solid #ececec;
}
.sp-pricing .plan li {
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
.sp-pricing .plan li.plan-name {
  background: #363636;
  color: #fff;
  padding: 20px 0 0;
  margin: 0 -1px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.sp-pricing .plan li.plan-price {
  background: #363636;
  color: #6e6e6e;
  padding: 0;
  margin: 0 -1px 30px;
  height: 125px;
}
.sp-pricing .plan li.plan-price h2 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  background: #fff;
  display: inline-block;
  width: 130px;
  height: 130px;
  line-height: 130px;
  position: relative;
  bottom: -30px;
  border: 10px solid rgba(0,0,0,0.1);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.sp-pricing .plan li.plan-duration {
  position: relative;
  top: -30px;
  z-index: 10;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6e6e6e;
}
.sp-pricing .plan li:last-child {
  border-bottom: 0;
}
.sp-pricing .plan li.plan-action {
  padding: 35px 0px;
}
.sp-pricing .plan li.plan-action a.btn.btn-primary {
  padding: 10px 25px;
  font-weight: 400;
}
.sp-pricing ul.plan li ul {
  margin: 0;
  padding: 0 35px;
}
.sp-pricing ul.plan li ul li {
  list-style: none;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: #6e6e6e;
  border-bottom: 1px solid #e1e1e1;
}
.money-back {
  border: 1px solid #e1e1e1;
  margin: 0 -15px;
  padding: 10px 25px;
}
.money-back h2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: normal;
}
.money-back p {
  font-weight: 700;
}
.money-back a.btn.btn-primary {
  margin: 20px 0;
  padding: 10px 20px;
  text-transform: capitalize;
  font-weight: 700;
  float: right;
}
.sp-timeline {
  background: url('../images/timeline-separator.png') repeat-y 50% 0;
  text-align: left;
  color: #000;
}
#sp-timeline-wrapper {
  padding: 50px 0;
}
.timeline-left,
.timeline-right {
  float: left;
  width: 50%;
}
.timeline-right {
  padding-top: 50px;
}
.timeline-item {
  margin-bottom: 50px;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-left .timeline-item {
  padding-right: 85px;
}
.timeline-right .timeline-item {
  padding-left: 85px;
}
.timeline-item .timeline-text {
  padding: 20px;
  background: rgba(255,255,255,0.8);
}
h3.timeline-title {
  font-size: 18px;
  background: #fff;
  padding: 15px 20px;
  margin: 0;
}
.timeline-content::before,
.timeline-content::after {
  content: " ";
  position: absolute;
}
.timeline-content::after {
  width: 10px;
  height: 10px;
  top: 25px;
  background: #fff;
  border-radius: 10px;
}
.timeline-left .timeline-content::after {
  right: -5px;
}
.timeline-right .timeline-content::after {
  left: -5px;
}
.timeline-content::before {
  width: 85px;
  height: 1px;
  top: 30px;
  background: #fff;
}
.timeline-left .timeline-content::before {
  right: 0;
}
.timeline-right .timeline-content::before {
  left: 0;
}
ul.sp-portfolio-filter {
  text-align: center;
  margin-bottom: 50px !important;
}
ul.sp-portfolio-filter li a.btn {
  background: none !important;
  border: 1px solid #cecece;
  color: #bababa !important;
  padding: 8px 12px;
  margin-right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
ul.sp-portfolio-filter li a.btn.active {
  color: #fff !important;
  border: 1px solid transparent;
}
.item-page .sp-portfolio .sp-portfolio-item-details {
  text-align: center;
}
.item-page .sp-portfolio .sp-portfolio-item-details h4.item-title {
  margin-bottom: 0;
}
.contact-map {
  padding: 10px;
  border: 1px solid #f0f0f0;
}
.rtl #sp-main-menu li li:not(.sp-menu-group).parent >a:after {
  left: 10px;
  right: auto;
}
.rtl #sp-main-menu li li:not(.sp-menu-group).parent >a:after {
  content: "\f053";
}
.rtl .sp-optima-layout .sp-slider-controllers .controller-next:before {
  content: "\f104" !important;
}
.rtl .sp-optima-layout .sp-slider-controllers .controller-prev:before {
  content: "\f105" !important;
}
.rtl #sp-search .search i {
  left: 10px;
  right: auto;
}
.rtl #sp-top-info ul.social-icons,
.rtl #sp-top-info img.hotline {
  float: left;
}
.rtl #sp-top-info ul.social-icons {
  margin-left: 0;
}
.rtl .sp-tweet .sp-tweet-item {
  background: url(../images/twitter-feed-icon-rtl.png) no-repeat 100% 5px;
}
.rtl #sp-footer-wrapper .sp-totop {
  float: left;
}
.rtl #sp-footer-wrapper ul.nav li {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  line-height: 10px;
  border-left: 1px solid #939393;
  border-right: 0;
  margin-right: auto;
  padding-right: 0;
}
.rtl #sp-subheader h1 {
  text-align: left;
}
#sp-main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sp-main-menu ul.level-0 > li {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0;
  position: relative;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
#sp-main-menu ul.level-0 > li >a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin: 0;
  padding: 10px;
  color: #fff;
}
#sp-main-menu ul.level-0 > li >a .menu-desc {
  font-size: 11px;
  color: #fff;
  display: block;
}
#sp-main-menu ul.level-0 > li:hover,
#sp-main-menu ul.level-0 > li.active {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#sp-main-menu ul.level-0 > li.parent:hover {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#sp-main-menu li li:not(.sp-menu-group) {
  display: block;
  position: relative;
  text-transform: capitalize;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
#sp-main-menu li li:not(.sp-menu-group):first-child {
  border-top: none;
}
#sp-main-menu li li:not(.sp-menu-group) a {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}
#sp-main-menu li li:not(.sp-menu-group).parent >a span.menu {
  position: relative;
  padding-right: 20px;
  display: block;
}
#sp-main-menu li li:not(.sp-menu-group).parent >a:after {
  content: "\f054";
  font-family: FontAwesome;
  font-size: 10px;
  font-weight: normal;
  position: absolute;
  right: 10px;
  top: 15px;
}
#sp-main-menu div.sp-menu-group {
  margin: 10px;
}
#sp-main-menu div.sp-menu-group a.sp-menu-group {
  display: block;
  padding: 10px;
  color: #fff;
}
#sp-main-menu div.sp-menu-group a.sp-menu-group .menu-title {
  text-transform: uppercase;
}
#sp-main-menu div.sp-menu-group p {
  color: #fff;
}
#sp-main-menu div.sp-menu-group .sp-menu-group-content .module {
  margin: 0;
  padding: 10px 0 0;
  text-transform: none;
  font-weight: normal;
  font-size: 14px;
}
#sp-main-menu div.sp-menu-group .sp-menu-group-content .module h4 {
  font-size: 14px;
}
.sp-submenu {
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  margin-top: 30px;
  -webkit-transition: margin 100ms, visibility 100ms, opacity 100ms;
  -moz-transition: margin 100ms, visibility 100ms, opacity 100ms;
  -o-transition: margin 100ms, visibility 100ms, opacity 100ms;
  transition: margin 100ms, visibility 100ms, opacity 100ms;
}
.sp-submenu.open {
  z-index: 99999;
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  -webkit-transition: margin 300ms, visibility 300ms, opacity 300ms;
  -moz-transition: margin 300ms, visibility 300ms, opacity 300ms;
  -o-transition: margin 300ms, visibility 300ms, opacity 300ms;
  transition: margin 300ms, visibility 300ms, opacity 300ms;
}
.sp-submenu .sp-submenu-wrap {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
}
.sp-submenu .megacol {
  float: left;
}
.sp-submenu.sub-level-child {
  margin-left: 30px;
  margin-top: 0;
}
.sp-submenu.sub-level-child.open {
  margin-left: 0px;
}
.ltr .sp-submenu {
  left: 0;
}
.rtl .sp-submenu {
  right: 0;
}
.rtl #sp-main-menu {
  float: right;
}
.rtl #sp-main-menu ul.level-0 > li:hover >a:after,
.rtl #sp-main-menu ul.level-0 > li.active >a:after {
  margin: 0 -10px 0 0;
}
.rtl #sp-main-menu ul.level-0 > li.parent >a span.menu {
  padding: 0 10px;
  padding-right: 0;
}
.rtl #sp-main-menu li li:not(.sp-menu-group).parent >a span.menu {
  padding-right: 0;
  padding-left: 20px;
}
.menu-fixed {
  top: 0;
  width: 100%;
}
.fixed .hidden-desktop {
  display: none;
}
.module {
  margin-top: 20px;
}
.module:first-child {
  margin-top: 0;
}
.module h2.module-title {
  font-size: 36px;
  font-weight: 900;
  margin: 0 0 10px 0;
}
.module h2.module-title .module-subtitle {
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin: 10px 0 30px;
}
.module.highlighted,
.module.orange,
.module.dark,
.module.green,
.module.maroon,
.module.blue,
.module.gray,
.module.pink,
.module.red,
.module.navy-blue,
.module.dark-ash,
.module.dark-red {
  padding: 20px;
  color: #fff;
}
.module.highlighted h3,
.module.orange h3,
.module.dark h3,
.module.green h3,
.module.maroon h3,
.module.blue h3,
.module.gray h3,
.module.pink h3,
.module.red h3,
.module.navy-blue h3,
.module.dark-ash h3,
.module.dark-red h3 {
  font-size: 24px;
  font-weight: 100;
  padding: 0 0 10px 0;
  color: #fff;
  line-height: normal;
  text-transform: capitalize;
}
.module.orange {
  background: #f89406;
}
.module.orange a {
  color: #B66B00;
}
.module.orange a:hover {
  color: #6F4100;
}
.module.dark {
  background: #000;
}
.module.dark a {
  color: #777;
}
.module.dark a:hover {
  color: #888;
}
.module.green {
  background: #46a546;
}
.module.green a {
  color: #63E063;
}
.module.green a:hover {
  color: #43F043;
}
.module.maroon {
  background: #F35D34;
}
.module.maroon a {
  color: #B4300D;
}
.module.maroon a:hover {
  color: #C93F19;
}
.module.blue {
  background: #049cdb;
}
.module.blue a {
  color: #47C9FF;
}
.module.blue a:hover {
  color: #0073A3;
}
.module.gray {
  background: #555;
}
.module.gray a {
  color: #999;
}
.module.gray a:hover {
  color: #777;
}
.module.pink {
  background: #c3325f;
}
.module.pink a {
  color: #FF5C8F;
}
.module.pink a:hover {
  color: #FA2E6E;
}
.module.red {
  background: #9d261d;
}
.module.red a {
  color: #EE4538;
}
.module.red a:hover {
  color: #DA3F33;
}
.module.navy-blue {
  background: #365a76;
}
.module.navy-blue a {
  color: #EE4538;
}
.module.navy-blue a:hover {
  color: #DA3F33;
}
.module.navy-blue i {
  margin: 3px 15px 0 0;
}
.module.dark-ash {
  background: #3a3a3a;
}
.module.dark-ash a {
  color: #EE4538;
}
.module.dark-ash a:hover {
  color: #DA3F33;
}
.module.dark-ash i {
  margin: 3px 15px 0 0;
}
.module.dark-red {
  background: #c74c45;
}
.module.dark-red a {
  color: #EE4538;
}
.module.dark-red a:hover {
  color: #DA3F33;
}
.module.dark-red i {
  margin: 3px 15px 0 0;
}
.module.highlighted {
  background: #3498DB;
}
.module.highlighted a {
  color: #fff !important;
}
#sp-right h2.module-title,
#sp-left h2.module-title {
  font-size: 14px;
}
h1,
h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 900;
}
h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  text-transform: uppercase;
}
.btn.btn-primary,
.readmore,
a.ns2-readmore,
.btn,
#community-wrap .btn,
button,
input[type="submit"] {
  padding: 10px;
  text-transform: uppercase;
  background-image: none;
  font-size: 14px;
  font-weight: 700;
  box-shadow: none;
  text-shadow: none;
  border: 0;
  color: #fff !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 400ms !important;
  -moz-transition: 400ms !important;
  -o-transition: 400ms !important;
  transition: 400ms !important;
}
.btn-danger {
  background: #ea5e50;
}
.btn-danger:hover {
  background: #e53422;
}
.sp-dropcap {
  overflow: hidden;
}
.sp-dropcap:first-letter {
  color: #666;
  display: block;
  float: left;
  font-size: 50px;
  line-height: 40px;
  padding: 4px 8px 0 0;
}
ul.arrow,
ul.arrow-double,
ul.tick,
ul.cross,
ul.star,
ul.rss {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.arrow li::before,
ul.arrow li::after,
ul.arrow-double li::before,
ul.arrow-double li::after,
ul.tick li::before,
ul.tick li::after,
ul.cross li::before,
ul.cross li::after,
ul.star li::before,
ul.star li::after,
ul.rss li::before,
ul.rss li::after {
  font-family: FontAwesome;
  font-size: 11px;
}
.ltr ul.arrow li::before,
.ltr ul.arrow-double li::before,
.ltr ul.tick li::before,
.ltr ul.cross li::before,
.ltr ul.star li::before,
.ltr ul.rss li::before {
  margin-right: 5px;
}
.ltr ul.arrow li::before {
  content: "\f105";
}
.ltr ul.arrow-double li::before {
  content: "\f101";
}
.ltr ul.tick li::before {
  content: "\f00c";
}
.ltr ul.cross li::before {
  content: "\f00d";
}
.ltr ul.star li::before {
  content: "\f006";
}
.ltr ul.rss li::before {
  content: "\f09e";
}
.rtl ul.arrow li::after,
.rtl ul.arrow-double li::after,
.rtl ul.tick li::after,
.rtl ul.cross li::after,
.rtl ul.star li::after,
.rtl ul.rss li::after {
  margin-left: 5px;
}
.rtl ul.arrow li::after {
  content: "\f104";
}
.rtl ul.arrow-double li::after {
  content: "\f100";
}
.rtl ul.tick li::after {
  content: "\f00c";
}
.rtl ul.cross li::after {
  content: "\f00d";
}
.rtl ul.star li::after {
  content: "\f006";
}
.rtl ul.rss li::after {
  content: "\f09e";
}
img.pull-left,
.pull-left > img {
  margin-right: 15px;
}
img.pull-right,
.pull-right > img {
  margin-left: 15px;
}
.rtl img.pull-left,
.rtl .pull-left > img {
  margin-left: 15px;
}
.rtl img.pull-right,
.rtl .pull-right > img {
  margin-right: 15px;
}
.sp-blocknumber {
  position: relative;
  min-height: 45px;
}
.sp-blocknumber span {
  font-weight: bold;
  width: 48px;
  height: 48px;
  line-height: 48px;
  display: block;
  text-align: center;
  position: absolute;
  top: 0;
}
.sp-blocknumber span.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sp-blocknumber span.circle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.ltr .sp-blocknumber {
  padding: 5px 0 5px 60px;
}
.ltr .sp-blocknumber span {
  left: 0;
}
.rtl .sp-blocknumber {
  padding: 5px 60px 5px 0;
}
.rtl .sp-blocknumber span {
  right: 0;
}
.sp-block.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sp-bubble {
  position: relative;
  margin-bottom: 40px;
}
.sp-bubble cite {
  display: block;
  height: 30px;
  line-height: 36px;
  position: absolute;
  bottom: -30px;
}
.sp-bubble cite span {
  content: ' ';
  position: absolute;
  top: 0;
  display: block;
  width: 0;
  height: 0;
  border-bottom-color: transparent !important;
}
.ltr .sp-bubble cite {
  left: 15px;
  padding-left: 40px;
}
.ltr .sp-bubble cite span {
  left: 0;
  border-left-color: transparent !important;
}
.rtl .sp-bubble cite {
  right: 15px;
  padding-right: 40px;
}
.rtl .sp-bubble cite span {
  right: 0;
  border-right-color: transparent !important;
}
.ltr [class^="icon-"].pull-left,
.ltr [class*=" icon-"].pull-left {
  margin-right: .3em;
}
.ltr [class^="icon-"].pull-right,
.ltr [class*=" icon-"].pull-right {
  margin-left: .3em;
}
.rtl [class^="icon-"].pull-left,
.rtl [class*=" icon-"].pull-left {
  margin-left: .3em;
}
.rtl [class^="icon-"].pull-right,
.rtl [class*=" icon-"].pull-right {
  margin-right: .3em;
}
.sp-animation.sp-scaleup .row-fluid >div {
  opacity: 0;
}
.sp-animation.sp-scaleup.sp-inview .row-fluid [class*="span"]:nth-child(1) {
  -webkit-animation: fadeInUp 300ms linear 100ms both;
  -moz-animation: fadeInUp 300ms linear 100ms both;
  -ms-animation: fadeInUp 300ms linear 100ms both;
  -o-animation: fadeInUp 300ms linear 100ms both;
  animation: fadeInUp 300ms linear 100ms both;
}
.sp-animation.sp-scaleup.sp-inview .row-fluid [class*="span"]:nth-child(2) {
  -webkit-animation: fadeInUp 300ms linear 400ms both;
  -moz-animation: fadeInUp 300ms linear 400ms both;
  -ms-animation: fadeInUp 300ms linear 400ms both;
  -o-animation: fadeInUp 300ms linear 400ms both;
  animation: fadeInUp 300ms linear 400ms both;
}
.sp-animation.sp-scaleup.sp-inview .row-fluid [class*="span"]:nth-child(3) {
  -webkit-animation: fadeInUp 300ms linear 800ms both;
  -moz-animation: fadeInUp 300ms linear 800ms both;
  -ms-animation: fadeInUp 300ms linear 800ms both;
  -o-animation: fadeInUp 300ms linear 800ms both;
  animation: fadeInUp 300ms linear 800ms both;
}
.sp-animation.sp-scaleup.sp-inview .row-fluid [class*="span"]:nth-child(4) {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}
.sp-animation.sp-fadein {
  opacity: 0;
}
.sp-animation.sp-fadein.sp-inview {
  -webkit-animation: fadeInUp 300ms linear 100ms both;
  -moz-animation: fadeInUp 300ms linear 100ms both;
  -ms-animation: fadeInUp 300ms linear 100ms both;
  -o-animation: fadeInUp 300ms linear 100ms both;
  animation: fadeInUp 300ms linear 100ms both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .responsive #sp-top-info ul.social-icons {
    margin-top: 10px;
  }
  .responsive #sp-top-info img.hotline {
    margin-top: 5px;
  }
  .responsive .sp-team .sp-member 
		.social-icons a i {
    width: 45px;
  }
  .responsive .sp-optima-layout .sp-slider-content .sp-introtext {
    margin: 25px 250px 20px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .responsive img.hotline {
    float: right;
    margin-top: 5px;
  }
  .responsive .sp-main-menu-toggler {
    left: 20px;
    right: auto;
    top: 20px;
  }
  .responsive .sp-mobile-menu {
    top: 80px;
    z-index: 10;
  }
  .responsive .menu-fixed {
    position: relative !important;
  }
  .responsive #sp-slide .sp-slider-content h1.sp-title {
    font-size: 26px;
  }
  .responsive .sp-optima-layout .sp-slider-content .sp-introtext {
    margin: 25px 100px 20px;
  }
  .responsive div.default .sp-portfolio-thumb 
		.sp-portfolio-overlay > div > a {
    width: 60px !important;
    font-size: 9px !important;
  }
  .responsive img.sp_simple_gallery {
    margin-right: 5px;
  }
  .responsive #sp-footer-wrapper ul.nav {
    margin: 0;
  }
  .responsive #sp-footer-wrapper ul.nav li {
    margin-right: 2px;
    padding-right: 2px;
  }
  .responsive .sp-team .sp-member .social-icons a i {
    font-size: 16px;
    width: 34px;
    height: 34px;
    line-height: 32px;
  }
}
@media (max-width: 767px) {
  .responsive.bg {
    padding-left: 0;
    padding-right: 0;
  }
  .responsive .container {
    padding: 0 10px;
    max-width: 480px;
    min-width: 280px;
  }
  .responsive #sp-top-wrapper {
    padding: 0 0 20px;
  }
  .responsive .sp-mobile-menu {
    z-index: 10;
  }
  .responsive #sp-search {
    text-align: left;
    width: 80%;
  }
  .responsive #sp-header-wrapper #sp-logo {
    width: auto;
    float: left;
  }
  .responsive #sp-header-wrapper #sp-top-info {
    width: auto;
    float: right;
  }
  .responsive #sp-header-wrapper #sp-top-info ul.social-icons {
    float: none;
    margin: 20px 0 0 0;
  }
  .responsive #sp-header-wrapper #sp-top-info img.hotline {
    float: left;
  }
  .responsive #sp-header-wrapper #sp-top-info .module {
    margin: 0;
  }
  .responsive #sp-header-wrapper .logo {
    width: 170px !important;
    background-size: contain !important;
  }
  .responsive .menu-fixed {
    position: relative !important;
  }
  .responsive .sp-optima-layout .sp-slider-content .sp-introtext {
    margin: 10px 0 20px;
  }
  .responsive #sp-slide .sp-slider-content h1.sp-title {
    font-size: 20px;
    margin-top: 35px;
  }
  .responsive .sp-slider-thumb img {
    width: 65%;
  }
  .responsive .sp-optima-layout  .sp-slider-controllers .controller-prev,
  .responsive .sp-optima-layout  .sp-slider-controllers .controller-next {
    font-size: 52px !important;
    line-height: 56px !important;
    width: 52px;
    height: 58px;
  }
  .responsive div.default .col-4 {
    width: 50%;
  }
  .responsive .module h2.module-title,
  .responsive #sp-portfolio h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .responsive .module h2.module-title .module-subtitle,
  .responsive #sp-portfolio h3 {
    font-size: 14px;
  }
  .responsive #sp-footer-wrapper {
    text-align: center;
  }
  .responsive #sp-footer-wrapper #sp-footer2 {
    text-align: center;
  }
  .responsive #sp-breadcrumb {
    width: auto;
    float: left;
  }
  .responsive .sp-pricing .plan {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .responsive #sp-header-wrapper #sp-top-info ul.social-icons {
    float: none;
  }
  .responsive #sp-header-wrapper #sp-top-info ul.social-icons i {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
  }
  .responsive #sp-header-wrapper .logo {
    width: 145px !important;
    background-size: contain !important;
  }
  .responsive #sp-slide .sp-slider-content h1.sp-title {
    font-size: 16px;
    line-height: 20px;
  }
  .responsive #sp-slide .sp-slider-content a.btn {
    font-size: 14px;
    font-weight: 700;
    padding: 8px 0;
    width: 110px;
  }
  .responsive .sp-optima-layout .sp-slider-content .sp-introtext {
    margin: 5px 0 20px;
    font-size: 14px !important;
  }
  .responsive .sp-optima-layout .sp-full-text {
    margin-bottom: 10px;
  }
  .responsive .sp-optima-layout  .sp-slider-controllers .controller-prev,
  .responsive .sp-optima-layout  .sp-slider-controllers .controller-next {
    font-size: 42px !important;
    line-height: 48px !important;
    width: 48px;
    height: 48px;
  }
  .responsive #sp-feature-wrapper {
    padding-top: 0;
  }
  .responsive .timeline-left .timeline-item {
    padding-right: 25px;
  }
  .responsive .timeline-right .timeline-item {
    padding-left: 25px;
  }
  .responsive .timeline-content::before {
    width: 30px;
  }
  .responsive .service-feature img.feature-thumb {
    width: 65%;
  }
  .responsive ul.sp-portfolio-filter li a.btn {
    font-size: 12px;
    padding: 5px;
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .responsive #sp-header-wrapper {
    padding: 5px 0 20px;
  }
  .responsive #sp-header-wrapper #sp-top-info {
    float: left;
  }
  .responsive #sp-header-wrapper img.hotline {
    width: 90%;
  }
  .responsive .sp-slider-thumb img {
    display: none !important;
  }
  .responsive .sp-optima-layout  .sp-slider-controllers .controller-prev,
  .responsive .sp-optima-layout  .sp-slider-controllers .controller-next {
    width: 36px;
  }
  .responsive div.default .sp-portfolio-thumb 
		.sp-portfolio-overlay > div > a {
    width: 60px !important;
    font-size: 9px !important;
  }
  .responsive #sp-subheader h1 {
    font-size: 14px;
  }
}
