
.jvslider > .items{position: relative; margin: 0; height: 200px; overflow: hidden;}
.jvslider > .items > li{position: absolute;left: 0; top: 0; list-style:none; height: 200px; padding: 0 5px;}
.jvslider > .items > li > img{width: auto !important; height: 100%; max-width: none;}