/*---------------------------------------------------------------
# Package - Joomla Template based on Helix Framework   
# ---------------------------------------------------------------
# Author - JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
# license - PHP files are licensed under  GNU/GPL V2
# license - CSS  - JS - IMAGE files  are Copyrighted material 
# Websites: http://www.joomshaper.com
-----------------------------------------------------------------*/
a,ul.tabs_container li.tab.active span,#sp-pagetitle-outer h2{color:#066}
a:hover,a:active,a:focus{color:#057e7e}

/*a button*/
a.readmore,.comments, input.button, a.details, .adminform button,#adminForm button,.button,button[type=submit],input[type=submit],input[type=button],
div.itemCommentsForm form input#submitCommentButton, div.pagination ul li a
{
	background-color: #006565;
	color: #fff;

	background-image: -webkit-linear-gradient(top, #017575, #006565);
	background-image: -moz-linear-gradient(top, #017575, #006565);
	background-image: -o-linear-gradient(top, #017575, #006565);
	background-image: -ms-linear-gradient(top, #017575, #006565);
	background-image: linear-gradient(top, #017575, #006565);
	-image background-repeat: repeat-x;

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	border: 1px solid #035C5C;
}

/*Header & Slideshow*/
#header-wrapper, #sp-slide-grid {background-color:#003333}
#logo {background-image:url(../../images/styles/style2/logo.png)}
.sp_slide_btnnext{background:url(../../images/styles/style2/slide_btn_prev.png) no-repeat center}
.sp_slide_btnprev{background:url(../../images/styles/style2/slide_btn_next.png) no-repeat center}

/*Top Level*/
#hornav ul.level-0 > li.menu-item:hover,
#hornav ul.level-0 > li.menu-item.active{background:url(../../images/styles/style2/nav_bg.png) repeat-x;}
#hornav ul.level-0 > li.menu-item:hover > a.menu-item,
#hornav ul.level-0 > li.menu-item.active > a.menu-item {background:url(../../images/styles/style2/nav_arrow.png) no-repeat 50% 0;}

#sublevel ul.level-1 > li.menu-item.parent:hover > a.menu-item,
#sublevel ul.level-1 > li.menu-item.parent:hover > a.menu-item{background:url(../../images/styles/style2/hornav_active.png) 50% bottom no-repeat;}
#hornav ul.level-0 > li.menu-item > a.menu-item{text-shadow:none}
#hornav ul li .submenu-inner,#sublevel ul li .submenu-inner {background-color:#066}
#hornav li.menu-item li.menu-item,
#sublevel li.menu-item li.menu-item {border-top:1px solid #068585;border-bottom:1px solid #004b4b}
#hornav .group-title {border-bottom:4px solid #004b4b;}

/*Mod Wrapper*/
.module_menu .mod-wrapper li:hover a,.module_menu .mod-wrapper li.active a{color:#c73f3f;font-weight:700}
.mod-wrapper h3.header span, .login h1{background:#066;}
.mod-wrapper h3.header span:before, .login h1:before{border-color: #033 #033 #033 transparent}
.mod-wrapper h3.header span:after, .login h1:after{border-color: #033 transparent #033 #033}

/*Speaker*/
.sp_speaker_content {background: #006666}
.sp_speaker_content:after {border-right-color: #006666}
.rtl .sp_speaker_content:after {border-left-color: #006666}

/*Event details*/
.schedule span.sctime{background:#066;color:#fff}
.event-address{color:#033}

/*K2 Blog type Date*/
div.sp-blog-date, div.spk2-blog-date {background:#066}

/*Ticket Grid*/
.sp-highlight-bar{background:#066}
.sp-highlight-bar::after{border-color: #066 transparent #066 #066}
.rtl .sp-highlight-bar::after{border-color: #066 #066 #066 transparent!important}

/*Ticket Price*/
.price-table .price-wrap .price-top{background:url(../../images/styles/style2/price_top.png) no-repeat center bottom}
.price-table .price-wrap .price span, .price-table .price-wrap .buy_link span{color:#066}


