/*---------------------------------------------------------------
# Package - Joomla Template based on Helix Framework   
# ---------------------------------------------------------------
# Author - JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
# license - PHP files are licensed under  GNU/GPL V2
# license - CSS  - JS - IMAGE files  are Copyrighted material 
# Websites: http://www.joomshaper.com
-----------------------------------------------------------------*/
a,ul.tabs_container li.tab.active span,#sp-pagetitle-outer h2{color:#d9c359}
a:hover,a:active,a:focus{color:#c6b048}

/*a button*/
a.readmore,.comments, input.button, a.details, .adminform button,#adminForm button,.button,button[type=submit],input[type=submit],input[type=button],
div.itemCommentsForm form input#submitCommentButton, div.pagination ul li a
{background-color: #c0ac4a;color:#fff;
	background-image: -webkit-linear-gradient(top, #c0ac4a, #cdb855);
	background-image: -moz-linear-gradient(top, #c0ac4a, #cdb855);
	background-image: -o-linear-gradient(top, #c0ac4a, #cdb855);
	background-image: -ms-linear-gradient(top, #c0ac4a, #cdb855);
	background-image: linear-gradient(top, #c0ac4a, #cdb855);
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	border:1px solid #c1ad4b
}

/*Header & Slideshow*/
#header-wrapper, #sp-slide-grid {background-color:#3b4060}
#logo {background-image:url(../../images/styles/style8/logo.png)}
.sp_slide_btnnext{background:url(../../images/styles/style8/slide_btn_prev.png) no-repeat center}
.sp_slide_btnprev{background:url(../../images/styles/style8/slide_btn_next.png) no-repeat center}

/*Top Level*/
#hornav ul.level-0 > li.menu-item:hover,
#hornav ul.level-0 > li.menu-item.active{background:url(../../images/styles/style8/nav_bg.png) repeat-x;}
#hornav ul.level-0 > li.menu-item:hover > a.menu-item,
#hornav ul.level-0 > li.menu-item.active > a.menu-item {background:url(../../images/styles/style8/nav_arrow.png) no-repeat 50% 0;}

#sublevel ul.level-1 > li.menu-item.parent:hover > a.menu-item,
#sublevel ul.level-1 > li.menu-item.parent:hover > a.menu-item{background:url(../../images/styles/style8/hornav_active.png) 50% bottom no-repeat;}
#hornav ul.level-0 > li.menu-item > a.menu-item{text-shadow:none}
#hornav ul li .submenu-inner,#sublevel ul li .submenu-inner {background-color:#d9c359}
#hornav li.menu-item li.menu-item,
#sublevel li.menu-item li.menu-item {border-top:1px solid #c2ad48;border-bottom:1px solid #e7d371}
#hornav .group-title {border-bottom:4px solid #c2ad48;}

/*Mod Wrapper*/
.mod-wrapper h3.header span, .login h1{background:#d9c359;}
.mod-wrapper h3.header span:before, .login h1:before{border-color: #b19c34 #b19c34 #b19c34 transparent}
.mod-wrapper h3.header span:after, .login h1:after{border-color: #b19c34 transparent #b19c34 #b19c34}

/*Speaker*/
.sp_speaker_content {background: #d9c359}
.sp_speaker_content:after {border-right-color: #d9c359}
.rtl .sp_speaker_content:after {border-left-color: #d9c359}

/*Event details*/
.schedule span.sctime{background:#d9c359;color:#fff}
.event-address{color:#d9c359}

/*K2 Blog type Date*/
div.sp-blog-date, div.spk2-blog-date {background:#d9c359}

/*Ticket Grid*/
.sp-highlight-bar{background:#d9c359}
.sp-highlight-bar::after{border-color: #d9c359 transparent #d9c359 #d9c359}
.rtl .sp-highlight-bar::after{border-color: #d9c359 #d9c359 #d9c359 transparent!important}

/*Ticket Price Table*/
.price-table .price-wrap .price-top{background:url(../../images/styles/style8/price_top.png) no-repeat center bottom}
.price-table .price-wrap .price span, .price-table .price-wrap .buy_link span{color:#d9c359}
