/*---------------------------------------------------------------
# Package - Joomla Template based on Helix Framework   
# ---------------------------------------------------------------
# Author - JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
# license - PHP files are licensed under  GNU/GPL V2
# license - CSS  - JS - IMAGE files  are Copyrighted material 
# Websites: http://www.joomshaper.com
-----------------------------------------------------------------*/
a,ul.tabs_container li.tab.active span,#sp-pagetitle-outer h2{color:#c73f3f}
a:hover,a:active,a:focus{color:#333}

/*a button*/
a.readmore,.comments, input.button, a.details, .adminform button,#adminForm button,.button,button[type=submit],input[type=submit],input[type=button],
div.itemCommentsForm form input#submitCommentButton, div.pagination ul li a
{	
	background-color: #da4246;
	color: #fff;

	background-image: -webkit-linear-gradient(top, #da4246, #cc363a);
	background-image: -moz-linear-gradient(top, #da4246, #cc363a);
	background-image: -o-linear-gradient(top, #da4246, #cc363a);
	background-image: -ms-linear-gradient(top, #da4246, #cc363a);
	background-image: linear-gradient(top, #da4246, #cc363a);
	-image background-repeat: repeat-x;

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	border: 1px solid #a20d10;
}

/*Header & Slideshow*/
#header-wrapper, #sp-slide-grid {background-color:#320632}
#logo {background-image:url(../../images/styles/style1/logo.png)}
.sp_slide_btnnext{background:url(../../images/styles/style1/slide_btn_prev.png) no-repeat center}
.sp_slide_btnprev{background:url(../../images/styles/style1/slide_btn_next.png) no-repeat center}

/*Top Level*/
#hornav ul.level-0 > li.menu-item:hover,
#hornav ul.level-0 > li.menu-item.active{background:url(../../images/styles/style1/nav_bg.png) repeat-x;}
#hornav ul.level-0 > li.menu-item:hover > a.menu-item,
#hornav ul.level-0 > li.menu-item.active > a.menu-item {background:url(../../images/styles/style1/nav_arrow.png) no-repeat 50% 0;}

#sublevel ul.level-1 > li.menu-item.parent:hover > a.menu-item,
#sublevel ul.level-1 > li.menu-item.parent:hover > a.menu-item{background:url(../../images/styles/style1/hornav_active.png) 50% bottom no-repeat;}
#hornav ul.level-0 > li.menu-item > a.menu-item{text-shadow:none}
#hornav ul li .submenu-inner,#sublevel ul li .submenu-inner {background-color:#ec2027}
#hornav li.menu-item li.menu-item,
#sublevel li.menu-item li.menu-item {border-top:1px solid #fd464d;border-bottom:1px solid #d1181e}
#hornav .group-title {border-bottom:4px solid #fd464d;}

/*Mod Wrapper*/
.mod-wrapper h3.header span, .login h1{background:#b5121b;}
.mod-wrapper h3.header span:before, .login h1:before{border-color: #8f1c20 #8f1c20 #8f1c20 transparent}
.mod-wrapper h3.header span:after, .login h1:after{border-color: #8f1c20 transparent #8f1c20 #8f1c20}

/*Speaker*/
.sp_speaker_content {background: #ed1f24}
.sp_speaker_content:after {border-right-color: #ed1f24}
.rtl .sp_speaker_content:after {border-left-color: #ed1f24}

/*Event details*/
.schedule span.sctime{background:#C73F3F;color:#fff}
.event-address{color:#c73f3f}

/*K2 Blog type Date*/
div.sp-blog-date, div.spk2-blog-date {background:#ec2027}

/*Ticket Grid*/
.sp-highlight-bar{background:#c73f3f}
.sp-highlight-bar::after{border-color: #c73f3f transparent #c73f3f #c73f3f}
.rtl .sp-highlight-bar::after{border-color: #c73f3f #c73f3f #c73f3f transparent!important}

/*Ticket Price Table*/
.price-table .price-wrap .price-top{background:url(../../images/styles/style1/price_top.png) no-repeat center bottom}
.price-table .price-wrap .price span, .price-table .price-wrap .buy_link span{color:#D63F43}
