body { -webkit-overflow-scrolling: touch;}
#logo { margin:0 !important;left: 15px;}
#logo .text {line-height:40px; font-size:24px;}

#block-header {text-align:center; }
#block-header .container {    min-height: 0;}


@media (min-width: 401px) and (max-width: 767px) { /* Mobile  larger */
}

@media (max-width: 400px) { /* Mobile small */

}
